
<div class="animateMainContainer" >
	<!-- <div class="vid-ani-bg">
		<video width="100%" autoplay>
	        <source src="images/N18.mp4" type="video/mp4">
	    </video>
	</div> -->
	<div class="animateN18"><img src="images/Network18logo_W.png" alt="" class=""></div>
	<!-- <img src="images/Layer_3.png" alt="" class="animateBg"> -->
	<img src="images/pixalate.png" alt="" class="animateBg2">
	<div class="animateTextCont">
		<div class="frontText frontText1">
			<h2>700 MILLION</h2>
			<h1>TV VIEWERS</h1>
			<h5><sup>*</sup>per month</h5>
		</div>
		<div class="frontText frontText2">
			<h2>100 MILLION</h2>
			<h1>DIGITAL VIEWERS</h1>
			<h5><sup>*</sup>unique visits per month</h5>
		</div>	
	</div>
	<div class="homeIconCont centerIcon" style="">
		 <a href="/home" style="display: none;"><span class="badgeCont"><img src="images/aerrow_r.png" style="" alt="" class="arrowAnimate"></span></a>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('.headerPrimaryCont.animateHeader.animateHeaderHome').css('opacity', '0');
		var windowHeight = $(window).height();
		var windowWidth = $(window).width();
    
    if (windowWidth<1000) {
      $('.animateHeaderHome').hide();
    }
		$('.animateMainContainer').width(windowWidth);
		$('.animateMainContainer').height(windowHeight);
		// setTimeout(function() {
		$('.animateBg2').animate({
			opacity :1,
			},2000, function() {
				
		});
		$('.animateN18').children('img').animate({
			height: 40,
			opacity:1
		},2000, function() {
			$('.headerPrimaryCont').animate({top:0}, 1000);
				$('.animateN18').children('img').animate({
					
					bottom: 5000+'%'
				},1000);
				$('.frontText1').animate({
					opacity: 1,
					top:0
				},1000, function() {
          $('.headerPrimaryCont.animateHeader.animateHeaderHome').animate({opacity: 1}, 1500);
					$('.frontText1').animate({
						opacity: 0
					},
						2000, function() {
							$('.frontText2').animate({
								opacity: 1,
								top:0
							},
								1000, function() {
										$('.frontText2').animate({
											opacity: 0
										},2000);
										$('.homeIconCont.centerIcon').animate({
												bottom:0,
												height:42,
												opacity:1
										},400);
					 	 });
					});
					
				});
		});


	});
</script>