<div class="mainBodyContainerFull" style="padding-top: 0vh;height: auto;">
	<div class="headerFiller"></div>
	<a class="fixed-link-top" href="/investors"><span class="">INVESTORS RELATIONS</span></span></a>
	<!--  -->
	<!-- <div class="bottomSticky">
		<a href="#">
			<div><i class="fa fa-caret-up"></i></div>
			TOP
		</a>

	</div> -->
	
	<div class="portfolioContainer corpMainCont">
		<div class="newsVideoCont videTextCont bg-parallax" du-parallax opacity="fadeIn"  y="background"  id="portfolioNews">
			<!-- <h2 class="videoOverText">Recent. Relevant. Refreshing</h2> -->
			<div class="video-cont" >
				<div class="vid-bg"></div>
				<video class="mobHide" width="100%" autoplay="" loop="">
					<source src="images/footage/26911270-hd_INVESTORS-graded.mp4" type="video/mp4" class="top">
				</video>
				<video class="mobShow" width="100%" autoplay="" loop="">
					<source src="images/footage/MOBILE_SIZE/26911270-hd_INVESTORS-mobile.mp4" type="video/mp4" class="top">
				</video>
			</div>
		</div>
		<div class="vid-arr">
			<!-- <img src="/images/aerrow_white.png" class="arrowTopAnimate" alt=""> -->
			<span class="arrText">scroll</span>
			<span class="animateHeight"></span>
			<span class="animateHeightBg"></span>
		</div>
		<div id="scrollHere"></div>
        <div class="switchTab">
			<button ng-click="activeSec.nw18Section=!activeSec.nw18Section" class="btn btn-main" ng-class="activeSec.nw18Section?'active':' '">Network18</button>
			<button ng-click="activeSec.nw18Section=!activeSec.nw18Section" class="btn btn-main" ng-class="activeSec.nw18Section?' ':'active'">TV<span>18</span></button>
		</div>
		<div class="container invBoxMar">
			<div class="row box-flex box5 invbox" id="invox" style="">
				<div class="col-md-3">
					<div class="box " id="QUARTERLY">
						<img src="/images/boxes/quarterlyfinancialstatement.jpg" alt="" class="corp-img-cont">
						<a href="/finance#scrollHere"><div class="boxTextBot">FINANCIAL<br/>STATEMENTS</div></a>
					</div>
					<div class="box active" id="ANNUAL">
						<img src="/images/boxes/annualreport.jpg" alt="" class="corp-img-cont">
						<a href="/annualReport#scrollHere"><div class="boxTextBot">ANNUAL <br>REPORTS</div></a>
					</div>
					<div class="box" id="SHARE">
						<img src="/images/boxes/shareholdingpattern.jpg" alt="" class="corp-img-cont">
						<a href="/shareholding#scrollHere"><div class="boxTextBot">SHAREHOLDING <br>PATTERN</div></a>
					</div>
					<div class="box" id="NOTICES">
						<img src="/images/boxes/noticesandevents.jpg" alt="" class="corp-img-cont">
						<a href="/notice#scrollHere"><div class="boxTextBot">NOTICES<br>& EVENTS</div></a>
					</div>
					<div class="box" id="OUR">
						<img src="/images/boxes/ourpolicies.jpg" alt="" class="corp-img-cont">
						<a href="/policy#scrollHere"><div class="boxTextBot">OUR <br>POLICIES</div></a>
					</div>
					<div class="box" id="MERGE">
						<img src="/images/boxes/schemeofmergersbyabsorption.jpg" alt="" class="corp-img-cont">
						<a href="/merger#scrollHere"><div class="boxTextBot">SCHEME OF MERGER BY ABSORPTION</div></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container nw18Cont" ng-if="activeSec.nw18Section">
			
			<div class="inverstorSections">
				<h1 style="">Annual Reports</h1>
				<div active="activeJustified" id="tab2" justified="true" class="">
					<ul class="nav nav-tabs nav-justified homeSlickConnt" >
						<div class="btnContSlixk">
							<button class="empPrev"></button>
							<button class="empNext"></button>
						</div>
						<div class="inv-ann-cont showOver992">
							<slick ng-if="enableSlick" prev-arrow=".empPrev" next-arrow=".empNext" slides-to-show=9 slides-to-scroll=3 infinite="false">
								<div ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11]" class="uib-tab nav-item annItem" ng-click="changeFoc3(i)" ng-class="left_foc3=={{i}}?'active':' '">
									<a ng-if="i>8" class="nav-link">{{2017-i}}-0{{18-i}}</a>
									<a ng-if="i<=8" class="nav-link">{{2017-i}}-{{18-i}}</a>
								</div>
								
							</slick>
						</div>
						<div class="inv-ann-cont showOver600">
							<slick ng-if="enableSlick" prev-arrow=".empPrev" next-arrow=".empNext" slides-to-show=6 slides-to-scroll=3 infinite="false">
								<div ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11]" class="uib-tab nav-item annItem" ng-click="changeFoc3(i)" ng-class="left_foc3=={{i}}?'active':' '">
									<a ng-if="i>8" class="nav-link">{{2017-i}}-0{{18-i}}</a>
									<a ng-if="i<=8" class="nav-link">{{2017-i}}-{{18-i}}</a>
								</div>
								
							</slick>
						</div>
						<div class="inv-ann-cont showUnder600">
							<slick ng-if="enableSlick" prev-arrow=".empPrev" next-arrow=".empNext" slides-to-show=3 slides-to-scroll=2 infinite="false">
								<div ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11]" class="uib-tab nav-item annItem" ng-click="changeFoc3(i)" ng-class="left_foc3=={{i}}?'active':' '">
									<a ng-if="i>8" class="nav-link">{{2017-i}}-0{{18-i}}</a>
									<a ng-if="i<=8" class="nav-link">{{2017-i}}-{{18-i}}</a>
								</div>
								
							</slick>
						</div>
					</ul>
				</div>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foc3==0?'active':' '" ng-if="left_foc3==0">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2017-18</p>
							<a href="/reports/reports/Financial Results/Annual Reports/Network18-Annual Report.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foc3==1?'active':' '" ng-if="left_foc3==1">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2016-17</p>
							<a href="/reports/reports/Financial Results/Annual Reports/Network18_ AnnaulReport_2016-17.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foc3==2?'active':' '" ng-if="left_foc3==2">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2015-16</p>
							<a href="/reports/reports/Financial Results/Annual Reports/Network18_ AnnaulReport_2015-16.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foc3==3?'active':' '" ng-if="left_foc3==3">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2014-15</p>
							<a href="/reports/reports/Financial Results/Annual Reports/Network18-Annual Report 2014-15.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foc3==4?'active':' '" ng-if="left_foc3==4">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2013-14</p>
							<a href="/reports/reports/Financial Results/Annual Reports/Network18-AR-2014.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foc3==5?'active':' '" ng-if="left_foc3==5">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2012-13</p>
							<a href="/reports/reports/Financial Results/Annual Reports/Annual Report Network 2012-13.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foc3==6?'active':' '" ng-if="left_foc3==6">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2011-12</p>
							<a href="/reports/reports/Financial Results/Annual Reports/Annual Report 2011-12.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foc3==7?'active':' '" ng-if="left_foc3==7">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2010-11</p>
							<a href="/reports/reports/Financial Results/Annual Reports/Annual Report 2010-11.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foc3==8?'active':' '" ng-if="left_foc3==8">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2009-10</p>
							<a href="/reports/reports/Financial Results/Annual Reports/Annual Report 2009-10.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foc3==9?'active':' '" ng-if="left_foc3==9">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2008-09</p>
							<a href="/reports/reports/Financial Results/Annual Reports/Annual Report 2008-09.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foc3==10?'active':' '" ng-if="left_foc3==10">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2007-08</p>
							<a href="/reports/reports/Financial Results/Annual Reports/Annual Report 2007-08.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foc3==11?'active':' '" ng-if="left_foc3==11">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2006-07</p>
							<a href="/reports/reports/Financial Results/Annual Reports/Annual Report 2006-07.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
			</div>
			<div class="inverstorSections inverstorSectionsLinks">
				<h1 style=""><a href="/finance-subsidiary">Financial Statements of Subsidiaries</a></h1>
			</div>
		</div>
		<div class="container tv18Cont" ng-if="!activeSec.nw18Section">
			
			<div class="inverstorSections">
				<h1 style="margin-left: 5px;">Annual Reports</h1>
				
				<!-- <div class="sld_foc_cont"><span class="sliding_focus" style="left: {{left_foctv2}}0%;"></span></div> -->
				<div active="activeJustified" id="tab1" justified="true" class="">
					<ul class="nav nav-tabs nav-justified homeSlickConnt" >
						<div class="btnContSlixk">
							<button class="empPrev"></button>
							<button class="empNext"></button>
						</div>
						<div class="inv-ann-cont showOver992">
							<slick ng-if="enableSlick" prev-arrow=".empPrev" next-arrow=".empNext" slides-to-show=9 slides-to-scroll=3 infinite="false">
								<div ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11]" class="uib-tab nav-item annItem" ng-click="changeFocTV2(i)" ng-class="left_foctv2=={{i}}?'active':' '">
									<a ng-if="i>8" class="nav-link">{{2017-i}}-0{{18-i}}</a>
									<a ng-if="i<=8" class="nav-link">{{2017-i}}-{{18-i}}</a>
								</div>
								
							</slick>
						</div>
						<div class="inv-ann-cont showOver600">
							<slick ng-if="enableSlick" prev-arrow=".empPrev" next-arrow=".empNext" slides-to-show=6 slides-to-scroll=3 infinite="false">
								<div ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11]" class="uib-tab nav-item annItem" ng-click="changeFocTV2(i)" ng-class="left_foctv2=={{i}}?'active':' '">
									<a ng-if="i>8" class="nav-link">{{2017-i}}-0{{18-i}}</a>
									<a ng-if="i<=8" class="nav-link">{{2017-i}}-{{18-i}}</a>
								</div>
								
							</slick>
						</div>
						<div class="inv-ann-cont showUnder600">
							<slick ng-if="enableSlick" prev-arrow=".empPrev" next-arrow=".empNext" slides-to-show=3 slides-to-scroll=2 infinite="false">
								<div ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11]" class="uib-tab nav-item annItem" ng-click="changeFocTV2(i)" ng-class="left_foctv2=={{i}}?'active':' '">
									<a ng-if="i>8" class="nav-link">{{2017-i}}-0{{18-i}}</a>
									<a ng-if="i<=8" class="nav-link">{{2017-i}}-{{18-i}}</a>
								</div>
								
							</slick>
						</div>
					</ul>
				</div>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foctv2==0?'active':' '" ng-if="left_foctv2==0">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2017-18</p>
							<a href="/reports/reportstv18/Financial Results/Annual Reports/TV18-Annual Report.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foctv2==1?'active':' '" ng-if="left_foctv2==1">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2016-17</p>
							<a href="/reports/reports/Financial Results/Annual Reports/tv18_ AnnaulReport_2016-17.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foctv2==2?'active':' '" ng-if="left_foctv2==2">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2015-16</p>
							<a href="/reports/reportstv18/Financial Results/Annual Reports/Annualreport2015-16.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foctv2==3?'active':' '" ng-if="left_foctv2==3">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2014-15</p>
							<a href="/reports/reportstv18/Financial Results/Annual Reports/TV18-Annual Report 2014-15.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foctv2==4?'active':' '" ng-if="left_foctv2==4">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2013-14</p>
							<a href="/reports/reportstv18/Financial Results/Annual Reports/TV18-Annual-Report-2013-14.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foctv2==5?'active':' '" ng-if="left_foctv2==5">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2012-13</p>
							<a href="/reports/reportstv18/Financial Results/Annual Reports/TV18-AnnualReport-2012-13.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foctv2==6?'active':' '" ng-if="left_foctv2==6">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2011-12</p>
							<a href="/reports/reportstv18/Financial Results/Annual Reports/Annual Report 2011-12.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foctv2==7?'active':' '" ng-if="left_foctv2==7">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2010-11</p>
							<a href="/reports/reportstv18/Financial Results/Annual Reports/Annual Report 2010-11.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foctv2==8?'active':' '" ng-if="left_foctv2==8">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2009-10</p>
							<a href="/reports/reportstv18/Financial Results/Annual Reports/Annual Report 2009-10.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foctv2==9?'active':' '" ng-if="left_foctv2==9">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2008-09</p>
							<a href="/reports/reportstv18/Financial Results/Annual Reports/Annual Report 2008-09.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foctv2==10?'active':' '" ng-if="left_foctv2==10">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2007-08</p>
							<a href="/reports/reportstv18/Financial Results/Annual Reports/Annual Report 2007-08.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foctv2==11?'active':' '" ng-if="left_foctv2==11">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Annual Report 2006-07</p>
							<a href="/reports/reportstv18/Financial Results/Annual Reports/Annual Report 2006-07.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
			</div>
			<div class="inverstorSections inverstorSectionsLinks">
				<h1 style=""><a href="/finance-subsidiary">Financial Statements of Subsidiaries</a></h1>
			</div>
		</div>
		
	</div>

</div>

<script type="text/javascript">
	$(document).ready(function() {
			//console.log($('body'));
			$('.stickyMove').on('click', function(event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $($(this).attr('href')).offset().top
				},'slow');
				//goToByScroll($(this).attr('href'));
			});
			var maxWidth = 0;

			var windowHeight = $(window).height();
			
	});
</script>