<div class="mainBodyGalleryContainerFull mainBodyPortContainerFull" style="padding: 0; height: auto;min-height: 100vh; padding-top: 75px;">
	<a class="fixed-link-top" href="/gallery"><span class="">BACK TO GALLERY</span></a>
	<div class="container portMainCont galleryCont" style="" ng-class="showGal1?'activeGal':' '" ng-if="showGal1">
		<div class="ttopImages flexCont">
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/RisingIndia.jpg" alt="">
			</div>
			<div class="imgCont col-md-6 mobHide">
				<img lazy-img="/images/Gallery/RisingIndia2.jpg" alt="">
			</div>
		</div>
		<div class="galleryInfo container-fluid">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h3>News18 Rising India Summit</h3>
				<p>News18 Rising India Summit, a marquee thought leadership initiative of News18, is our enterprise to imagine a collective future to greatness – a showcase of our country’s rising stature in the world and its determination to embrace all the opportunities for a better future. The summit brings together thinkers and scholars from around the world, global statesmen, high achievers in every field of endeavor and, above all, well-wishers of India. The first edition of the summit was addressed by the Prime Minister, Shri Narendra Modi.</p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="ttopImages flexCont mobShow">
			<div class="imgCont col-md-6 ">
				<img lazy-img="/images/Gallery/RisingIndia2.jpg" alt="">
			</div>
		</div>
		<div class="flexCont col-md-8">
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/RisingIndia3.jpg" alt="">
				</div>
				
			</div>
		</div>
		<div class="flexCont col-md-4">
			
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/RealEstateAwards.jpg" alt="">
				</div>
				
			</div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventFull">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/RisingIndia4.jpg" alt="">
				</div>
				
			</div>
		</div>
	</div>
	<div class="container portMainCont galleryCont" style="" ng-class="showGal2?'activeGal':' '" ng-if="showGal2">
		<div class="ttopImages flexCont">
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/indianoftheyear3.jpg" alt="">
			</div>
			<div class="imgCont col-md-6 mobHide">
				<img lazy-img="/images/Gallery/Indianoftheyear1.png" alt="">
			</div>
		</div>
		<div class="galleryInfo container-fluid">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h3>CNN-NEWS18 Indian of the Year</h3>
				<p>The year 2006 saw the introduction of the CNN-NEWS18 Indian of the Year. The initiative recognizes the Indian(s) whose contribution to the country in a calendar year has strengthened the foundation of our society and has helped build Brand India in the process. Having seen 11 editions since its inception, the CNN-NEWS18 Indian of the Year has cemented its position as the biggest awards in the domain of News television and an institution of impeccable credibility. <br>Over the years, the Indian of the Year award recipients have included the likes of PM Narendra Modi, Indian Cricket Captain Viran Kohli, The Indian Women’s cricket team, NGO Stop Acid Attacks, Chess Grandmaster Vishwanathan Anand, A R Rahman, Former PM Manmohan Singh, The Indian Space Research Organisation (ISRO), Nobel Laureate Kailash Satyarthi, MC Mary Kom, Deepika Padukone, N Chandrasekaran and Arvind Kejriwal.</p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="ttopImages flexCont mobShow">
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/Indianoftheyear1.png" alt="">
			</div>
		</div>
		<div class="flexCont col-md-8">
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/indianoftheyear4.jpg" alt="">
				</div>
				
			</div>
			
		</div>
		<div class="flexCont col-md-4">
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/indianoftheyear2.jpg" alt="">
				</div>
				
			</div>
			
		</div>
		
	</div>
	<div class="container portMainCont galleryCont" style="" ng-class="showGal3?'activeGal':' '" ng-if="showGal3">
		<div class="ttopImages flexCont">
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/IBLA/1.jpg" alt="">
			</div>
			<div class="imgCont col-md-6 mobHide">
				<img lazy-img="/images/Gallery/IBLA3.jpg" alt="">
			</div>
		</div>
		<div class="galleryInfo container-fluid">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h3>India Business Leader Awards</h3>
				<p>CNBC with the Asia Business Leader Awards pioneered the business leadership awards to recognize leaders who create and sustain entrepreneurial initiatives, develop best practices and carve out powerful businesses in the global economy. And for years, we've celebrated the highest achievers in the world's most dynamic business markets with one yardstick - The Asia Business Leader Awards (ABLA). CNBC-TV18 is proud to carry on this tradition in India with the India Business Leader Awards (IBLA). The visionaries that have led India's glorious journey from the front are the champions that we salute in every edition of CNBC-TV18's India Business Leader Awards (IBLA), Asia's most distinguished awards for excellence in business leadership.</p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="ttopImages flexCont mobShow">
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/IBLA3.jpg" alt="">
			</div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/IBLA2.jpg" alt="">
				</div>
			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/IBLA/2.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/IBLA/3.jpg" alt="">
				</div>
			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/IBLA/4.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/IBLA/5.jpg" alt="">
				</div>
			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/IBLA/6.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="flexCont col-md-8">
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/IBLA4.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="flexCont col-md-4">
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/IBLA1.jpg" alt="">
				</div>
				
			</div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/IBLA6.jpg" alt="">
				</div>
			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/IBLA7.jpg" alt="">
				</div>
			</div>
		</div>
		
		
	</div>
	<div class="container portMainCont galleryCont" style="" ng-class="showGal4?'activeGal':' '" ng-if="showGal4">
		<div class="ttopImages flexCont">
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/Chaupal/chaupal.jpg" alt="">
			</div>
			<div class="imgCont col-md-6 mobHide">
				<img lazy-img="/images/Gallery/Chaupal/chaupal2.jpg" alt="">
			</div>
		</div>
		<div class="galleryInfo container-fluid">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h3>Chaupal</h3>
				<p>News18 India is constantly innovating with new shows and formats to create a distinct identity in the general news category. True to its tagline ‘Danke Ki Chot Par’, News18 India practices hard-hitting journalism that promotes constructive criticism and promises positive change. With the same objective in mind, it launched  ‘Chaupal’, a daylong conclave for newsmakers, visionaries, youth leaders, decision-makers, top entertainers and sport stars to come together and discuss ideas that unite us and debate issues that divide us. The conclave sees participation of notable dignitaries who share their ideas and views on how to make India a stronger and an evolved society. It is a Socio-political conclave with Ministers, Decision makers, Celebrities, Artists and Educationists discussing & debating about Politics, Economy, Sports, Bollywood and other issues of current importance.</p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="ttopImages flexCont mobShow">
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/Chaupal/chaupal2.jpg" alt="">
			</div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/Chaupal/1.JPG" alt="">
				</div>
			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/Chaupal/2.JPG" alt="">
				</div>
			</div>
		</div>
		<div class="flexCont col-md-8">
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/Chaupal/3.JPG" alt="">
				</div>
			</div>
		</div>
		<div class="flexCont col-md-4">
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/Chaupal/10.JPG" alt="">
				</div>
				
			</div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/Chaupal/4.JPG" alt="">
				</div>
			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/Chaupal/5.JPG" alt="">
				</div>
			</div>
		</div>
		
		<div class="flexCont col-md-4">
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/Chaupal/6.JPG" alt="">
				</div>
				
			</div>
		</div>
		<div class="flexCont col-md-8">
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/Chaupal/7.JPG" alt="">
				</div>
			</div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/Chaupal/8.JPG" alt="">
				</div>
			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/Chaupal/9.JPG" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="container portMainCont galleryCont" style="" ng-class="showGal5?'activeGal':' '" ng-if="showGal5">
		<div class="ttopImages flexCont">
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/Budgetverdict1.jpg" alt="">
			</div>
			<div class="imgCont col-md-6 mobHide">
				<img lazy-img="/images/Gallery/budgetverdict2.jpg" alt="">
			</div>
		</div>
		<div class="galleryInfo container-fluid">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h3>Budget Verdict</h3>
				<p>CNBC-TV18 has always taken the lead in covering the biggest news developments and assessing their business and economic impact on the lives of Indian citizens. This is reflected in its comprehensive and incisive coverage of the Union Budget, which for the last 18 years, has made it the most watched channel during Budget season. In a constant endeavor to bring innovative formats to its viewers, CNBC-TV18 started The Budget Verdict in 2016. It is a unique format hosting top business leaders and policy influencers in an insightful conversation. The top CEO engagement helps government seek frank feedback on its key policy document.</p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="ttopImages flexCont mobShow">
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/budgetverdict2.jpg" alt="">
			</div>
		</div>
		<div class="flexCont col-md-8">
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/budgetverdict3.jpg" alt="">
				</div>
				
			</div>
		</div>
		<div class="flexCont col-md-4">
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/budgetverdict.jpg" alt="">
				</div>
			</div>
		</div>
		
	</div>
	<div class="container portMainCont galleryCont" style="" ng-class="showGal6?'activeGal':' '" ng-if="showGal6">
		<div class="ttopImages flexCont">
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/OD1.jpg" alt="">
			</div>
			<div class="imgCont col-md-6 mobHide">
				<img lazy-img="/images/Gallery/OD2.jpg" alt="">
			</div>
		</div>
		<div class="galleryInfo container-fluid">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h3>CNBC-TV18 OVERDRIVE</h3>
				<p>Each year CNBC-TV18 OVERDRIVE Awards recognize achievements in multiple categories across the automotive galaxy. For past 18 years, the awards have been felicitating vehicles, organizations and people who stand head and shoulders above their peers.</p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="ttopImages flexCont mobShow">
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/OD2.jpg" alt="">
			</div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/OD3.png" alt="">
				</div>
				
			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/OD4.jpg" alt="">
				</div>
				
			</div>
		</div>
		<div class="flexCont col-md-4">
			
		</div>
		
	</div>
	<div class="container portMainCont galleryCont" style="" ng-class="showGal7?'activeGal':' '" ng-if="showGal7">
		<div class="ttopImages flexCont">
			<div class="imgCont col-md-12">
				<img lazy-img="/images/Gallery/RealEstateAwards.jpg" alt="">
			</div>
			<!-- <div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/Indianoftheyear1.png" alt="">
			</div> -->
		</div>
		<div class="galleryInfo container-fluid">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h3>Real Estate Awards</h3>
				<p>To boost the real estate enthusiasm in India, and reward its excellent performances, CNBC-AWAAZ, presents the Real Estate Awards every year. These awards identify and honor professionals who have envisioned and created marvels in the real estate industry. The Real Estate Awards honor not only high performing builders but also architects and contractors who have delivered par excellence across the country. The awards were instituted in 2006.</p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="flexCont col-md-8">
			
		</div>
		<div class="flexCont col-md-4">
			
		</div>
		
	</div>
	
	<div class="container portMainCont galleryCont" style="" ng-class="showGal8?'activeGal':' '" ng-if="showGal8">
		<div class="ttopImages flexCont">
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/TycoonsofTomorrow/1.jpg" alt="">
			</div>
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/TycoonsofTomorrow/2.jpg" alt="">
			</div>
			<!-- <div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/Indianoftheyear1.png" alt="">
			</div> -->
		</div>
		<div class="galleryInfo container-fluid">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h3>Forbes India Tycoons of Tomorrow</h3>
				<p>Over the years, apart from chronicling their journey by way of articles, Forbes India seeks to play a catalytic role in identifying and recognizing outstanding young innovators and entrepreneurs. Instituting the Forbes India Tycoons of Tomorrow event is one big step in that direction.</p>
				<p>These icons of the future are flag-bearers of family-managed businesses, or first-generation ones ascending in pursuit of securing their own flag-poles amid a highly competitive room at the top. They have displayed the dynamism to revitalize an existing enterprise or created something new, and, in the process, redefined the rules of business and prepared their industry for a whole new vector of growth. The Forbes India Tycoons of Tomorrow listees are felicitated at a sit-down dinner event attended by some of the finest names of Indian Inc. The glittering evening sees insightful talks, panel discussions, and informal conversations covering important contemporary themes.</p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/TycoonsofTomorrow/3.jpg" alt="">
				</div>
				
			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/TycoonsofTomorrow/4.jpg" alt="">
				</div>
				
			</div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/TycoonsofTomorrow/7.jpg" alt="">
				</div>
				
			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/TycoonsofTomorrow/6.jpg" alt="">
				</div>
				
			</div>
		</div>
		<div class="flexCont col-md-8">
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/TycoonsofTomorrow/7.jpg" alt="">
				</div>
				
			</div>
		</div>
		<div class="flexCont col-md-4">
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/TycoonsofTomorrow/8.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/TycoonsofTomorrow/9.jpg" alt="">
				</div>
				
			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/TycoonsofTomorrow/10.jpg" alt="">
				</div>
				
			</div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventFull">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/TycoonsofTomorrow/11.jpg" alt="">
				</div>
				
			</div>
		</div>
		
	</div>
	<div class="container portMainCont galleryCont" style="" ng-class="showGal9?'activeGal':' '" ng-if="showGal9">
		<div class="ttopImages flexCont">
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/FILA/1.jpg" alt="">
			</div>
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/FILA/2.jpg" alt="">
			</div>
			<!-- <div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/Indianoftheyear1.png" alt="">
			</div> -->
		</div>
		<div class="galleryInfo container-fluid">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h3>Forbes India Leadership Awards</h3>
				<p>The Forbes India Leadership Awards was introduced as an important step towards recognizing transformational leadership across the entrepreneurial space, covering organizations of all levels: startups, mid-sized firms and global enterprises. Forbes India annually recognizes and awards successful individuals and organizations borne out of strong vision, foresight and ethics.</p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/FILA/3.jpg" alt="">
				</div>
				
			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/FILA/4.jpg" alt="">
				</div>
				
			</div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/FILA/12.jpg" alt="">
				</div>
				
			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/FILA/6.jpg" alt="">
				</div>
				
			</div>
		</div>
		<div class="flexCont col-md-4">
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/FILA/7.jpg" alt="">
				</div>
				
			</div>
		</div>
		<div class="flexCont col-md-8">
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/FILA/8.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/FILA/9.jpg" alt="">
				</div>
				
			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/FILA/10.jpg" alt="">
				</div>
				
			</div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/FILA/11.jpg" alt="">
				</div>
				
			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/FILA/13.jpg" alt="">
				</div>
				
			</div>
		</div>
		
	</div>

	<div class="container portMainCont galleryCont" style="" ng-class="showGal10?'activeGal':' '" ng-if="showGal10">
		<div class="ttopImages flexCont">
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/Swasth/1.jpg" alt="">
			</div>
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/Swasth/2.jpg" alt="">
			</div>

		</div>
		<div class="galleryInfo container-fluid">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h3>Swasth Immunised India</h3>
				<p>Network18 & Serum Institute of India have joined hands to help immunise the kids of India. Every Year, 5 Lakh children die due to Vaccine-preventable diseases in India. The aim of this campaign is to spread awareness about immunisation in India. Kareena Kapoor has also joined the campaign.</p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/Swasth/3.jpg" alt="">
				</div>

			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/Swasth/4.jpg" alt="">
				</div>

			</div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/Swasth/5.jpg" alt="">
				</div>

			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/Swasth/6.jpg" alt="">
				</div>

			</div>
		</div>
		<div class="flexCont col-md-4">
			<div class="eachEvent">
				<div class="">
					<img lazy-img="/images/Gallery/Swasth/7.jpg" alt="">
				</div>

			</div>
		</div>
	</div>

	<div class="container portMainCont galleryCont" style="" ng-class="showGal11?'activeGal':' '" ng-if="showGal11">
		<div class="galleryInfo container-fluid">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h3>News18 Rising India Summit</h3>
				<p>With the theme ‘Beyond Politics: Defining National Priorities’, News18, India’s largest news network hosted the second edition of its marquee thought-leadership initiative-News18 Rising India Summit 2019. The event, held in New Delhi on February 25, was graced by the Honorable Prime Minister of India, Shri Narendra Modi.</p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/risingIndia/1.jpg" alt="">
				</div>
			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/risingIndia/2.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="flexCont col-md-12">
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/risingIndia/3.jpg" alt="">
				</div>
			</div>
			<div class="eachEvent eachEventHalf">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/risingIndia/4.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="container portMainCont galleryCont" style="" ng-class="showGal12?'activeGal':' '" ng-if="showGal12">
		<div class="ttopImages flexCont">
			<div class="imgCont col-md-6">
				<img lazy-img="/images/Gallery/Paani/Mission1.jpg" alt="">
			</div>
			<div class="imgCont col-md-6 mobHide">
				<img lazy-img="/images/Gallery/Paani/Mission2.jpg" alt="">
			</div>
		</div>
		<div class="galleryInfo container-fluid">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h3>News18 Mission Paani</h3>
				<p>Taking the first step towards solving the water crisis, Harpic - News18 Mission Paani is an initiative towards saving water and sustaining it for the generations to come. The aim is to change attitudes and behaviour to improve water use efficiency. Let’s save more water, together. Inspired by Prime Minister Narendra Modi’s appeal during his Independence Day address to come together for the critical cause of water conservation with ‘Jal Andolan’, Network18, India’s most diversified media conglomerate, along with Amitabh Bachchan, the campaign ambassador and Reckitt Benckiser world’s leading Hygiene Home products company with its premium brand Harpic have announced a partnership for #MissionPaani, which will be a nation-wide campaign.</p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="flexCont col-md-4 mobShow">
			
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/Paani/Mission2.jpg" alt="">
				</div>
				
			</div>
		</div>
		<div class="flexCont col-md-8">
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/Paani/Mission8.jpg" alt="">
				</div>
				
			</div>
		</div>
		<div class="flexCont col-md-4">
			
			<div class="eachEvent">
				<div class="imgCont">
					<img lazy-img="/images/Gallery/Paani/Mission6.jpg" alt="">
				</div>
				
			</div>
		</div>
		
	</div>
</div>
