 <div class="mainBodyContainerFull" style="padding-top: 0px; opacity: 0; height: auto;">
	<div class="headerFiller"></div>
	<a class="fixed-link-top" href="/career-main"><span class="deskShow">BACK TO JOB LISTING</span><span class="mobShow"><i class="fa fa-arrow-circle-left"></i></span></a>
	<div class="video-cont">
		<div class="vid-bg vid-bgs vid-bg-career" style="">
		</div>
		<video width="100%" autoplay loop >
			<source src="images/footage/26911270-preview-career-bw.mp4" type="video/mp4" class="top">
		</video>
	</div>
	<div class="vid-arr" >
		<span class="arrText">scroll</span>
		<span class="animateHeight"></span>
		<span class="animateHeightBg"></span>
	</div>
	<div class="portfolioContainer corpMainCont jobDescMainCont">
		<div class="jobDescriptionMainCont container">
			<h1>Registration</h1>
			<div class="jobSection">
				<h4>Why subscribe to Network18 career? </h4>
				<p>Register to enjoy the following benefits:</p>
				<ul>
					<li>Receive job alerts and recommendations based on your preferences.</li>
					<li>Personalize your experience on our website.</li>
				</ul>
				<h4>How do I apply for a position at Network18?</h4>
				<p>In a few simple steps, you can send us your resume or create your Career profile here.</p>
				<p>If you have already created your profile, you can update your information, review your existing application or apply for a new job here.</p>
			</div>
			<div class="jobSection jobSignIn">
				<h3>Sign In Details</h3>
				<div class="signIn">
					<b>Create your account</b>
					<p><sup>*</sup>Enter your email</p>
					<p><input class="signInInpt" type="text"></p>
					<p><sup>*</sup>Enter password</p>
					<p><input class="signInInpt" type="password"></p>
					<p><sup>*</sup>Retype password</p>
					<p><input class="signInInpt" type="password"></p>
					<ul>
						<li>Password must be at least 8 character long.</li>
						<li>Password must contain at least one number, one uppercase character, one special character.</li>
					</ul>
				</div>
			</div>
			<div class="jobSection">
				<h3>PERSONAL DETAILS</h3>
				<div class="clearfix">
					<div class="jobEachCol">
						<label for=""><sup>*</sup>Enter first name<input type="text"></label>
					</div>
					<div class="jobEachCol">
						<label for=""><sup>*</sup>Enter last name<input type="text"></label>
					</div>
					<div class="jobEachCol">
						<label for=""><sup>*</sup>Country / Region<input type="text"></label>
					</div>
					<div class="jobEachCol">
						<label for=""><sup>*</sup>State / Province<input type="text"></label>
					</div>
					<div class="jobEachCol">
						<label for=""><sup>*</sup>City<input type="text"></label>
					</div>
				</div>
			</div>
			<div class="jobSection">
				<h3>JOB PREFERENCE</h3>
				<div class="clearfix">
					<div class="jobEachCol">
						<label for=""><sup>*</sup>Country / Region<input type="text"></label>
					</div>
					<div class="jobEachCol">
						<label for=""><sup>*</sup>Enter numer of years<input type="text"></label>
					</div>
					<div class="jobEachCol">
						<label for=""><sup>*</sup>Enter skill set<input type="text"></label>
					</div>
					
					<div class="jobEachCol">
						<label for=""><sup>*</sup>Enter industry<input type="text"></label>
					</div>
				</div>
			</div>
			<div class="jobSection jobSignIn">
				<h3>Stay Connected</h3>
				<p>Network18 would like to share news about our services or career opportunities via e-mail when we believe it would be relevant to you.</p>
				<p><input type="checkbox"> Yes, you may use the information I provided on this form to send me relevant communications.</p>
			</div>
			
			<div class="jobSection disclaimer">
				<p>Your Data Privacy</p>
				<p>Network18 is committed to protecting your information security. Your information will be used in accordance with any applicable data privacy law, our internal policies and our privacy policy and will be held security. Network18 will not share your personal information with any third party, except as needed to manage the events or features for which you register. By using this sites you agree that we can place cookies on your device. See our privacy policy for details.</p>
			</div>
			<div class="jobSection">
				<p class="text-center">
					<a href="/career-apply" class="btn btn-danger red-career-btn">APPLY</a>
					<!-- <a href="/career-apply" class="btn btn-danger red-career-btn">SAVE</a>
					<a href="/career-apply" class="btn btn-danger red-career-btn">SHARE</a> -->
				</p>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		var maxWidth = 0;
		var windowHeight = $(window).height();
		$('.mainBodyContainerFull').animate({
			//height: windowHeight+'px',
			//paddingTop: 0,
			opacity:1
		},1000);
	});
</script>