<div class="mainBodyContainerFull" style="padding-top: 0px; opacity: 0; height: auto;">
	<div class="headerFiller"></div>
	<a class="fixed-link-top" href="/career"><span class="deskShow">BACK TO CAREER</span><span class="mobShow"><i class="fa fa-arrow-circle-left"></i></span></a>
	<div class="video-cont">
		<div class="vid-bg vid-bgs vid-bg-career" style="">
		</div>
		<video width="100%" autoplay loop >
			<source src="images/footage/26911270-preview-career-bw.mp4" type="video/mp4" class="top">
		</video>
	</div>
	<div class="vid-arr" >
		<span class="arrText">scroll</span>
		<span class="animateHeight"></span>
		<span class="animateHeightBg"></span>
	</div>
	<div class="portfolioContainer corpMainCont">
		<div class="container" style="max-width: 1140px;">
			<div class="flex-cont career-results-main">
				<div class="col-md-3">
				</div>
				<div class="col-md-6 career-results">
					<h4>{{jobs[0]['Function']}}</h4>
					<hr class="hr2"/>
					<div class="row container-fluid filter-item-res">
						<div class="job-res-item" ng-repeat="job in jobs">
							<p class="job-item-desc">
								<span class="job-date">{{job['Posted Date']}}</span>
								<span class="jpb-loc">{{job['Location']}}</span>
							</p>
							<p class="job-item-title">
								<a href="/career-description?id={{job['id']}}">{{job['Jobs']}}</a>
							</p>
						</div>
						<div class="job-res-item job-res-item-load" style="">
							<p class="job-item-title" style="margin: 0;">
								<button class="btn btn-blueinvert">LOAD MORE</button>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
				</div>
			</div>
		</div>
	</div>
	
</div>
<script>
	$(document).ready(function() {
		var maxWidth = 0;
		var windowHeight = $(window).height();
		$('.mainBodyContainerFull').animate({
			//height: windowHeight+'px',
			//paddingTop: 0,
			opacity:1
		},1000);
	});
</script>