<div class="mainBodyContainerFull mainBodyContainerCareerFull mainBodyContainerCarFull" style="padding-top: 0px; opacity: 0; height: auto;">
	<div class="headerFiller"></div>
	<div class="video-cont">
		<div class="vid-bg vid-bgs vid-bg-career" style="">
		</div>
		<video class="mobShow top" width="100%" autoplay="" loop="">
			<source src="images/footage/MOBILE_SIZE/3893537-mobile-CAREER-graded.mp4" type="video/mp4" class="top">
		</video>
		<video class="mobHide" width="100%" autoplay="" loop="">
			<source src="images/footage/3893537-hd-CAREER-gradednew.mp4" type="video/mp4" class="top">
		</video>
		<!-- <div id="home_vid" class="mobHide" style="height: {{pHigh}}px;width: {{pWid}}px;">
			<youtube-video ng-if="enableYT" player-vars="playerVars1" player="bestPlayer1" video-id="theBestVideo5" player-width="'100%'" player-height="'100%'" ></youtube-video>
		</div> -->
	</div>
	<div class="vid-arr" >
		<span class="arrText">scroll</span>
		<span class="animateHeight"></span>
		<span class="animateHeightBg"></span>
	</div>
	<div class="portfolioContainer corpMainCont careerSec">
		<div class="container">
			<div class="row text-center career-main-un-text" id="careerMain">
				<h1>Career at Network18</h1>
				<h2>Be a part of India’s largest and most admired news network!</h2>
				<p>Network18 is India's most diversified media conglomerate with news and entertainment brands that touch lives of millions of people. <br>Despite our size and spread, our Group strives to remain a young, agile and live-wire organisation. We believe we have the soul of a startup, within the body of a media and entertainment colossus. We aim to push boundaries, redefine rules <br>and put creativity at the centre of everything we do. </p>
				<p>Network 18 brings together employees from varied backgrounds under one roof united by the hunger to create immersive content and ideas. We take pride in our people, who we believe are the key to realizing the organization’s potential. We continually strive to enable our employees to realize their own goals, by providing opportunities to learn, share and grow.</p>
			</div>
			<div class="row career-jumbo jumbotron">
				<youtube-video player-vars="playerVars" player="bestPlayer2" video-id="theBestVideo" player-width="'100%'" player-height="'100%'" ></youtube-video>
			</div>
			<div class="row career-main-text text-center" id="whyCar">
				<h1>Life at Network18</h1>
				<ul class="list-group">
					<li class="list-group-it list-group-itCar">
						<div><img src="/images/career/text/1.png" alt=""></div>
						<p>
							<b>Exposure</b> – As India’s most diversified media conglomerate! We offer an array of work opportunities across digital, broadcasting and publishing space.
						</p>
					</li>
					<li class="list-group-it twoBor list-group-itCar">
						<div><img src="/images/career/text/2.png" alt=""></div>
						<p>
							<b>Excitement and Challenge</b> - The dynamism of the organisation, coupled with the ever-evolving nature of the industry, provides abundant exciting and challenging work opportunities, that will accelerate your learning curve and growth.
						</p>
					</li>
					<li class="list-group-it list-group-itCar">
						<div><img src="/images/career/text/3.png" alt=""></div>
						<p>
							<b>Empowerment and Entrepreneurial Innovation</b> - At Network18, you get the freedom to innovate, experiment and take your own decisions.
						</p>
					</li>
					<li class="list-group-it list-group-itCar">
						<div><img src="/images/career/text/4.png" alt=""></div>
						<p>
							<b>Enrichment and learning</b> – We provide multiple opportunities to further the professional growth of our employees through a combination of customized learning and development initiatives and multi-functional projects.
						</p>
					</li>
					<li class="list-group-it list-group-itCar">
						<div><img src="/images/career/text/5.png" alt=""></div>
						<p>
							<b>Exuberance</b> - We are young at heart and this is reflected not just in our speed of thinking and execution, but also in our way of life – which values passion, a ‘will-do’ attitude, hunger for success, fun and liveliness.
						</p>
					</li>   
				</ul>
			</div>
		</div>
	</div>
	<div class="portfolioContainer corpMainCont careerSec careerboxCont" style="" id="carJob">
		<h1 class="text-center" style="">Latest Jobs</h1>
		<div class="container box-flex careerbox">
			<div class="btnContSlixk">
				<button class="empPrev1"></button>
				<button class="empNext1"></button>
			</div>
			<div class="career-empl-cont">
				<!-- <slick class="" ng-if="enableSlick" responsive="breakpoints" prev-arrow=".empPrev1" next-arrow=".empNext1" autoplay="false" slides-to-show=5 slides-to-scroll=2 infinite="false" >
					<div class="box" ng-repeat="area in roles track by area.id">
						<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
						<a href="/career-main?id={{area.id}}" >
							<div class="boxTextBot">
								<h3>{{area.name}}</h3>
							</div>
						</a>
					</div>
				</slick> -->
				<div class="inv-ann-cont car-ann-cont showOver992" ng-if="enableSlick">
					<slick ng-if="enableSlick" prev-arrow=".empPrev1" next-arrow=".empNext1" slides-to-show=5 slides-to-scroll=3 infinite="false">
						<div class="box" ng-repeat="area in roles track by area.id">
							<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
							<a href="/career-main?id={{area.id}}" >
								<div class="boxTextBot">
									<h3>{{area.name}}</h3>
								</div>
							</a>
						</div>
						
					</slick>
				</div>
				<div class="inv-ann-cont car-ann-cont showOver600" ng-if="enableSlick">
					<slick ng-if="enableSlick" prev-arrow=".empPrev1" next-arrow=".empNext1" slides-to-show=3 slides-to-scroll=2 infinite="false">
						<div class="box" ng-repeat="area in roles track by area.id">
							<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
							<a href="/career-main?id={{area.id}}" >
								<div class="boxTextBot">
									<h3>{{area.name}}</h3>
								</div>
							</a>
						</div>
						
					</slick>
				</div>
				<div class="inv-ann-cont car-ann-cont showUnder600" ng-if="enableSlick">
					<slick ng-if="enableSlick" prev-arrow=".empPrev1" next-arrow=".empNext1" slides-to-show=2 slides-to-scroll=2 infinite="false">
						<div class="box" ng-repeat="area in roles track by area.id">
							<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
							<a href="/career-main?id={{area.id}}" >
								<div class="boxTextBot">
									<h3>{{area.name}}</h3>
								</div>
							</a>
						</div>
						
					</slick>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-SplCont">
		<div class="bottomHR">
			<a href="/career-main?id=all" class="btn btn-danger">EXPLORE OPPORTUNITIES</a>
		</div>
	</div>
	
	<div class="portfolioContainer corpMainCont careerSec careerSlick text-center" id="carLife">
		<div class="container">
			<h1 class="mobHide">Enjoy the Challenge of New Experiences <br>and Opportunities</h1>
			<h1 class="mobShow">Enjoy the Challenge of New Experiences and Opportunities</h1>
			<div class="btnContSlixk">
				<button class="empPrev"></button>
				<button class="empNext"></button>
			</div>
			<div class="career-empl-cont">
				<slick class="" prev-arrow=".empPrev" next-arrow=".empNext" autoplay="true">
					<div class="row boardDirMainCont" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] track by $index">
						<div class="col-md-12">
							<img src="/images/career/c{{$index+1}}.jpg" alt="">
						</div>
					</div>
				</slick>
			</div>
		</div>
	</div>
	
	<div class="portfolioContainer corpMainCont careerSec careerSlick WorkFinal" style="" id="joinCar">
		<h1 class="text-center" style="">Work with Us</h1>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12 text-right">
					<a target="_blank" href="https://www.linkedin.com/company/network18/?originalSubdomain=in" class="btn btn-primary btn-join">Connect with us on LinkedIn</a>
				</div>
				<div class="col-md-6 col-sm-12 text-left mobHide">
					To explore career opportunities with us, <br>please e-mail your resume to <a href="" class="btn btn-link">careers@nw18.com</a> 
				</div>
				<div class="col-md-6 col-sm-12 text-left mobShow">
					To explore career opportunities with us, please e-mail your resume to <a href="" class="btn btn-link">careers@nw18.com</a> 
				</div>
			</div>
			<br>
			<br>
			<div class="row text-center">For jobs pertaining to entertainment, visit <a href="https://www.viacom18.com" target="_blank" class="btn btn-link"> www.viacom18.com </a></div>
			<!-- <div class="row text-center">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					
				</div>
				<div class="col-md-3"></div>
			</div> -->
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		var maxWidth = 0;

		var windowHeight = $(window).height();
		$('.mainBodyContainerFull').animate({
			//height: windowHeight+'px',
			
			opacity:1
		},1000);

	});
</script>