<div class="mainBodyContainerFull" style="padding-top: 0px; opacity: 0; height: auto;">
	<div class="headerFiller"></div>
	<!--  -->
	<div class="bottomSticky">
		<a href="#">
			<div><i class="fa fa-caret-up"></i></div>
			TOP
		</a>

	</div>
	<div class="video-cont">
		<div class="video-over-text">
			Sign in with <b>Linked</b><i class="fa fa-linkedin-square"></i>
		</div>
		<div class="vid-bg" style="background: rgba(0,0,0,0.3);">
			
		</div>
		<video width="100%" autoplay loop class="bot">
			<!-- <source src="images/473326883_compass.mp4" type="video/mp4"> -->
		</video>
	</div>
	<div class="portfolioContainer corpMainCont">
		<div class="container">
			<div class="row text-center" id="careerMain">
				<h1 >Careers at Network18</h1>
				<h2>If you are serious about news, we seek your views</h2>
			</div>
			<div class="row career-jumbo jumbotron"></div>
			<div class="row career-main-text text-center">
				<h1>Life at Network18</h1>
				<p>Network18 harnesses the power of information for people who want to change the world. Whether they're in business, finance, government, policy or philanthropy, we help our clients turn data into insights so they can cut through complexity to solve challenges great and small.</p>

				<h2>OUR EMPLOYEE VALUE PROPOSITION</h2>
				<p>Network18 harnesses the power of information for people who want to change the world. Whether they're in business, finance, government, policy or philanthropy, we help our clients turn data into insights so they can cut through complexity to solve challenges great and small.</p>
			</div>
		</div>
	</div>
	<div class="portfolioContainer corpMainCont" style="background: #F5F5F6;padding-bottom: 40px;margin-top: 90px;border-bottom: 1px solid #bcbcbc;">
		<h1 class="text-center" style="background: transparent;padding-bottom: 40px; font-size: 90px;">Latest Jobs</h1>
		<div class="container flex-cont " style="justify-content: space-between;">
			<div class="col-md-3 jumbotron contentTypeDiv">
				<div class="front"></div>
				<div class="back"></div>
			</div>
			<div class="col-md-3 jumbotron contentTypeDiv">
				<div class="front"></div>
				<div class="back"></div>
			</div>
			<div class="col-md-3 jumbotron contentTypeDiv">
				<div class="front"></div>
				<div class="back"></div>
			</div>
			<div class="col-md-3 jumbotron contentTypeDiv">
				<div class="front"></div>
				<div class="back"></div>
			</div>
		</div>
		
	</div>
	<div class="btn-SplCont">
		<div class="bottomHR">
			<a href="/career-main" class="btn btn-danger">FIND MORE JOBS</a>
		</div>
	</div>
	<div class="portfolioContainer corpMainCont jobHoverMainCont">
		<h1 class="text-center">How we hire?</h1>
		<div class="container">
			
			<div class="auxElt">
				<div class="topLayer">
					<div class="carHvrCont">
						<!-- <img src="/images/career/" alt=""> -->
						<div class="carHvrDisp">
							<i class="fa fa-file"></i>
							<span>Random Text</span>
						</div>
						<div class="carhvrTxt">
							<h3>Random Text</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
						</div>
					</div>
					<div class="carHvrCont">
						<!-- <img src="/images/career/" alt=""> -->
						<div class="carHvrDisp">
							<i class="fa fa-file"></i>
							<span>Random Text</span>
						</div>
						<div class="carhvrTxt">
							<h3>Random Text</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
						</div>
					</div>
					<div class="carHvrCont">
						<!-- <img src="/images/career/" alt=""> -->
						<div class="carHvrDisp">
							<i class="fa fa-file"></i>
							<span>Random Text</span>
						</div>
						<div class="carhvrTxt">
							<h3>Random Text</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
						</div>
					</div>
				</div>
				<div class="middleLayer">
					<div class="carHvrCont">
						<!-- <img src="/images/career/" alt=""> -->
						<div class="carHvrDisp">
							<i class="fa fa-file"></i>
							<span>Random Text</span>
						</div>
						<div class="carhvrTxt">
							<h3>Random Text</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
						</div>
					</div>
					<div class="carHvrCont">
						<!-- <img src="/images/career/" alt=""> -->
						<div class="carHvrDisp">
							<i class="fa fa-file"></i>
							<span>Random Text</span>
						</div>
						<div class="carhvrTxt">
							<h3>Random Text</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
						</div>
					</div>
				</div>
				<div class="middleLayer">
					<div class="carHvrCont">
						<!-- <img src="/images/career/" alt=""> -->
						<div class="carHvrDisp">
							<i class="fa fa-file"></i>
							<span>Random Text</span>
						</div>
						<div class="carhvrTxt">
							<h3>Random Text</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
						</div>
					</div>
					<div class="carHvrCont">
						<!-- <img src="/images/career/" alt=""> -->
						<div class="carHvrDisp">
							<i class="fa fa-file"></i>
							<span>Random Text</span>
						</div>
						<div class="carhvrTxt">
							<h3>Random Text</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
						</div>
					</div>
				</div>
				<div class="middleLayer">
					<div class="carHvrCont">
						<!-- <img src="/images/career/" alt=""> -->
						<div class="carHvrDisp">
							<i class="fa fa-file"></i>
							<span>Random Text</span>
						</div>
						<div class="carhvrTxt">
							<h3>Random Text</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
						</div>
					</div>
					<div class="carHvrCont">
						<!-- <img src="/images/career/" alt=""> -->
						<div class="carHvrDisp">
							<i class="fa fa-file"></i>
							<span>Random Text</span>
						</div>
						<div class="carhvrTxt">
							<h3>Random Text</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
						</div>
					</div>
				</div>
				<span class="ring">
					<i class="ringInner">
						<img src="/images/career/careerHover.png" alt="">
						<h3>recruitment <br>process</h3>
					</i>
				</span>
			</div>
			<div class="careerImgCont" style="opacity: 0;">
				<img src="/images/career/careerHover.png" alt="">
				<p>the recruitment process</p>
			</div>
		</div>
	</div>
	<div class="portfolioContainer corpMainCont text-center">
		<div class="container">
			<h1 >Executive Speak</h1>
			<div class="career-empl-cont">
				<slick class="" >
					<div class="row boardDirMainCont" ng-repeat="i in [1,2,3,4,5]">
						<div class="col-md-4">
							<div class="inner">
								<div class="img-empl-cont">
									<div class="tinge"></div>
									<div class="imgEmpCnt"><img src="images/img1.png"></div>
								</div>
								<h3>ADIL ZAINULBHAI</h3>
								<p>Network18 harnesses the power of information for people who want to change the world. Whether they're in business, finance, government, policy or philanthropy, we help our clients turn data into insights so they can cut through complexity to solve challenges great and small.</p>
								<div class="empl-post">
									<b>Chief Content Officer</b>
									<p>Leads Chemical & Natural</p>
									<p>Resource Industry</p>
									<p>Delivery Centers</p>
								</div>
							</div>
						</div>
						<div class="col-md-4" >
							<div class="inner">
								<h3 style="margin-top: 0;">Rajiv K. Luthra</h3>
								<p>Network18 harnesses the power of information for people who want to change the world. Whether they're in business, finance, government, policy or philanthropy, we help our clients turn data into insights so they can cut through complexity to solve challenges great and small.</p>
								<div class="empl-post">
									<b>Chief Content Officer</b>
									<p>Leads Chemical & Natural</p>
									<p>Resource Industry</p>
									<p>Delivery Centers</p>
								</div>
								
								<div class="img-empl-cont">
									<div class="tinge"></div>
									<div class="imgEmpCnt"><img src="images/img2.png"></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="inner">
								<div class="img-empl-cont">
									<div class="tinge"></div>
									<div class="imgEmpCnt"><img src="images/img5.png"></div>
								</div>
								<h3>Nirupama Rao</h3>
								<p>Network18 harnesses the power of information for people who want to change the world. Whether they're in business, finance, government, policy or philanthropy, we help our clients turn data into insights so they can cut through complexity to solve challenges great and small.</p>
								<div class="empl-post">
									<b>Chief Content Officer</b>
									<p>Leads Chemical & Natural</p>
									<p>Resource Industry</p>
									<p>Delivery Centers</p>
								</div>
							</div>
						</div>
						
					</div>
				</slick>
				
			</div>
		</div>
	</div>
	<div class="portfolioContainer corpMainCont text-center">
		<div class="container" style="margin-bottom: 100px;">
			<a href="/career-main" class="btn btn-primary btn-join" style="background: #99ADFF;">JOIN US</a>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		var maxWidth = 0;

		var windowHeight = $(window).height();
		$('.mainBodyContainerFull').animate({
			//height: windowHeight+'px',
			
			opacity:1
		},1000);
	});
</script>