 <div class="mainBodyContainerFull" style="padding-top: 0px; opacity: 0; height: auto;">
	<div class="headerFiller"></div>
	<a class="fixed-link-top" href="/career-main"><span class="deskShow">BACK TO JOB LISTING</span><span class="mobShow"><i class="fa fa-arrow-circle-left"></i></span></a>
	<!--  -->
	<!-- <div class="bottomSticky">
		<ul class="list-group">
			<li class="list-group-item"><a class="stickyMove" href="#portfolioNews"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove" href="#portfolioEntertainment"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove" href="#portfolioDistribution"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove" href="#portfolioMovies"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove" href="#portfolioDigital"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove" href="#portfolioPublishing"><span class=""></span></a></li>
		</ul>
	</div> -->
	<div class="video-cont" style="z-index: -1">
		<div class="video-over-text text-cont">
			<!-- <input type="text" class="form-control" placeholder="SEARCH JOBS"><i class="fa fa-search"></i> -->
		</div>
		<div class="vid-bg vid-bg-career">
			
		</div>
		<video width="100%" autoplay loop class="bot">
			<!-- <source src="images/473326883_compass.mp4" type="video/mp4"> -->
		</video>
	</div>
	<div class="portfolioContainer corpMainCont jobDescMainCont">
		<div class="jobDescriptionMainCont container">
			<h1>Executive Producer</h1>
			<h4>Job Location: New Delhi</h4>
			<h4>Job Id: J78609</h4>
			<div class="jobSection">
				<h3>JOB DESCRIPTION</h3>
				<p>Network18 Media & Investments Limited is a leading Indian media and entertainment company. Network18 encompasses a diversified portfolio across television, digital and print media, spanning interests in television, internet, filmed entertainment, digital commerce, magazines, mobile content and allied businesses.</p>
			</div>
			<div class="jobSection">
				<h3>JOB REQUIREMENTS</h3>
				<ul>
					<li>.NET 3.5/ 4.5 (C#, VB.NET, ASP,NET)</li>
					<li>SQL 2005/2012</li>
					<li>VB.NET or C#.NET</li>
					<li>Microsoft SQL Server</li>
					<li>Webservices</li>
					<li>Javascript /Jquery</li>
				</ul>
			</div>
			<div class="jobSection">
				<h3>COMPENSATION</h3>
				<ul>
					<li>We believe in giving bonuses for great work, or "thinking out of the box", or going the extra mile. </li>
					<li>We seek the Best Value Proposition. The lower the rate you offer, the more bonus points you'll get during the evaluation of your application. We're not into haggling. If your rate is higher than comparable competitors, we'll move on. So give your best bid.</li>
				</ul>
			</div>
			<div class="jobSection">
				<p class="text-center">
					<a href="/career-apply" class="btn btn-danger red-career-btn">APPLY</a>
					<a href="/career-apply" class="btn btn-danger red-career-btn">SAVE</a>
					<a href="/career-apply" class="btn btn-danger red-career-btn">SHARE</a>
				</p>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		var maxWidth = 0;
		var windowHeight = $(window).height();
		$('.mainBodyContainerFull').animate({
			//height: windowHeight+'px',
			//paddingTop: 0,
			opacity:1
		},1000);
	});
</script>