<div class="mainBodyContainerFull mainBodyContainerCareerFull" style="padding-top: 0px; opacity: 0; height: auto;">
	<div class="headerFiller"></div>
	<div class="bottomSticky">
		<ul class="list-group">
			<li class="list-group-item"><a class="stickyMove stickyHighlight" ><span id="moveHighlight" class="" style="bottom: {{botVal}}"></span></a></li>
			<li class="list-group-item"><a class="stickyMove num1" num="1" href="#portfolioNews"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove num2" num="2" href="#portfolioEntertainment"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove num3" num="3" href="#portfolioDigital"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove num4" num="4" href="#portfolioPublishing"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove num5" num="5" href="#portfolioMovies"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove num6" num="6" href="#portfolioDistribution"><span class=""></span></a></li>
		</ul>
	</div>
	<div class="video-cont">
		<!-- <div class="video-over-text">
			Sign in with <b>Linked</b><i class="fa fa-linkedin-square"></i>
		</div> -->
		<div class="vid-bg vid-bgs vid-bg-career" style="">
			<!-- <img src="/images/career/career_head_g.jpg" alt=""> -->
		</div>
		<video width="100%" autoplay loop >
			<source src="images/footage/26911270-preview-career-bw.mp4" type="video/mp4" class="top">
		</video>
	</div>
	<div class="vid-arr" >
		<span class="arrText">scroll</span>
		<span class="animateHeight"></span>
		<span class="animateHeightBg"></span>
	</div>
	<div class="portfolioContainer corpMainCont careerSec">
		<div class="container">
			<div class="row text-center career-main-un-text" id="careerMain">
				<h1>Career at Network18</h1>
				<h2>Be a part of India’s largest and most admired news network!</h2>
				<p>Network18 is India's most diversified media conglomerate with news and entertainment brands that touch lives of millions of people. <br>Despite our size and spread, our Group strives to remain a young, agile, talented and live-wire organisation. We believe we have the soul of a startup, within the body of a media and entertainment colossus. We aim to push boundaries, redefine rules <br>and put creativity at the centre of everything we do. </p>
				<p>Network 18 brings together storytellers, designers, engineers, artists and business managers under one roof united by the hunger to create immersive and bold content and ideas. We take pride in our people, who we believe are the key to realizing the organization’s potential. We continually strive to enable our employees to realize their own goals, by providing opportunities to learn, share and grow.</p>
			</div>
			<div class="row career-jumbo jumbotron"></div>
			<div class="row career-main-text text-center" id="whyCar">
				<h1>Life at Network18</h1>
				<ul class="list-group">
					<li class="list-group-it"><b>Exposure</b> – India’s most diversified media conglomerate, Network18 offers an array of work opportunities across digital, broadcasting and publishing space</li>
					<li class="list-group-it"><b>Excitement and Challenge</b> - The dynamism of the organisation coupled with ever-evulving nature of the industry provides abundant exciting and challenging opportunities that can accelerate your learning and growth    </li>
					<li class="list-group-it"><b>Empowerment</b> and Entrepreneurial Innovation - At Network18, you get the  freedom to take your own decisions and the responsibility to grow through innovation and experimentation</li>
					<li class="list-group-it"><b>Enrichment and learning</b> – Network18 offers customized learning and development initiatives, focused leadership development training and exposure to multi-functional projects. One gets the opportunity to work with some of India’s most credible and celebrated personalities and the chance to learn from them </li>
					<li class="list-group-it"><b>Exuberance</b> - Network18 is young at heart and this is reflected not just in the speed of thinking and execution, but also in its way of life – which values passion, a ‘will-do’ attitude, hunger for success, fun and liveliness.</li>   
				</ul>
			</div>
		</div>
	</div>
	<div class="portfolioContainer corpMainCont careerSec careerboxCont" style="" id="carJob">
		<h1 class="text-center" style="">Latest Jobs</h1>
		<div class="container box-flex careerbox">
			
				<div class="box">
					<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
					
					<a href="/career-description">
						<div class="boxTextBot">
							<h3>PRODUCTION</h3>
							<h4>Executive <br> Producer</h4>
							<h3>MUMBAI</h3>
						</div>
					</a>
				</div>
			
			
				<div class="box">
					<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
					
					<a href="/career-description">
						<div class="boxTextBot">
							<h3>PRODUCTION</h3>
							<h4>Executive <br> Producer</h4>
							<h3>MUMBAI</h3>
						</div>
					</a>
				</div>
			
			
				<div class="box">
					<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
					
					<a href="/career-description">
						<div class="boxTextBot">
							<h3>PRODUCTION</h3>
							<h4>Executive <br> Producer</h4>
							<h3>MUMBAI</h3>
						</div>
					</a>
				</div>
			
			
				<div class="box">
					<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
					
					<a href="/career-description">
						<div class="boxTextBot">
							<h3>PRODUCTION</h3>
							<h4>Executive <br> Producer</h4>
							<h3>MUMBAI</h3>
						</div>
					</a>
				</div>
			
		</div>
		<!-- <div class="container box-flex careerbox slickJob mobShow">
			<div class="btnContSlixk">
				<button class="empPrev empPrevJ"></button>
				<button class="empNext empNextJ"></button>
			</div>
			<div class="jobSlickCot">
				<slick class="" prev-arrow=".empPrevJ" next-arrow=".empNextJ" ng-if="wWid<1000">
					<div class="eachjoItem" ng-repeat="i in [1,2,3,4]">
						<div class="box">
							<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
							
							<a href="/career-description"><div class="boxTextBot">Executive <br> Producer</div></a>
						</div>
						
						
						<div class="box">
							<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
							
							<a href="/career-description"><div class="boxTextBot">Executive <br> Producer</div></a>
						</div>
					</div>
				</slick>
			</div>
			
		</div> -->
	</div>
	<div class="btn-SplCont">
		<div class="bottomHR">
			<a href="/career-main" class="btn btn-danger">FIND MORE JOBS</a>
		</div>
	</div>
	
	<div class="portfolioContainer corpMainCont careerSec careerSlick text-center" id="carLife">
		<div class="container">
			<h1 class="mobHide">Enjoy the Challenge of New Experiences <br>and Opportunities</h1>
			<h1 class="mobShow">Enjoy the Challenge of New Experiences and Opportunities</h1>
			<div class="btnContSlixk">
				<button class="empPrev"></button>
				<button class="empNext"></button>
			</div>
			<div class="career-empl-cont">
				<slick class="" prev-arrow=".empPrev" next-arrow=".empNext" autoplay="true">
					<div class="row boardDirMainCont" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] track by $index">
						<div class="col-md-12">
							<img src="/images/career/c{{$index+1}}.jpg" alt="">
						</div>
					</div>
				</slick>
			</div>
		</div>
	</div>
	
	<div class="portfolioContainer corpMainCont careerSec careerSlick WorkFinal" style="" id="joinCar">
		<h1 class="text-center" style="">Work with Us</h1>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12 text-right">
					<button class="btn btn-primary btn-join">Connect with us on LinkdIn</button>
				</div>
				<div class="col-md-6 col-sm-12 text-left mobHide">
					To explore career opportunities with us, please e-mail <br>your resume to <a href="" class="btn btn-link">careers@nw18.com</a> 
				</div>
				<div class="col-md-6 col-sm-12 text-left mobShow">
					To explore career opportunities with us, please e-mail your resume to <a href="" class="btn btn-link">careers@nw18.com</a> 
				</div>
			</div>
			<!-- <div class="row text-center">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					
				</div>
				<div class="col-md-3"></div>
			</div> -->
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		var maxWidth = 0;

		var windowHeight = $(window).height();
		$('.mainBodyContainerFull').animate({
			//height: windowHeight+'px',
			
			opacity:1
		},1000);

	});
</script>