<div class="mainBodyContainerFull mainBodyContainerCarFull" style="padding-top: 0px; opacity: 0; height: auto;">
	<div class="headerFiller"></div>
	<a class="fixed-link-top" href="/career#carJob"><span class="">BACK TO CAREER</span></a>
	<div class="video-cont">
		<div class="vid-bg vid-bgs vid-bg-career" style="">
		</div>
		<video class="mobShow top" width="100%" autoplay="" loop="">
			<source src="images/footage/MOBILE_SIZE/3893537-mobile-CAREER-graded.mp4" type="video/mp4" class="top">
		</video>
		<video class="mobHide" width="100%" autoplay="" loop="">
			<source src="images/footage/3893537-hd-CAREER-gradednew.mp4" type="video/mp4" class="top">
		</video>
		<!-- <div id="home_vid" class="mobHide" style="height: {{pHigh}}px;width: {{pWid}}px;">
			<youtube-video ng-if="enableYT" player-vars="playerVars1" player="bestPlayer1" video-id="theBestVideo5" player-width="'100%'" player-height="'100%'" ></youtube-video>
		</div> -->
	</div>
	<div class="vid-arr" >
		<span class="arrText">scroll</span>
		<span class="animateHeight"></span>
		<span class="animateHeightBg"></span>
	</div>
	<div id="scrollOHer"></div>
	<div class="portfolioContainer corpMainCont carMainCio">
		<div class="container" style="max-width: 1140px;">
			<div class="flex-cont career-results-main">
				<div class="col-md-3">
				</div>
				<div class="col-md-6 career-results" ng-if="!showAll">
					<h4>{{jobs[0]['Function']}}</h4>
					<hr class="hr2"/ ng-if="jobs.length>0">
					<div class="row container-fluid filter-item-res">
						<div class="job-res-item" ng-repeat="job in jobs" ng-if="jobs.length>0">
							<p class="job-item-desc">
								<span class="job-date">{{job['Posted Date']}}</span>
								<span class="jpb-loc">{{job['Location']}}</span>
							</p>
							<p class="job-item-title">
								<a href="/career-description?id={{job['id']}}">{{job['Jobs']}}</a>
							</p>
						</div>
						<div class="job-res-item" ng-if="jobs.length<=0">
							No jobs in this section
						</div>
					</div>
					<div class="job-res-item job-res-item-load" style="" ng-if="!showAll">
						<p class="job-item-title" style="margin: 0;">
							<button class="btn bordDwlBtn" ng-click="updShowAll()">View All</button>
						</p>
					</div>
				</div>
				<div class="col-md-6 career-results" ng-if="showAll">

					<div class="eachCarGrp" ng-repeat="(key, value) in validParent">
						<h4>{{value}}</h4>
						<hr class="hr2"/>
						<div class="row container-fluid filter-item-res">
							<div class="job-res-item" ng-repeat="job in jobs" ng-if="job['Parent']==key">
								<p class="job-item-desc">
									<span class="job-date">{{job['Posted Date']}}</span>
									<span class="jpb-loc">{{job['Location']}}</span>
								</p>
								<p class="job-item-title">
									<a href="/career-description?id={{job['id']}}">{{job['Jobs']}}</a>
								</p>
							</div>
							<div class="job-res-item job-res-item-load" style="" ng-if="!showAll">
								<p class="job-item-title" style="margin: 0;">
									<button class="btn bordDwlBtn" ng-click="updShowAll()">LOAD MORE</button>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
				</div>
			</div>
		</div>
	</div>
	
</div>
<script>
	$(document).ready(function() {
		var maxWidth = 0;
		var windowHeight = $(window).height();
		var windowwidth = $(window).width();
		if (windowwidth<700) {
			//$('.mainBodyContainerCarFull').scrollTop(400);
			//$('#scrollOHer').scrollTop();
			$('html, body').animate({ scrollTop: ($('#scrollOHer').offset().top) },500);

		}
		$('.mainBodyContainerFull').animate({
			//height: windowHeight+'px',
			//paddingTop: 0,
			opacity:1
		},1000);

	});
</script>