 <div class="mainBodyContainerFull mainBodyContainerCarFull" style="padding-top: 0px; opacity: 0; height: auto;">
	<div class="headerFiller"></div>
	<a class="fixed-link-top" href="/career-main?id={{jobData['Parent']}}"><span class="">BACK TO JOB LISTING</span></a>
	<div class="video-cont">
		<div class="vid-bg vid-bgs vid-bg-career" style="">
		</div>
		<video class="mobShow top" width="100%" autoplay="" loop="">
			<source src="images/footage/MOBILE_SIZE/3893537-mobile-CAREER-graded.mp4" type="video/mp4" class="top">
		</video>
		<video class="mobHide" width="100%" autoplay="" loop="">
			<source src="images/footage/3893537-hd-CAREER-gradednew.mp4" type="video/mp4" class="top">
		</video>
		
		<!-- <video class="mobShow top" width="100%" autoplay="" loop="">
			<source src="images/footage/MOBILE_SIZE/3893537-mobile-CAREER-graded.mp4" type="video/mp4" class="top">
		</video>
		<video class="mobHide top" width="100%" autoplay="" loop="">
			<source src="images/footage/MOBILE_SIZE/3893537-hd-CAREER-gradednew.mp4" type="video/mp4" class="top">
		</video>
		<div id="home_vid" class="mobHide" style="height: {{pHigh}}px;width: {{pWid}}px;">
			<youtube-video ng-if="enableYT" player-vars="playerVars1" player="bestPlayer1" video-id="theBestVideo5" player-width="'100%'" player-height="'100%'" ></youtube-video>
		</div> -->
	</div>
	<div class="vid-arr" >
		<span class="arrText">scroll</span>
		<span class="animateHeight"></span>
		<span class="animateHeightBg"></span>
	</div>
	<div class="portfolioContainer corpMainCont jobDescMainCont">
		<div class="jobDescriptionMainCont container">
			<h1>{{jobData['Jobs']}}</h1>
			<h4><b>Location :</b> {{jobData['Location']}}</h4>
			<h4><b>Education :</b> {{jobData['Education Requirement']}}</h4>
			<h4><b>Experience :</b> {{jobData['Experience Requirement']}}</h4>
			<!-- <div class="jobSection">
				<p class="text-left">
					<a href="/career-apply" class="btn btn-danger red-career-btn">APPLY</a>
					<a href="/career-apply" class="btn btn-danger red-career-btn">SAVE THIS JOB</a>
					<a href="/career-apply" class="btn btn-danger red-career-btn">SHARE THIS JOB</a>
				</p>
			</div> -->
			<!-- <div class="jobSection">
				<h3>JOB DESCRIPTION</h3>
				<p>Network18 Media & Investments Limited is a leading Indian media and entertainment company. Network18 encompasses a diversified portfolio across television, digital and print media, spanning interests in television, internet, filmed entertainment, digital commerce, magazines, mobile content and allied businesses.</p>
			</div> -->
			<div class="jobSection">
				<h3>JOB REQUIREMENTS</h3>
				<ul >
					<li ng-repeat="list in jobData['Job Responsibilities']"><span>{{list}}</span></li>
				</ul>
			</div>
			<div class="jobSection">
				<h3>SKILL REQUIREMENTS</h3>
				<ul >
					<li ng-repeat="list in jobData['Skills & Competencies']"><span>{{list}}</span></li>
				</ul>
			</div>
			<div class="jobSection">
				<p class="text-left">
					Mail us your resume at <span class="text-info">{{jobData['Recruiter']}}</span>
				</p>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		var maxWidth = 0;
		var windowHeight = $(window).height();
		$('.mainBodyContainerFull').animate({
			//height: windowHeight+'px',
			//paddingTop: 0,
			opacity:1
		},1000);
	});
</script>