<div class="mainBodyContainerFull" style="padding-top: 0; opacity: 0; height: 0;">
	<div class="headerFiller"></div>
	
	<div class="video-cont" ng-parallax speed="0">
		<div class="vid-bg">

		</div>
		<video width="100%" autoplay loop class="bot">
			<source src="images/473326883_compass.mp4" type="video/mp4">
		</video>
	</div>
	<div class="portfolioContainer corpMainCont contactMainCont" ng-parallax speed="3">
		<div class="container" style="padding: 0 15px;">
			<div class="row flex-cont" >
				<div class="row contact-main-text text-center">
					<h1>Experience Work and Life at Network18</h1>
					<p>
						Network18 Media & Investments Limited (the Company) is one of India’s most diverse and leading Media and Entertainment conglomerates with interests in television, internet, filmed entertainment, e-commerce marketplace and properties, magazines, mobile content and allied businesses. Network18 reaches out to more than 550 million television viewers and attracts more than27 million unique visitors on its digital properties.
					</p>
				</div>
			</div>
			<div class="row" >
				<span class="bgPatch bgGrey" style="height: 826px;"></span>
				<div class="row contact-add-text ">
					<div class="col-md-6">
						<h3>human <br>	resources</h3>
						<p>
							First Floor, <br>
							Empire Complex,<br>
							414 Senapati Bapat Marg,<br>
							Lower Parel,<br>
							Mumbai-400013,<br>
							Maharashtra <br>
							# 011 41506112
						</p>
					</div>
					<!-- <div class="col-md-6">
						<h3>corporate<br>communications</h3>
						<p>
							First Floor, <br>
							Empire Complex,<br>
							414 Senapati Bapat Marg,<br>
							Lower Parel,<br>
							Mumbai-400013,<br>
							Maharashtra <br>
							# 011 41506112
						</p>
					</div> -->
					<!-- <div class="col-md-6">
						<h3>Sales and <br>customer service</h3>
						<p>
							First Floor, <br>
							Empire Complex,<br>
							414 Senapati Bapat Marg,<br>
							Lower Parel,<br>
							Mumbai-400013,<br>
							Maharashtra <br>
							# 011 41506112
						</p>
					</div> -->
					<div class="col-md-6">
						<h3>investor <br>relations</h3>
						<p>
							First Floor, <br>
							Empire Complex,<br>
							414 Senapati Bapat Marg,<br>
							Lower Parel,<br>
							Mumbai-400013,<br>
							Maharashtra <br>
							# 011 41506112
						</p>
					</div>
				</div>
			</div>
			<!-- <div class="row btnOvrLy" >
				<button class="btn btn-bl">bureau offices</button>
			</div> -->
			<div class="row" >
				<div id="chart_div" style="width: 100%;margin:0 auto;padding-left: 37px;">
					<ng-map center="25.177817, 77.667128" zoom="5" region="IN" style="height:500px;">
						<marker 
							ng-repeat="eachMarker in addArr track by eachMarker.id" 
							position="{{eachMarker.add}}" 
							on-click="map.showInfoWindow(event, '{{eachMarker.id}}')"
							icon="/images/18_flag.png" 
							ng-if="eachMarker.type=='head'">
						</marker>
						<marker 
							ng-repeat="eachMarker in addArr track by eachMarker.id" 
							position="{{eachMarker.add}}" 
							on-click="map.showInfoWindow(event, '{{eachMarker.id}}')"
							icon="/images/18_bureaus.png" 
							ng-if="eachMarker.type=='bureau'">
						</marker>

						<info-window 
							ng-repeat="eachText in addArr track by eachText.id" 
							id="{{eachText.id}}"
							max-width="240"
							width="240">
							<div class="mainInfoWin">
								<p class="title">{{eachText.type}}</p>
								<p class="add"><span><b>Address: </b></span>{{eachText.add}}</p>
							</div>
						</info-window>
					</ng-map>
				</div>
			</div>
			<div class="row contact-add-text" >
				<div class=" contact-add-text-below text-center">
					<h3>COMPLAINTS RELATING TO CONTENT</h3>
					<p>
						Any complaint relating to content of TV channels namely: CNBC TV18, CNBC Awaaz, CNBC Bajar, CNN News18, News18 India, News18 Assam/North East, News18 Tamil Nadu, News18 Kerala, ETV Urdu, ETV Uttar Pradesh/Uttarakhand, ETV Madhya Pradesh/Chhattisgarh, ETV Rajasthan, ETV Haryana/Himachal Pradesh, ETV Bihar/Jharkhand, ETV News Bangla, ETV News Odia, ETV News Kannada, and ETV News Gujarati under the Code of Ethics & Broadcasting Standards and News Broadcasting Standards (Disputes Redressal) Regulations of News Broadcasters Association (NBA) shall be made by a person aggrieved within a reasonable time not exceeding 7 (seven) days from the date of first broadcast to the following person appointed by the Company whose details are reproduced below:
					</p>
					<h4>Ms. Kshipra Jatana</h4>
					<p class="midp">
						Group General Counsel, TV18 Broadcast Limited, Express Trade Tower, Plot <br>
						No. 15 & 16, Sector 16A, Film City Noida, Uttar Pradesh 201301 <br>
						Tel + 91 120 4341818    Fax +91 11 66173955 <br>
						complaint@network18online.com
					</p>
					<div class="btnContAdd"><button class="btn">FILL FORM</button></div>
					<p>
						However, before making a complaint viewers are encouraged to go through the Code of Ethics & Broadcasting Standards, News Broadcasting Standards (Disputes Redressal) Regulations and Guide to the Complaints Process. These details are <br> available on the website of NBA www.nbanewdelhi.com
					</p>
				</div>
			</div>
		</div>
	</div>
	<section class="greyBG footerSection">
		<div class="fav-logo-cont"><img src="images/18.png" alt=""></div>
		<div class="container" style="padding-top: 43px;width: 844px;">
			<div class="row clearAfter" style="">
				<div class="foot-link-cont" style="padding-left: 15px;">
					<h3>ABOUT US</h3>
					<ul class="list-group">
						<li class="list-group-item">
							<a href="/corporate-main" class="subCrumbsLinks">Company History</a>
						</li>
						<li class="list-group-item">
							<a href="/corporate-main#brdDirInt" class="subCrumbsLinks">Board Of Directors</a>
						</li>
						<li class="list-group-item">
							<a href="/corporate-main#globPartInt" class="subCrumbsLinks">International Partners</a>
						</li>
						<li class="list-group-item">
							<a href="/corporate-main#brdCmtii" class="subCrumbsLinks" >Board Comittee</a>
						</li>
						<li class="list-group-item">
							<a href="/corporate-main#csrID" class="subCrumbsLinks">Corporate Social Responsibility</a>
						</li>
						<li class="list-group-item">
							<a href="/corporate-main#" class="subCrumbsLinks">Our  Investment</a>
						</li>
					</ul>
				</div>
				
				<div class="foot-link-cont" style="padding-left: 40px;">
					<h3>PORTFOLIO</h3>
					<ul class="list-group">
						<li class="list-group-item">
							<a href="/portfolio-main#portfolioNews" class="subCrumbsLinks">News</a>
						</li>
						<li class="list-group-item">
							<a href="/portfolio-main#portfolioEntertainment" class="subCrumbsLinks">Entertainment</a>
						</li>
						<li class="list-group-item">
							<a href="/portfolio-main#portfolioDistribution" class="subCrumbsLinks">Distribution</a>
						</li>
						<li class="list-group-item">
							<a href="/portfolio-main#portfolioMovies" class="subCrumbsLinks">Movies</a>
						</li>
						<li class="list-group-item">
							<a href="/portfolio-main#portfolioDigital" class="subCrumbsLinks">Network18 Digital</a>
						</li>
						<li class="list-group-item">
							<a href="/portfolio-main#portfolioNews" class="subCrumbsLinks">Publishing</a>
						</li>
					</ul>
				</div>
				<div class="foot-link-cont" style="padding-left: 0px;">
					<h3>INVESTOR RELATIONS</h3>
					<ul class="list-group">
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Quarterly Financial Statement</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Annual Reports</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Investor Presentation</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Financial And Stock Information</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Share Holding Pattern</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Our Policies</a>
						</li>
					</ul>
				</div>
				<div class="foot-link-cont" style="padding-left: 40px;">
					<h3>CAREERS</h3>
					<ul class="list-group">
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Life At Network18</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Employee Value Proposition</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Explore Opportunities</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Register Yourself</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Employee Speak  And Testimonials</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="container-fluid">
					<div>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-youtube-play"></i></a>
						<a href=""><i class="fa fa-linkedin"></i></a>
					</div>
					<div style="text-transform: uppercase;">
						Copyright 2015 Network18. All rights reserved.
					</div>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="container-fluid cont-box-bot" style="font-size: ">

					<span style="font-family: 'Glober bold';">REGISTERED OFFICE</span> First Floor, Empire Complex, 414 Bapat Marg, Lower Parel, Mumbai-400013, Maharashtra <br>
					Phone: 011 41506112 41506114 Fax: 011 41506112 41506114 <br>
					<br>

					<span style="font-family: 'Glober bold';">CORPORATE OFFICE</span>
					FExpress Trade Towers. Plot No. 15 & 16, Sector 16A,
					Noida, Uttar Pradesh 201301. India <br>
					Phone 0120 4341818, 120 3987777 Fax: 01203053860
					<br><br>
				</div>
			</div>
		</div>
	</section>
</div>

<script>
	$(document).ready(function() {
		var maxWidth = 0;
		var windowHeight = $(window).height();
		$('.mainBodyContainerFull').animate({
			height: windowHeight+'px',
			paddingTop: 0,
			opacity:1
		},1000);
	});
</script>