<div class="mainBodyContainerFull mainBodyContainerContactFull" style="padding-top: 0; opacity: 1; height: auto;">
	<div class="headerFiller"></div>
	
	<div class="video-cont" ng-parallax speed="0" style="height: 70vh;">
		<div class="vid-bg">

		</div>
		<video width="100%" autoplay loop class="top" style="">
			<source src="images/footage/26911270-preview-contact3.mp4" type="video/mp4">
		</video>
	</div>
	<div class="portfolioContainer corpMainCont contactMainCont" ng-parallax speed="3">
		<div class="container" style="">
			<div class="row flex-cont" >
				<div class="row contact-main-text text-center">
					<h1>Reach out to Network18</h1>
					<p>At Network18, we welcome correspondence from our consumers, investors, career seekers, our partners, and people at large. Reach out to us.</p>
				</div>
			</div>
			<div class="row container-fluid" >
				<span class="bgPatch bgGrey" style="height: 786px;"></span>

				<div class="row container-fluid contact-add-text">
					<div class="clearfix">
						<div class="col-md-4">
							<h3>REGISTERED OFFICE</h3>
							<p>First Floor, Empire Complex,</p>
							<p>414 Senapati Bapat Marg,</p>
							<p>Lower Parel, Mumbai-400013</p>
							<p>Maharashtra, India</p>
							<p>Ph: +91 22 4001 9000</p>
						</div>
						<div class="col-md-4">
							<h3>Investor Relations</h3>
							<p class="">
								<b>NW18 :</b>
								<mail>investors.n18@nw18.com</mail>
							</p>
							<p class="incv">
								<b>TV18 &nbsp;&nbsp;:</b>
								<mail>investors.tv18@nw18.com</mail>
							</p>
							<h3>Corporate Communications</h3>
							<p>
								Supriya Saxena
								<mail>(supriya.saxena@nw18.com)</mail>
							</p>
						</div>
						<div class="col-md-4">
							<h3>Distributor Contact</h3>
							<p>
								<a href="http://www.indiacast.com/domestic.html" target="_blank" class="btn btn-link">Distribution Rate Card</a>
							</p>
							<div class="flex-cont">
								<a href="http://www.network18online.com/downloads/Application_DAS_III_Areas.pdf" class="btn bordDwlBtn"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
								<p>MSO Application Form for <br>TV18 Channels for DAS Phase III Areas</p>
							</div>
						</div>
						<div class="clearfix">
						</div>
					</div>
				</div>
			</div>
			<div class="row container-fluid contact-add-text invCntcCont">
				<div class="clearfix container-fluid invCont">
					<h3>REGISTRAR & TRANSFER AGENTS Contact</h3>
					
					
				</div>
				<div class="clearfix flex-cont">
					<div class="clearfix flex-cont-ver">
						
						<p><a href="http://www.network18online.com/" target="_blank" class="btn btn-link">NETWORK18 MEDIA & INVESTMENTS LIMITED</a></p>
						<p><b>Compliance Officer :</b> Mr. Ratnesh Rukhariyar </p>
						<p class="small">In case you have any investor complaints, you may write to us at: <b>Investors.n18@network18online.com</b></p>
						<p><a href="http://www.network18online.com/reports/Information%20for%20website.pdf" class="btn btn-link btn-link-blue" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Transfer of Shares Only in Demat Form </a></p>
						<br>
						<p>Karvy Selenium, Tower – B, Plot No.31 & 32, </p>
						<p>Financial District Gachibowli, </p>
						<p>Nanakramguda, Hyderabad – 500 032</p>
						<br>
						<p>Toll Free No.1800 425 8998</p>
						<p>Phone: 91 40 6716 1700 Fax: 91 40 6716 1680</p>
						<p>Email: nwminvestor@karvy.com; <a href="www.karvy.com" class="btn btn-link btn-link-blue" target="_blank">www.karvy.com</a></p>
						<p class="maraut0">Contact Person: Mr. S P Venugopal</p>
						<p>SEBI REGISTRATION NO.: INR000000221</p>
					</div>
					
					<div class="clearfix flex-cont-ver">
						<p><a href="http://www.network18online.com/" target="_blank" class="btn btn-link">TV18 BROADCAST LIMITED</a></p>
						<p><b>Compliance Officer :</b> Mr. Deepak Gupta </p>
						<p class="small">In case you have any investor complaints, you may write to us at: <b>investors.tv18@nw18.com</b></p>
						<p><a href="http://www.network18online.com/reportstv18/Code%20of%20Conduct/TV18_Shareholders%20Information.pdf" class="btn btn-link btn-link-blue" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Transfer of Shares Only in Demat Form </a></p>
						<br>
						<p>Karvy Selenium, Tower – B, Plot No.31 & 32, </p>
						<p>Financial District Gachibowli, </p>
						<p>Nanakramguda, Hyderabad – 500 032</p>
						<br>
						<p>Toll Free No.1800 425 8998</p>
						<p>Phone: 91 40 6716 1700 Fax: 91 40 6716 1680</p>
						<p>Email: nwminvestor@karvy.com; <a href="www.karvy.com" class="btn btn-link btn-link-blue" target="_blank">www.karvy.com</a></p>
						<p class="maraut0">Contact Person: Mr. S P Venugopal</p>
						<p>SEBI REGISTRATION NO.: INR000000221</p>
					</div>
					
				</div>
			</div>
			<div class="row chartRow" >
				<div id="chart_div" style="width: 100%;margin:0 auto;padding-left: 37px;">
					<ng-map center="25.177817, 77.667128" zoom="5" region="IN" style="height:500px;">
						<marker 
							ng-repeat="eachMarker in addArr track by eachMarker.id" 
							position="{{eachMarker.add}}" 
							on-mouseover="map.showInfoWindow(event, '{{eachMarker.id}}')"
							on-mouseout="map.hideInfoWindow(event, '{{eachMarker.id}}')"
							icon="/images/18_flag.png" 
							ng-if="eachMarker.type=='head'">
						</marker>
						<marker 
							ng-repeat="eachMarker in addArr track by eachMarker.id" 
							position="{{eachMarker.add}}" 
							on-mouseover="map.showInfoWindow(event, '{{eachMarker.id}}')"
							on-mouseout="map.hideInfoWindow(event, '{{eachMarker.id}}')"
							icon="/images/18_bureaus.png" 
							ng-if="eachMarker.type=='bureau'">
						</marker>

						<info-window 
							ng-repeat="eachText in addArr track by eachText.id" 
							id="{{eachText.id}}"
							max-width="240"
							width="240">
							<div class="mainInfoWin">
								<p class="title">{{eachText.type}}</p>
								<p class="add"><span><b>Address: </b></span>{{eachText.fullAdd}}</p>
							</div>
						</info-window>
					</ng-map>
				</div>
			</div>
			<div class="row contact-add-text" >
				<div class=" contact-add-text-below text-center">
					<h3>COMPLAINTS RELATING TO CONTENT</h3>
					<p>
						Any complaint relating to content of TV channels namely: CNBC TV18, CNBC Awaaz, CNBC Bajar, CNN News18, News18 India, News18 Assam/North East, News18 Tamil Nadu, News18 Kerala, ETV Urdu, ETV Uttar Pradesh/Uttarakhand, ETV Madhya Pradesh/Chhattisgarh, ETV Rajasthan, ETV Haryana/Himachal Pradesh, ETV Bihar/Jharkhand, ETV News Bangla, ETV News Odia, ETV News Kannada, and ETV News Gujarati under the Code of Ethics & Broadcasting Standards and News Broadcasting Standards (Disputes Redressal) Regulations of News Broadcasters Association (NBA) shall be made by a person aggrieved within a reasonable time not exceeding 7 (seven) days from the date of first broadcast to the following person appointed by the Company whose details are reproduced below:
					</p>
					<h4>Kshipra Jatana</h4>
					<p class="midp">
						Group General Counsel, TV18 Broadcast Limited, Express Trade Tower, Plot <br>
						No. 15 & 16, Sector 16A, Film City Noida, Uttar Pradesh 201301 <br>
						Tel + 91 120 4341818    Fax +91 11 66173955 <br>
						complaint@network18online.com
					</p>
					<div class="btnContAdd"><a class="btn" href="http://www.network18online.com/complaint-form.php" target="_blank">FILL FORM</a></div>
					<p>
						Before making a complaint viewers are encouraged to go through the Code of Ethics & Broadcasting Standards, News Broadcasting Standards (Disputes Redressal) Regulations and Guide to the Complaints Process. These details are <br> available on the website of NBA www.nbanewdelhi.com
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		var maxWidth = 0;
		var windowHeight = $(window).height();
		// $('.mainBodyContainerFull').animate({
		// 	height: windowHeight+'px',
		// 	paddingTop: 0,
		// 	opacity:1
		// },1000);
	});
</script>