<div class="mainBodyContainerFull" style="padding-top: 0; opacity: 0; height: 0;">
	<div class="headerFiller"></div>
	<!-- <a class="fixed-link-top" href="/corporate">BACK TO ABOUT US</a>
	<div class="bottomSticky">
		<ul class="list-group">
			<li class="list-group-item"><a class="stickyMove stickyHighlight" ><span id="moveHighlight" class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove num1" num="1" href="#compHist"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove num2" num="2" href="#brdDirInt"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove num3" num="3" href="#globPartInt"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove num4" num="4" href="#brdCmtii"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove num5" num="5" href="#csrID"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove num6" num="6" href="#compHist"><span class=""></span></a></li>
			
		</ul>
	</div> -->
	<div class="video-cont" ng-parallax speed="0">
		<div class="vid-bg">

		</div>
		<video width="100%" autoplay loop class="bot">
			<source src="images/473326883_compass.mp4" type="video/mp4">
		</video>
	</div>
	<div class="portfolioContainer corpMainCont" ng-parallax speed="3">
		<div class="container" style="padding: 0 15px;">
			<div class="row" id="compHist">
			</div>
		</div>
	</div>
</div>