<div class="headerFiller"></div>
<div class="portfolioContainer">
  <div class="container">
    <div class="heroImgContainer">
      <img src="images/aboutUs_hero.png" alt="">
    </div>
    <div class="">
      <h2 class="text-center" style="font-size: 40px; color: #666;margin:70px auto; line-height: 40px;">History | Vision | Values</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="box">
            <div class="boxTextBot">
              <a href="">company history</a>
            </div>
          </div>
          <div class="box">
            <div class="boxTextBot">
              <a href="">board of directors</a>
            </div>
          </div>
          <div class="box">
            <div class="boxTextBot">
              <a href="">global partners</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 centerCoverText">
          <h3>About NETWORK18</h3>
          <p>Network18 Media & Investments Limited (the Company) is one of India’s most diverse and leading Media and Entertainment conglomerates with interests in television, internet, filmed entertainment, e-commerce marketplace and properties, magazines, mobile content and allied businesses. Network18 reaches out to more than 550 million television viewers and attracts more than 27 million unique visitors on its digital properties.</p>
          <p>Network18’s bouquet of 35 television channels offers a unique mix of national and regional programming, catering to diverse languages and genres. Network18’s digital content and commerce segment includes a diversified portfolio of brands catering to a wide range of interests and services, including news and entertainment, markets and finance, online shopping and ticketing, and mobile phone services and applications.</p>
          <p>Network18’s bouquet of 35 television channels offers a unique mix of national and regional programming, catering to diverse languages and genres. Network18’s digital content and commerce segment includes a diversified portfolio of brands catering to a wide range of interests and services, including news and entertainment, markets and finance, online shopping and ticketing, and online shopping and ticketing, and mobile phone services and applications. online shopping and ticketing, and mobile phone services and applications. </p>
          </p>
        </div>
        <div class="col-md-3">
          <div class="box">
            <div class="boxTextBot">
              <a href="">board committee</a>
            </div>
          </div>
          <div class="box">
            <div class="boxTextBot">
              <a href="">corporate social responsibility</a>
            </div>
          </div>
          <div class="box">
            <div class="boxTextBot">
              <a href="">our investment</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
