<div class="mainBodyContainerFull mainBodyContainerFullComp portfolioContainer mainBodyContainerFullCorp" style="">
	<div class="headerFiller"></div>
	<a class="fixed-link-top" href="/corporate"><span class="">BACK TO ABOUT US</span></span></a>
	<div class="bottomSticky corpSticky">
		<ul class="list-group">
			<li class="list-group-item"><a class="stickyMove stickyHighlight" ><span id="moveHighlight" class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove num1" num="1" href="#compHist"><span class=""></span><div class="stickyMoveDisp">Company History</div></a></li>
			<li class="list-group-item"><a class="stickyMove num2" num="2" href="#brdDirInt"><span class=""></span><div class="stickyMoveDisp">Board of Directors</div></a></li>
			<li class="list-group-item"><a class="stickyMove num3" num="3" href="#mngCont"><span class=""></span><div class="stickyMoveDisp">Management Team</div></a></li>
			<li class="list-group-item"><a class="stickyMove num4" num="4" href="#globPartInt"><span class=""></span><div class="stickyMoveDisp">Global Partners</div></a></li>
			<li class="list-group-item"><a class="stickyMove num5" num="5" href="#brdCmtii"><span class=""></span><div class="stickyMoveDisp">Board Committee</div></a></li>
			<li class="list-group-item"><a class="stickyMove num6" num="6" href="#crpPres"><span class=""></span><div class="stickyMoveDisp">Corporate Presentation</div></a></li>
			<!-- <li class="list-group-item"><a class="stickyMove num6" num="6" href="#compHist"><span class="" style="background: transparent;pointer-events: none;"></span></a></li> -->
			
		</ul>
	</div>
	<div class="video-cont" style="height: 65vh;">
		<!-- <h2 class="videoOverText" style="top: 50%;transform: translateX(-50%) translateY(-100%);">History. Vision. Values.</h2> -->
		<div class="vid-bg">

		</div>
		<video class="mobShow" width="100%" autoplay="" loop="">
			<source src="images/footage/MOBILE_SIZE/1007487709-hd_HISTORY-mobile.mp4" type="video/mp4" class="top">
		</video>
		<video class="mobHide" width="100%" autoplay="" loop="">
			<source src="images/footage/1007487709-hd_HISTORY-graded.mp4" type="video/mp4" class="top">
		</video>
		<!-- <div id="home_vid" class="mobHide" style="height: {{pHigh}}px;width: {{pWid}}px;">
			<youtube-video ng-if="enableYT" player-vars="playerVars" player="bestPlayer" video-id="theBestVideo" player-width="'100%'" player-height="'100%'" ></youtube-video>
		</div> -->
	</div>
	<div class="portfolioContainer corpMainCont corpMainTimelineCont" ng-parallax speed="3">
		<div class="container corpMainTimelineCont divOnFocus" num="1" style="padding: 0 15px;">
			<div class="row" id="compHist">
				<h1 style="margin-left: -6px;">Company History
					<div class="legend">
						<p>
							<span class="square blue"></span>
							<span class="lefText">Milestones</span>
						</p>
						<p>
							<span class="square"></span>
							<span class="lefText">Brand growth</span>
						</p>
					</div>
				</h1>
				<div class="historyCompContainer mobHide">
					<div class="timelineFlexCont">
						<div class="timeline-label makeInactive one active">
							<p>1996</p>
							<span class="circle-flex"></span>
							<span class="bottom-dot-flex"></span>
						</div>
						<div class="no-label timeline-label "></div>
						<div class="timeline-label ">
							<p>1998</p>


						</div>
						<div class="no-label timeline-label timeline-label-odd timeline-label-range two ">
							<span class="ani-range circle-flex"></span>
							<div class="border-ani"></div>
							<span class="bottom-dot-flex"></span>
						</div>
						<div class="timeline-label">
							<p>2000</p>

							
						</div>
						<div class="no-label timeline-label "></div>
						<div class="timeline-label ">
							<p>2002</p>


						</div>
						<div class="no-label timeline-label "></div>
						<div class="timeline-label ">
							<p>2004</p>


						</div>
						<div class="no-label timeline-label timeline-label-odd timeline-label-range  three">
							<span class="ani-range circle-flex"></span>
							<div class="border-ani"></div>
							<span class="bottom-dot-flex"></span>
						</div>
						<div class="timeline-label makeInactive five semi-act  active">
							<p>2006</p>
							<span class="circle-flex"></span>
							<span class="bottom-dot-flex"></span>
						</div>
						<div class=" timeline-label six makeInactive timeline-label-odd semi-act active">
							<span class="circle-flex"></span>
							<span class="bottom-dot-flex"></span>
						</div>
						<div class="timeline-label semi-act ">
							<p>2008</p>
							<span class=""></span>
						</div>
						<div class="no-label timeline-label "></div>
						<div class="timeline-label ">
							<p>2010</p>
						</div>
						<div class="no-label timeline-label ">

						</div>
						<div class="timeline-label timeline-label-range semi-act  four ">
							<p>2012</p>
							<span class="ani-range circle-flex"></span>
							<div class="border-ani"></div>
							<span class="bottom-dot-flex"></span>
						</div>
						<div class="no-label timeline-label  semi-act"></div>
						<div class="timeline-label seven  semi-act makeInactive active">
							<p>2014</p>
							<span class="circle-flex"></span>
							<span class="bottom-dot-flex"></span>
						</div>
						<div class="no-label timeline-label   semi-act"></div>
						<div class="timeline-label  ">
							<p>2016</p>


						</div>
					</div>
					<div class="flex-white-bg"></div>
					<div class="flex-dropdown">
						<div class="flex-drop-opt opt1 active">
							<span>1996</span>
							<p>Incorporated as a private limited company on February 16, 1996.</p>
						</div>
						<div class="flex-drop-opt opt2 active">
							<span>2006</span>
							<p style="">Name changed from SGA Finance & Management Services Private Limited to Network18 Fincap Private Limited in April 2006. Converted into a public limited company in November 2006.</p>
						</div>
						<div class="flex-drop-opt opt3 active" >
							<span>2007</span>
							<p>Listed on the Bombay Stock Exchange and the National Stock Exchange in February 2007. <br>
								Name changed from Network18 Fincap Limited to Network18 Media & Investments Limited in December 2007.</p>
						</div>
						<div class="flex-drop-opt opt4 active">
							<span>2014</span>
							<p>Ownership transferred to Independent Media Trust (IMT), of which Reliance Industries Limited (RIL) is the sole beneficiary, in July 2014.</p>
						</div>
					</div>
					<div class="flex-dropdown flex-dropdown-two">
						<div class="flex-dropdown-brand opt5">
							<div class="headerBg bgH3 flex-cont flex-dropdown-header">
								<span class="">1999-2005</span>
								<p class="">Launched our new business</p>
							</div>

							<div class="flex-cont">
								<div class="sectionalCont pull-left">
									<p><span>Television</span><b style="width: 404px;"></b></p>
									<div class="col-md-3">
										<a href=""><img src="images/resized/CNBC-TV18.gif"></a>
									</div>

									<div class="col-md-3 borderLeft">
										<a href=""><img src="images/resized/CNBC-Awaaz.gif"></a>
									</div>
									<div class="col-md-3 borderLeft">
										<a href=""><img class="newLogo" src="images/portfolio/news18-main.png"></a>
									</div>
									<div class="col-md-3 borderLeft">
										<a href=""><img src="images/resized/CNN-IBN7.gif"></a>
									</div>
								</div>
								<div class="sectionalCont pull-left">
									<p><span>Digital</span><b style="width: 45px;"></b></p>
									<div class="col-md-3">
										<a href=""><img src="/images/resized/MonetControl.gif"></a>
									</div>
								</div>
							</div>

						</div>
						<div class="flex-dropdown-brand opt6">
							<div class="headerBg bgH3 flex-cont flex-dropdown-header">
								<span class="">2005-2011</span>
								<p class="">Building the entertainment and digital business entry into new spaces - films, home shopping</p>
							</div>

							<div class="flex-cont">
								<div class="sectionalCont pull-left">
									<p><span>Television</span><b style="width: 450px;"></b></p>
									<div class="col-md-3">
										<a href=""><img src="images/resized/colors.gif"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight borderLeft">
										<a href=""><img src="images/resized/CNBC-TV18.gif"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight">
										<a href=""><img class="newLogo" src="images/portfolio/News18_brd.png"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img src="images/resized/CC.gif"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight borderLeft">
										<a href=""><img src="images/resized/CNBC-Awaaz.gif"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight">
										<a href=""><img class="newLogo" src="/images/portfolio/mainlogo_hindi_new.png"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img src="images/resized/MTV.gif"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight borderLeft">
										<a href=""><img src="/images/resized/VH1.gif"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight">
										<a href=""><img src="/images/resized/History-TV.gif"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img class="newLogo dec" src="images/portfolio/news18-main.png"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight borderLeft">
										<a href=""><img src="/images/resized/sonic.gif"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img src="images/resized/nicklodeon.gif"></a>
									</div>
								</div>
								<div class="sectionalCont pull-left">
									<p><span>Digital Ventures</span><b style="width: 206px;"></b></p>
									<div class="col-md-3">
										<a href=""><img src="/images/resized/HMS.gif"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight borderLeft">
										<a href=""><img src="images/resized/inncom.png"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight">
										<a href=""><img src="/images/resized/Burp.gif"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img src="images/resized/BookMyShow.gif"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight borderLeft">
										<a href=""><img src="/images/resized/Firstpost.gif"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight">
										<a href=""><img src="/images/resized/MonetControl.gif"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img src="/images/resized/Firstpost.gif"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight borderLeft">
										<a href=""><img src="images/resized/viacom.gif"></a>
									</div>

									<div class="col-md-3">
										<a href=""><img class="newLogo" src="images/portfolio/news18lokmat_w.png"></a>
									</div>

								</div>
							</div>
						</div>
						<div class="flex-dropdown-brand opt7 " style="margin: 0 -5px;">
							<div class="headerBg bgH3 flex-cont flex-dropdown-header">
								<span class="">2012+</span>
								<p class="">Leadership in the broadcasting business riding the digital wave...</p>
							</div>

							<div class="flex-cont">
								<div class="sectionalCont pull-left">
									<p><span>Television</span><b style="width: 200px;"></b></p>
									<div class="col-md-3">
										<a href=""><img src="images/resized/colors.gif"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight borderLeft">
										<a href=""><img src="images/resized/CNBC-TV18.gif"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img class="newLogo" src="images/portfolio/News18_brd.png"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img src="images/resized/CC.gif"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight borderLeft">
										<a href=""><img src="images/resized/CNBC-Awaaz.gif"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img class="newLogo" src="/images/portfolio/mainlogo_hindi_new.png"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img src="images/resized/MTV.gif"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight borderLeft">
										<a href=""><img src="/images/resized/VH1.gif"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img src="/images/resized/History-TV.gif"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img src="images/resized/CNBC-Bajaar.gif"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight borderLeft">
										<a href=""><img src="images/resized/sonic.gif"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img src="images/resized/nicklodeon.gif"></a>
									</div>
								</div>
								<div class="sectionalCont pull-left">
									<p><span>Regional Television</span><b style="width: 75px;"></b></p>
									<div class="col-md-3">
										<a href=""><img class="newLogo" src="images/portfolio/News18Urdu.png"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight borderLeft">
										<a href=""><img class="newLogo" src="images/portfolio/News18Rajasthan.png"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img class="newLogo" src="images/portfolio/News18BiharJharkhand.png"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img class="newLogo" src="images/portfolio/News18MPChattisgarh.png"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight borderLeft">
										<a href=""><img class="newLogo" src="images/portfolio/News18UPandUK.png"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img class="newLogo" src="images/portfolio/news18assamnortheastcombined.png"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img class="newLogo" src="images/portfolio/News18Bangla.png"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight borderLeft">
										<a href=""><img class="newLogo" src="images/portfolio/News18Gujarati.png"></a>
									</div>
									<div class="col-md-3 ">
										<a href=""><img class="newLogo" src="images/portfolio/News18KannadaLogo.png"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight">
										<a href=""><img class="newLogo" src="images/portfolio/News18Odiya.png"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img class="newLogo" src="images/portfolio/news18lokmat.png"></a>
									</div>
								</div>
								<div class="sectionalCont pull-left">
									<p><span>Digital Ventures</span><b style="width: 120px;"></b></p>
									<div class="col-md-3">
										<a href=""><img src="/images/resized/NEWS18-com.gif"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight borderLeft">
										<a href=""><img src="images/resized/inncom.png"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img src="/images/resized/Burp.gif"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img src="images/resized/BookMyShow.gif"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight borderLeft">
										<a href=""><img src="/images/resized/Firstpost.gif"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img src="/images/resized/MonetControl.gif"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img src="/images/resized/Firstpost.gif"></a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3 borderRight borderLeft">
										<a href=""><img src="images/resized/viacom.gif"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img src="images/resized/HMS.gif"></a>
									</div>
									<div class="col-md-3">
										<a href=""><img src="images/resized/IndiaCast.gif"></a>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="mobShow timelineSlider">
					<div class="btnContSlixk">
						<button class="timeSlierPrev"><img src="/images/timeline/Arrow.png" alt=""></button>
						<button class="timeSlierNext"><img src="/images/timeline/Arrow.png" alt=""></button>
					</div>
					<slick class="timelineSlider historyCompContainer" settings="slickConfig" dots="true" prev-arrow=".timeSlierPrev" next-arrow=".timeSlierNext" autoplay="true">
						<div class="eachTimelineSlide" ng-repeat="i in [1,2,3,4,5,6,7,8]">
							<img src='/images/timeline/{{i}}.jpg' alt="">
						</div>
					</slick>
				</div>

			</div>
		</div>
		<div id="boardDir_container" class=" divOnFocus" num="2">
			<div class="container " style="padding: 0 15px;">
				<div class="row boardDirMainCont" id="brdDirInt">
					<h1 style="padding-bottom: 70px;margin-top: 0px;margin-left: -10px; padding-top: 0;">Board of Directors</h1>
					<div class="col-md-3 transUp mobHide" du-parallax opacity="fadeIn" y="transY" style="margin-left: -30px;">
						<img class="transUp" du-parallax src="images/img1.jpg">
						<h3>ADIL ZAINULBHAI</h3>
						<div class="boardImgOCnt"><img src="/images/Network-18-logo.png" alt=""><img src="/images/TV18_logo_brd.jpg" style="margin-left: 10px;height: 12px;" alt=""></div>
						<p du-parallax y="transY" class="transUp">Adil is the Chairman of the Boards of Network18 and TV18. He is a Mechanical Engineering graduate from the Indian Institute of Technology and an MBA from Harvard Business School. He is currently the Chairman of Quality Council of India, where he worked on several projects for the Government around many of its flagship schemes. He retired as the Chairman of McKinsey India and during his 34-year stint, he led its Washington office and founded the Minneapolis office. He is very active in community and social causes.</p>
						<img class="transUp" du-parallax src="images/img10.jpg" style="margin-top: 100px;" du-parallax opacity="fadeIn" y="transY">
						<h3>Jyoti Deshpande</h3>
						<div class="boardImgOCnt"><img src="/images/Network-18-logo.png" alt=""><img src="/images/TV18_logo_brd.jpg" style="margin-left: 10px;height: 12px;" alt=""></div>
						<p du-parallax y="transY" class="transUp">Jyoti has over 25 years of experience in media and entertainment across advertising, media consulting, television and film. She has been part of the leadership team of Eros International since 2001 and as Group CEO & MD, she has spearheaded Eros' growth as a global leader in Indian filmed entertainment. Prior to joining Eros in 2001, Jyoti has worked for 7 years in the field of advertising, media consulting and television with companies such as J Walter Thompson India, Mindshare, Zee Television and B4U Television. Jyoti has a Bachelor’s Degree in Commerce and Economics from Mumbai University and a Master’s Degree in Business Administration (MBA) from SPJIMR, Mumbai University.</p>
					</div>
					<div class="col-md-3 transUp mobHide" du-parallax opacity="fadeIn" y="transY" style="padding-top: 200px;">
						
						<img class="transUp" du-parallax src="images/img2.png" du-parallax opacity="fadeIn" y="transY" style="">
						<h3>Rajiv K. Luthra</h3>
						<div class="boardImgOCnt"><img src="/images/Network-18-logo.png" alt=""><img src="/images/TV18_logo_brd.jpg" style="margin-left: 10px;height: 12px;" alt=""></div>
						<p du-parallax y="transY" class="transUp">Rajiv is the Founder and Managing Partner of Luthra & Luthra Law Offices, one of India’s largest law firms. He has over 32 years of experience in advising clients on a vast range of commercial transactions including infrastructure projects. He has been conferred with Alumni of Harvard Law School and a Fellow of the British Commerce Society and the Royal Geographical Society. He is a member of SEBI’s High-Level Committee for ‘Reviewing Insider Trading Regulations’ and SEBI’s Committee on ‘Rationalization of Investment Routes and Monitoring Foreign Portfolio Investments’.</p>
						<img class="transUp" y="transUp" src="images/img9.jpg" opacity="fadeIn" y="transY" style="margin-top: 100px;transform:translateX(150px);">
						<h3 style="transform:translateX(150px);">RAHUL JOSHI</h3>
						<div class="boardImgOCnt" style="transform:translateX(150px);"><img src="/images/Network-18-logo.png" alt=""></div>
						<p  style="transform:translateX(150px);" y="transY" class="transUp">Rahul is associated with Network18 Group since September 2015. Rahul has done his Masters in Management Studies from Narsee Monjee Institute of Management Studies (NMIMS), Mumbai University. Prior to joining Network18 Group, Rahul worked with The Economic Times for more than two decades, where he rose through ranks to quickly become one of India’s youngest editors, and has also worked as its editorial director. He also launched ET NOW and helped shape the digital coverage of ET Online. He also has worked with The Indian Express in the past and is also on the board of News Broadcasters Association (NBA).</p>
					</div>
					<div class="col-md-3 transUp mobHide" du-parallax opacity="fadeIn" y="transY">
						<img class="transUp" du-parallax src="images/img11.jpg" >
						<h3>P.M.S. Prasad</h3>
						<div class="boardImgOCnt"><img src="/images/Network-18-logo.png" alt=""><img src="/images/TV18_logo_brd.jpg" style="margin-left: 10px;height: 12px;" alt=""></div>
						<p du-parallax y="transY" class="transUp">Prasad is a Science and Engineering graduate. An Executive Director at Reliance Industries Ltd, he has contributed to its growth over the past three decades across various positions in the petrochemicals refining and marketing, exploration and production and fibres businesses. He is the recipient of the Energy Executive of the Year Award in 2008 from Petroleum Economist for his exemplary leadership in steering Reliance’s diversification from a refining and petrochemicals to an exploration and product business company. He has been felicitated with an honorary doctorate by the University of Petroleum Engineering, Dehradun, for his contribution to the petroleum sector.</p>
						
						
						
						
					</div>
					<div class="col-md-3 transUp mobHide" du-parallax opacity="fadeIn" y="transY" style="padding-top: 200px;">
						<img class="transUp" du-parallax src="images/img7.jpg">
						<h3>Dhruv Subodh Kaji</h3>
						<div class="boardImgOCnt"><img src="/images/Network-18-logo.png" alt=""><img src="/images/TV18_logo_brd.jpg" style="margin-left: 10px;height: 12px;" alt=""></div>
						<p du-parallax y="transY" class="transUp">Dhruv is a Commerce graduate from University of Mumbai and an Associate Member of the Institute of Chartered Accountants of India. He is a Financial Advisor and a Management Consultant with an experience of over 31 years. He has expertise in evaluating and guiding business projects in India and abroad. He has served as Finance Director of Raymond Limited.</p>
						
						<img class="transUp" du-parallax src="images/img2.jpg" style="margin-top: 100px;">
						<h3>Deepak Parekh</h3>
						<div class="boardImgOCnt"><img src="/images/Network-18-logo.png" alt=""></div>
						<p du-parallax y="transY" class="transUp">Deepak is a Commerce graduate and holds an FCA degree from England and Wales. He has been associated with several reputed organisations like Ernst & Ernst Management Consultancy Services in New York, Grindlays Bank and Chase Manhattan Bank prior to his stint with HDFC Bank. A Padma Bhushan recipient for his contribution to the national economy and public policy, he has been widely consulted by the Government of India on issues of national importance. He has served as a member of various Government appointed Advisory Committees and Task Forces for housing, financial services, capital markets, telecom, energy, railways and infrastructure sector reforms.</p>
					</div>
					<div class="mobShow">
						<div class="mobDirEach">
							<div class="mobDirImgCont">
								<img class="transUp" du-parallax src="images/img1.jpg">
							</div>
							<div class="mobDirEachText">
								<div class="inner">
									<h3>ADIL ZAINULBHAI</h3>
									<div class="boardImgOCnt"><img src="/images/Network-18-logo.png" alt=""><img src="/images/TV18_logo_brd.jpg" style="margin-left: 10px;height: 12px;" alt=""></div>
									<p du-parallax y="transY" class="transUp">Adil is the Chairman of the Boards of Network18 and TV18. He is a Mechanical Engineering graduate from the Indian Institute of Technology and an MBA from Harvard Business School. He is currently the Chairman of Quality Council of India, where he worked on several projects for the Government around many of its flagship schemes. He retired as the Chairman of McKinsey India and during his 34-year stint, he led its Washington office and founded the Minneapolis office. He is very active in community and social causes.</p>
								</div>
							</div>
						</div>
						<div class="mobDirEach">
							<div class="mobDirImgCont">
								<img class="transUp" du-parallax src="images/img2.png">
							</div>
							<div class="mobDirEachText">
								<div class="inner">
									<h3>Rajiv K. Luthra</h3>
									<div class="boardImgOCnt"><img src="/images/Network-18-logo.png" alt=""><img src="/images/TV18_logo_brd.jpg" style="margin-left: 10px;height: 12px;" alt=""></div>
									<p du-parallax y="transY" class="transUp">Rajiv is the Founder and Managing Partner of Luthra & Luthra Law Offices, one of India’s largest law firms. He has over 32 years of experience in advising clients on a vast range of commercial transactions including infrastructure projects. He has been conferred with Alumni of Harvard Law School and a Fellow of the British Commerce Society and the Royal Geographical Society. He is a member of SEBI’s High-Level Committee for ‘Reviewing Insider Trading Regulations’ and SEBI’s Committee on ‘Rationalization of Investment Routes and Monitoring Foreign Portfolio Investments’.</p>
								</div>
							</div>
						</div>
						<div class="mobDirEach">
							<div class="mobDirImgCont">
								<img class="transUp" du-parallax src="images/img11.jpg">
							</div>
							<div class="mobDirEachText">
								<div class="inner">
									<h3>P.M.S. Prasad</h3>
									<div class="boardImgOCnt"><img src="/images/Network-18-logo.png" alt=""><img src="/images/TV18_logo_brd.jpg" style="margin-left: 10px;height: 12px;" alt=""></div>
									<p du-parallax y="transY" class="transUp">Prasad is a Science and Engineering graduate. An Executive Director at Reliance Industries Ltd, he has contributed to its growth over the past three decades across various positions in the petrochemicals refining and marketing, exploration and production and fibres businesses. He is the recipient of the Energy Executive of the Year Award in 2008 from Petroleum Economist for his exemplary leadership in steering Reliance’s diversification from a refining and petrochemicals to an exploration and product business company. He has been felicitated with an honorary doctorate by the University of Petroleum Engineering, Dehradun, for his contribution to the petroleum sector.</p>
								</div>
							</div>
						</div>
						<div class="mobDirEach">
							<div class="mobDirImgCont">
								<img class="transUp" du-parallax src="images/img7.jpg">
							</div>
							<div class="mobDirEachText">
								<div class="inner">
									<h3>Dhruv Subodh Kaji</h3>
									<div class="boardImgOCnt"><img src="/images/Network-18-logo.png" alt=""><img src="/images/TV18_logo_brd.jpg" style="margin-left: 10px;height: 12px;" alt=""></div>
									<p du-parallax y="transY" class="transUp">Dhruv is a Commerce graduate from University of Mumbai and an Associate Member of the Institute of Chartered Accountants of India. He is a Financial Advisor and a Management Consultant with an experience of over 31 years. He has expertise in evaluating and guiding business projects in India and abroad. He has served as Finance Director of Raymond Limited.</p>
								</div>
							</div>
						</div>
						
						<div class="mobDirEach">
							<div class="mobDirImgCont">
								<img class="transUp" du-parallax src="images/img10.jpg">
							</div>
							<div class="mobDirEachText">
								<div class="inner">
									<h3>Jyoti Deshpande</h3>
									<div class="boardImgOCnt"><img src="/images/Network-18-logo.png" alt=""><img src="/images/TV18_logo_brd.jpg" style="margin-left: 10px;height: 12px;" alt=""></div>
									<p du-parallax y="transY" class="transUp">Jyoti has over 25 years of experience in media and entertainment across advertising, media consulting, television and film. She has been part of the leadership team of Eros International since 2001 and as Group CEO & MD, she has spearheaded Eros' growth as a global leader in Indian filmed entertainment. Prior to joining Eros in 2001, Jyoti has worked for 7 years in the field of advertising, media consulting and television with companies such as J Walter Thompson India, Mindshare, Zee Television and B4U Television. Jyoti has a Bachelor’s Degree in Commerce and Economics from Mumbai University and a Master’s Degree in Business Administration (MBA) from SPJIMR, Mumbai University.</p>
								</div>
							</div>
						</div>
						<div class="mobDirEach">
							<div class="mobDirImgCont">
								<img class="transUp" du-parallax src="images/img9.jpg">
							</div>
							<div class="mobDirEachText">
								<div class="inner">
									<h3>RAHUL JOSHI</h3>
									<div class="boardImgOCnt"><img src="/images/Network-18-logo.png" alt=""></div>
									<p du-parallax y="transY" class="transUp">Rahul is associated with Network18 Group since September 2015. Rahul has done his Masters in Management Studies from Narsee Monjee Institute of Management Studies (NMIMS), Mumbai University. Prior to joining Network18 Group, Rahul worked with The Economic Times for more than two decades, where he rose through ranks to quickly become one of India’s youngest editors, and has also worked as its editorial director. He also launched ET NOW and helped shape the digital coverage of ET Online. He also has worked with The Indian Express in the past and is also on the board of News Broadcasters Association (NBA).</p>
								</div>
							</div>
						</div>
						<div class="mobDirEach">
							<div class="mobDirImgCont">
								<img class="transUp" du-parallax src="images/img2.jpg">
							</div>
							<div class="mobDirEachText">
								<div class="inner">
									<h3>Deepak Parekh</h3>
									<div class="boardImgOCnt"><img src="/images/Network-18-logo.png" alt=""></div>
									<p du-parallax y="transY" class="transUp">Deepak is a Commerce graduate and holds an FCA degree from England and Wales. He has been associated with several reputed organisations like Ernst & Ernst Management Consultancy Services in New York, Grindlays Bank and Chase Manhattan Bank prior to his stint with HDFC Bank. A Padma Bhushan recipient for his contribution to the national economy and public policy, he has been widely consulted by the Government of India on issues of national importance. He has served as a member of various Government appointed Advisory Committees and Task Forces for housing, financial services, capital markets, telecom, energy, railways and infrastructure sector reforms.</p>
								</div>
							</div>
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="container divOnFocus continer80" num="3" style="padding: 0 15px;">
			<div class="row globalPartnerMainContainer" id="mngCont">
				<h1 style="padding: 0px; margin-left: -5px; margin-top: 100px;">Management</h1>
				<div class="container-fluid flex-cont mngContFl">
					<div class="contentTypeDiv contentTypeMng col-md-4" ng-repeat="person in peopleData['Management'] track by $index" ng-class="openMap['Management'][$index]?'active':''">
						<a href="">
						
						<div class="front">
							<img src="{{person.img}}" alt="" ng-click="openProfile('Management',openMap['Management'][$index],$index)">
							<div class="flex-cont">
								<div class="mngTTl" ng-click="openProfile('Management',openMap['Management'][$index],$index)">
									<h3>{{person.name}}</h3>
								</div>
								<div class="openBtnCont" ng-if="person.text">
									<button class="openBtn" ng-click="openProfile('Management',openMap['Management'][$index],$index)"><i class="fa fa-chevron-down"></i></button>
								</div>
							</div>
						</div>
						<div class="back" ng-class="openMap['Management'][$index]?'active':''">
							<span class="triangle"><span class="triangleInner"></span></span>
							<div class="back-text-cont"> 
								<p>{{person.text}}</p>
							</div>
						</div>
						</a>
					</div>
				</div>
				<div class="clearfix mngContFlSm">
					<h2 class="smallHead" style="margin-left: -7px; ">Entertainment</h2>
					<h2 class="smallHead" style=" ">Distribution</h2>
					<div class="container-fluid flex-cont mngContFl">
						<div class="contentTypeDiv contentTypeMng col-md-4" ng-repeat="person in peopleData['Entertainment'] track by $index" ng-class="openMap['Entertainment'][$index]?'active':''">
							<a href="">
							
							<div class="front">
								<img src="{{person.img}}" alt="" ng-click="openProfile('Entertainment',openMap['Entertainment'][$index],$index)">
								<div class="flex-cont">
									<div class="mngTTl" ng-click="openProfile('Entertainment',openMap['Entertainment'][$index],$index)">
										<h3>{{person.name}}</h3>
									</div>
									<div class="openBtnCont" ng-if="person.text">
										<button class="openBtn" ng-click="openProfile('Entertainment',openMap['Entertainment'][$index],$index)"><i class="fa fa-chevron-down"></i></button>
									</div>
								</div>
							</div>
							<div class="back" ng-class="openMap['Entertainment'][$index]?'active':''">
								<span class="triangle"><span class="triangleInner"></span></span>
								<div class="back-text-cont"> 
									<p>{{person.text}}</p>
								</div>
							</div>
							</a>
						</div>
					</div>
					<div class="container-fluid flex-cont mngContFl">
						<div class="contentTypeDiv contentTypeMng col-md-4" ng-repeat="person in peopleData['Distribution'] track by $index" ng-class="openMap['Distribution'][$index]?'active':''">
							<a href="">
							
							<div class="front">
								<img src="{{person.img}}" alt="" ng-click="openProfile('Distribution',openMap['Distribution'][$index],$index)">
								<div class="flex-cont">
									<div class="mngTTl" ng-click="openProfile('Distribution',openMap['Distribution'][$index],$index)">
										<h3>{{person.name}}</h3>
									</div>
									<div class="openBtnCont" ng-if="person.text">
										<button class="openBtn" ng-click="openProfile('Distribution',openMap['Distribution'][$index],$index)"><i class="fa fa-chevron-down"></i></button>
									</div>
								</div>
							</div>
							<div class="back" ng-class="openMap['Distribution'][$index]?'active':''">
								<span class="triangle"><span class="triangleInner"></span></span>
								<div class="back-text-cont"> 
									<p>{{person.text}}</p>
								</div>
							</div>
							</a>
						</div>
					</div>	
				</div>
				
			</div>
			<div class="row globalPartnerMainContainer" id="ancCont">
				<h1 style="padding: 0px; margin-left: -5px; margin-top: 100px;">Editors & News Anchors</h1>
				<div class="container-fluid ancContFl">
					<h2>CNBC Network</h2>
					<div class="container-fluid flex-cont mngContFl ancContFl">
						
						<div class="contentTypeDiv contentTypeMng col-md-4" ng-repeat="person in peopleData['CNBC'] track by $index" ng-class="openMap['CNBC'][$index]?'active':''">
							<a href="">
							
							<div class="front">
								<img src="{{person.img}}" alt="" ng-click="openProfile('CNBC',openMap['CNBC'][$index],$index)">
								<div class="flex-cont">
									<div class="mngTTl" ng-click="openProfile('CNBC',openMap['CNBC'][$index],$index)">
										<h3>{{person.name}}</h3>
									</div>
									<div class="openBtnCont" ng-if="person.text">
										<button class="openBtn" ng-click="openProfile('CNBC',openMap['CNBC'][$index],$index)"><i class="fa fa-chevron-down"></i></button>
									</div>
								</div>
							</div>
							<div class="back" ng-class="openMap['CNBC'][$index]?'active':''">
								<span class="triangle"><span class="triangleInner"></span></span>
								<div class="back-text-cont"> 
									<p>{{person.text}}</p>
								</div>
							</div>
							</a>
						</div>
					</div>
					<h2>News18 Network</h2>
					<div class="container-fluid flex-cont mngContFl ancContFl ancContNws">
						
						<div class="contentTypeDiv contentTypeMng col-md-4" ng-repeat="person in peopleData['News18'] track by $index" ng-class="openMap['News18'][$index]?'active':''">
							<a href="">
							
							<div class="front">
								<img src="{{person.img}}" alt="" ng-click="openProfile('News18',openMap['News18'][$index],$index)">
								<div class="flex-cont">
									<div class="mngTTl" ng-click="openProfile('News18',openMap['News18'][$index],$index)">
										<h3>{{person.name}}</h3>
									</div>
									<div class="openBtnCont" ng-if="person.text">
										<button class="openBtn" ng-click="openProfile('News18',openMap['News18'][$index],$index)"><i class="fa fa-chevron-down"></i></button>
									</div>
								</div>
							</div>
							<div class="back" ng-class="openMap['News18'][$index]?'active':''">
								<span class="triangle"><span class="triangleInner"></span></span>
								<div class="back-text-cont"> 
									<p>{{person.text}}</p>
								</div>
							</div>
							</a>
						</div>
					</div>
					<h2>Digital</h2>
					<div class="container-fluid flex-cont mngContFl ancContFl">
						
						<div class="contentTypeDiv contentTypeMng col-md-4" ng-repeat="person in peopleData['Digital'] track by $index" ng-class="openMap['Digital'][$index]?'active':''">
							<a href="">
							
							<div class="front">
								<img src="{{person.img}}" alt="" ng-click="openProfile('Digital',openMap['Digital'][$index],$index)">
								<div class="flex-cont">
									<div class="mngTTl" ng-click="openProfile('Digital',openMap['Digital'][$index],$index)">
										<h3>{{person.name}}</h3>
									</div>
									<div class="openBtnCont" ng-if="person.text">
										<button class="openBtn" ng-click="openProfile('Digital',openMap['Digital'][$index],$index)"><i class="fa fa-chevron-down"></i></button>
									</div>
								</div>
							</div>
							<div class="back" ng-class="openMap['Digital'][$index]?'active':''">
								<span class="triangle"><span class="triangleInner"></span></span>
								<div class="back-text-cont"> 
									<p>{{person.text}}</p>
								</div>
							</div>
							</a>
						</div>
					</div>
					<h2>Print</h2>
					<div class="container-fluid flex-cont mngContFl ancContFl">
						
						<div class="contentTypeDiv contentTypeMng col-md-4" ng-repeat="person in peopleData['Print'] track by $index" ng-class="openMap['Print'][$index]?'active':''">
							<a href="">
							
							<div class="front">
								<img src="{{person.img}}" alt="" ng-click="openProfile('Print',openMap['Print'][$index],$index)">
								<div class="flex-cont">
									<div class="mngTTl" ng-click="openProfile('Print',openMap['Print'][$index],$index)">
										<h3>{{person.name}}</h3>
									</div>
									<div class="openBtnCont" ng-if="person.text">
										<button class="openBtn" ng-click="openProfile('Print',openMap['Print'][$index],$index)"><i class="fa fa-chevron-down"></i></button>
									</div>
								</div>
							</div>
							<div class="back" ng-class="openMap['Print'][$index]?'active':''">
								<span class="triangle"><span class="triangleInner"></span></span>
								<div class="back-text-cont"> 
									<p>{{person.text}}</p>
								</div>
							</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container divOnFocus continer80" num="4" style="padding: 0 15px;">
			<div class="row globalPartnerMainContainer" id="globPartInt">
				<h1 style="padding: 0px; margin-left: -5px; margin-top: 100px;">Global Partners</h1>
				<p class="transUp" du-parallax y="transY">Network18 has partnerships with several leading global media players including Viacom in entertainment, CNN in English general news, CNBC in business news, A+E Networks in factual entertainment and Forbes in the  business magazine genre to provide best-in-class media offerings.</p>
			</div>

			<div class="row globalPartnerMainContainer portfolioMainCont" style="padding: 0 15px;">
				<div class="portfolioItem corp_port col-lg-4 col-md-4 col-sm-4" style="">
					<div class="thumbnail toLeft" style="padding-left: 0;">
						<div class="imgThmbCont" ><img src="images/resized/CNBC-International.gif" alt=""></div>
						<div class="caption">
							<div class="boxInside transUp" du-parallax opacity="fadeIn">
								<img src="images/resized/CNBC-International.gif" class="logoUp mobShow">
								<img src="/images/screenshots/partners/cnbc.png" alt="">
							</div>
							<p class="tranySl" du-parallax y="transY">CNBC is the recognized world leader in business news and provides real-time financial market coverage and business information to approximately 371 million homes worldwide, including more than 100 million households in the United States and Canada. CNBC also provides daily business updates to 400 million households across China. CNBC at night features a mix of new reality programming, CNBC's highly successful series produced exclusively for CNBC and a number of distinctive in-house documentaries. CNBC is owned by NBCUniversal News Group.</p>
						</div>
					</div>
				</div>
				<div class="portfolioItem corp_port col-lg-4 col-md-4 col-sm-4" style="">
					<div class="thumbnail second">
						<div class="imgThmbCont" ><img src="images/resized/CNN-International.gif" alt=""></div>
						<div class="caption">
							<div class="boxInside transUp" du-parallax opacity="fadeIn">
								<img src="images/resized/CNN-International.gif" class="logoUp mobShow">
								<img src="/images/screenshots/partners/cnn.png" alt="">
							</div>
							<p class="tranySl" du-parallax y="transY">CNN’s portfolio of news and information services is available in six different languages across all major TV, internet and mobile platforms. CNN International is the number one international TV news channel according to all major media surveys across Europe, the Middle East and Africa, the Asia Pacific region and Latin America and has an increased presence in the USA. CNN Digital is a top network for online news, mobile news and social media. CNN International is part of Turner Broadcasting System, Inc., a Time Warner company.</p>
						</div>
					</div>
				</div>
				<div class="portfolioItem corp_port col-lg-4 col-md-4 col-sm-4" style="">
					<div class="thumbnail toRight">
						<div class="imgThmbCont" ><img src="images/resized/VIACOM-International.gif" alt=""></div>
						<div class="caption">
							<div class="boxInside transUp" du-parallax opacity="fadeIn">
								<img src="images/resized/VIACOM-International.gif" class="logoUp mobShow">
								<img src="/images/screenshots/partners/viacom.png" alt="">
							</div>
							<p class="tranySl" du-parallax y="transY">Viacom is a leading global entertainment content company, with prominent and respected brands. Engaging its audiences through television, motion pictures and digital platforms, Viacom seeks to reach its audiences however they consume content. Viacom's leading brands include the multiplatform properties of MTV Networks, including MTV, VH1, CMT: Country Music Television, Logo, Nickelodeon, Nick at Nite, COMEDY CENTRAL, Spike TV, TV Land, Paramount Pictures, DreamWorks, and Famous Music.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row globalPartnerMainContainer globalPartnerMainContainerLow portfolioMainCont" style="margin-top: 100px;padding: 0 15px;">
				<div class="portfolioItem corp_port col-lg-4 col-md-4 col-sm-4">
					<div class="thumbnail toLeft" style="padding-left: 0;">
						<div class="imgThmbCont" ><img src="images/resized/Forbes-International.gif" alt=""></div>
						<div class="caption">
							<div class="boxInside transUp" du-parallax opacity="fadeIn">
								<img src="images/resized/Forbes-International.gif" class="logoUp mobShow">
								<img src="/images/screenshots/partners/forbes.png" alt="">
							</div>
							<p class="tranySl" du-parallax y="transY">Forbes Media is a global media, branding and technology company, with a focus on news and information about business, investing, technology, entrepreneurship, leadership and affluent lifestyles. The company publishes Forbes, Forbes Asia, Forbes Europe and ForbesLife magazines, as well as Forbes.com and ForbesLife.com. Brand extensions include conferences, real estate, education, financial services and technology license agreements. With its wide editorial lens and iconic status in the lexicon of American media, Forbes is not just a business magazine and website, but a media brand that documents and promotes innovation across a broad range of platforms and industries having local licensee editions in China, Croatia, Israel, Japan, Korea, Poland, Romania, Russia, Turkey and India.</p>
						</div>
					</div>
				</div>
				<div class="portfolioItem corp_port col-lg-4 col-md-4 col-sm-4">
					<div class="thumbnail second noBorderRight">
						<div class="imgThmbCont" ><img src="images/resized/AE-International.gif" style="max-width: none;max-height: none;height: 164px;margin-top: -26px;" alt=""></div>
						<div class="caption" style="">
							<div class="boxInside transUp" du-parallax opacity="fadeIn">
								<img src="images/resized/AE-International.gif" class="logoUp mobShow">
								<img src="/images/screenshots/partners/history.png" alt="">
							</div>
							<p class="tranySl" du-parallax y="transY">A+E Networks, LLC. is an award-winning, global media content company offering consumers a diverse communications environment ranging from television networks to websites, to home videos/DVDs to gaming and educational software. A+E Networks is comprised of A&E® Network, Lifetime®, History®, Lifetime Movie Network®, Bio™, H2™, History en Espanol™, Crime & Investigation Network™, Military History™, Lifetime Real Women®, A&E IndieFilms®, A+E Networks International®, A+E Networks Digital® and A+E Networks Consumer Products™. A+E Networks channels and branded programming reach more than 300 million households in over 150 countries. A+E Networks, LLC. is a joint venture of Disney-ABC Television Group and Hearst Corporation.</p>
						</div>
					</div>
				</div>
				<div class="portfolioItem corp_port corp_portMob0 col-lg-4 col-md-4 col-sm-4">
				</div>
				<!-- <div class="portfolioItem corp_port corp_portMob0 col-lg-4 col-md-4 col-sm-4">
					<div class="thumbnail toRight">
						<div class="imgThmbCont" ><img src="images/resized/LOKMAT.gif" alt=""></div>
						<div class="caption">
							<div class="boxInside transUp" du-parallax opacity="fadeIn">
								<img src="images/resized/LOKMAT.gif"  class="logoUp mobShow">
								<img src="/images/screenshots/partners/lokmat.png" alt="">
							</div>
							<p class="tranySl" du-parallax y="transY">Lokmat Group is one of the leading publishing houses of India. It publishes newspapers in three languages – Lokmat (Marathi), Lokmat Samachar (Hindi) and Lokmat Times (English). Lokmat is the No. 1 Marathi newspaper in Maharashtra with 11 editions and a circulation of 1.25 million copies. It is the 4th largest read newspaper in India with over 10.23 million readers. Lokmat Samachar, with 4 editions is the largest read Hindi daily in Maharashtra with over 0.9 million readers.Lokmat Times has 2 editions. These publications are printed out of 11 plants spread across the state of Maharashtra. Lokmat Group also has a magazines division ‘Cymbal Media’, which launched its first international magazine called ‘G2 – The Global Gujarati’, a high-end lifestyle title, in January 2007.</p>
						</div>
					</div>
				</div> -->
			</div>
		</div>
		<div class="container divOnFocus continer80" num="5" style="padding: 0 15px;">

			<div class="row boardComitteMainCont " id="brdCmtii" style="">
				<h1 style="margin-left: -8px;">Board Committee</h1>	
				<div class="flex-cont boardComitteFlexCont tranySl" du-parallax y="transY">
					<div >
						
						<h3 style="font-family: 'Geogrotesque'; margin:0;"><b>NETWORK18 MEDIA & INVESTMENTS LIMITED</b></h3>
						<p>Board Committees of Network 18</p>
						<p  style="margin-top: 30px;"><a class="btn btn-lg bordDwlBtn" style="text-transform: uppercase;font-size: 12px;line-height: 20px;" href="/reports/commitee/COMPOSTION OF COMMITTEE for website_NW18.pdf" target="_blank"><i style="font-size: 18px;" class="fa fa-file-pdf-o"></i> Download</a></p>
					</div>
					<div>
						
						<h3 style="font-family: 'Geogrotesque'; margin:0;"><b>TV18 BROADCAST LTD</b></h3>
						<p>Board Committees of TV18</p>
						<p style="margin-top: 30px;"><a class="btn btn-lg bordDwlBtn" style="text-transform: uppercase;font-size: 12px;line-height: 20px;" href="/reports/commitee/Committee position for website_TV18.pdf" target="_blank"><i style="font-size: 18px;" class="fa fa-file-pdf-o"></i> Download</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="container divOnFocus continer80" num="6" style="padding: 0 15px;">

			<div class="row boardComitteMainCont " id="crpPres" style="margin-bottom: 80px;">
				<h1 style="margin-left: -8px;">Corporate Presentation</h1>	
				<div class="flex-cont boardComitteFlexCont tranySl" du-parallax y="transY">
					<div >
						<p>NW18 and TV18 Corporate Presentation</p>
						<p  style="margin-top: 30px;"><a class="btn btn-lg bordDwlBtn" style="text-transform: uppercase;font-size: 12px;line-height: 20px;" href="/reports/reports/Financial Results/2016-17/NW18 + TV18 corporate ppt Apr18new.pdf" target="_blank"><i style="font-size: 18px;" class="fa fa-file-pdf-o"></i> Download</a></p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
</div>
<script type="text/javascript">
	$(document).ready(function() {
			var iScrollPos = 0;
			var timeout = null;

			var currMove = 1;
			function moveToThis(num){
				$(".num"+num).css({
					'z-index' : 0,
				});
				$('#moveHighlight').addClass('move');
				setTimeout(function () {

					var bot_val=0;
					if(num == 1){
						bot_val = 96; 
					}else if (num == 2) {
						bot_val = 73;
					}else if (num == 3) {
						bot_val = 50;
					}else if (num == 4) {
						bot_val = 27;
					}else if (num == 5) {
						bot_val = 4;
					}else if (num == 6) {
						bot_val = -19;
					}
					$('#moveHighlight').animate({
						bottom: bot_val,
					},300, function() {
						$('#moveHighlight').removeClass('move');
					});
					
				},20);
			}

			$('.stickyMove').on('click', function(event) {
				event.preventDefault();
				moveToThis($(this).attr("num"));
				$('html,body').animate({
					scrollTop: $($(this).attr('href')).offset().top
				},'slow');
			});

			$('.divOnFocus').on('mouseenter', function(event) {
				moveToThis($(this).attr('num'));
			});

			var maxWidth = 0;

			$('.historyCompContainer').on('mouseleave', function(event) {
				$('.timeline-label.one').addClass('active');
				$('.opt1').addClass('active');
				$('.timeline-label.five').addClass('active');
				$('.opt2').addClass('active');
				$('.timeline-label.six').addClass('active');
				$('.opt3').addClass('active');
				$('.timeline-label.seven').addClass('active');
				$('.opt4').addClass('active');
				
			});

			$('.timeline-label').on('mouseenter', function(event) {
				if ($(this).hasClass('one')) {
					$(this).addClass('active');
					$(this).siblings('.one').addClass('active');
					$('.opt1').addClass('active');
				}else if ($(this).hasClass('two')) {
					
					$(this).children('.circle-flex').removeClass('ani-range');
					
					$(this).addClass('active');
					$('.opt5').addClass('active');
					$(this).siblings('.semi-two').addClass('active');
				}else if ($(this).hasClass('three')) {
					$('#brdDirInt').stop().delay(500).animate({
						top: 110
					},400);
					$(this).children('.circle-flex').removeClass('ani-range');
					
					$(this).addClass('active');
					$('.opt6').addClass('active');
					$(this).siblings('.semi-three').addClass('active');
					$(this).siblings('.semi-three.semi-act').addClass('semi-active');
				}else if ($(this).hasClass('four')) {
					$('#brdDirInt').stop().delay(400).animate({
						top: 220
					},400);
					$(this).children('.circle-flex').removeClass('ani-range');
					
					$(this).addClass('active');
					$('.opt7').addClass('active');
					$(this).siblings('.semi-four').addClass('active');
					$(this).siblings('.semi-four.semi-act').addClass('semi-active');
				}else if ($(this).hasClass('five')) {
					$(this).addClass('active');
					$('.opt2').addClass('active');
				}else if ($(this).hasClass('six')) {
					$(this).addClass('active');
					$('.opt3').addClass('active');
				}else if ($(this).hasClass('seven')) {
					$(this).addClass('active');
					$('.opt4').addClass('active');
					$(this).siblings('.seven').addClass('active');
				}

			}).on('mouseleave', function(event){
				if($(this).hasClass('two') ||  $(this).hasClass('three') || $(this).hasClass('four')){
					$(this).children('.circle-flex').addClass('ani-range');
					if ($(this).hasClass('four') || $(this).hasClass('three')) {
						$('#brdDirInt').stop().delay(0).animate({
							top: 0
						},400);
					}
				}
				$(this).removeClass('active');
				$(this).siblings('.semi-three.semi-act').removeClass('semi-active');
				$(this).siblings('.semi-four.semi-act').removeClass('semi-active');
				$('.flex-drop-opt').removeClass('active');
				$('.flex-dropdown-brand').removeClass('active');
				$(this).siblings('.timeline-label').removeClass('active');
				
			});
		});
</script>
