<div class="headerFiller"></div>
<div class="portfolioContainer">
	<div class="">
		<h2 class="videoOverText" style="top: 50%;transform: translateX(-50%) translateY(-100%);">History. Vision. Values.</h2>

		<div class="video-cont" style="height:71vh;">
			<div class="vid-bg">

			</div>
			<video width="100%" autoplay loop class="top">
				<source src="images/about_us.mp4" type="video/mp4">
			</video>
		</div>
		<div class="vid-arr">
			<span class="arrText">scroll</span>
			<span class="animateHeight"></span>
			<span class="animateHeightBg"></span>
		</div>
	</div>
	<div class="container continer80" style="">
		<div class="clearfix mobShow mobShowCorpOpt">
			<div class="pull-left col-md-3 boxContAt mobShow">
				<div class="row box-flex box5" style="">
					<div class="col-md-3">
						<div class="box">
							<img src="/images/boxes/companyhistory.jpg" alt="" class="corp-img-cont">
							
							<a href="/corporate-main"><div class="boxTextBot">company <br> history</div></a>
						</div>
						<div class="box">
							<img src="/images/boxes/boardofdirectors.jpg" alt="" class="corp-img-cont">
							
							<a href="/corporate-main#brdDirInt"><div class="boxTextBot">board of <br> directors</div></a>
						</div>
					</div>
				</div>
			</div>
			<div class="pull-left col-md-3 boxContAt mobShow">
				<div class="row box-flex box5 " style="">
					<div class="col-md-3">

						<div class="box">
							<img src="/images/boxes/globalpartner.jpg" alt="" class="corp-img-cont">
							
							<a href="/corporate-main#globPartInt"><div class="boxTextBot">global <br>partners</div></a>
						</div>
						<div class="box">
							<img src="/images/boxes/boardcommittee.jpg" alt="" class="corp-img-cont">
							
							<a href="/corporate-main#brdCmtii"><div class="boxTextBot">board <br>committee</div></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="inverstorSections mobShow">
			<h1 style=""><a href="/corporate-main#crpPres">Corporate Presentation</a></h1>
		</div>
		<div class="clearfix flex-cont corpContMain" style="">
			<div class="pull-left col-md-3 boxContAt mobHide">
				<div class="row box-flex box5" style="">
					<div class="col-md-3">
						<div class="box">
							<img src="/images/boxes/companyhistory.jpg" alt="" class="corp-img-cont">
							
							<a href="/corporate-main"><div class="boxTextBot">company <br> history</div></a>
						</div>
						<div class="box">
							<img src="/images/boxes/boardofdirectors.jpg" alt="" class="corp-img-cont">
							
							<a href="/corporate-main#brdDirInt"><div class="boxTextBot">board of <br> directors</div></a>
						</div>
					</div>
				</div>
			</div>
			<div class="centerCoverText pull-left col-md-6 flex-grow">
				<h3>About NETWORK18</h3>
				<p>A trend-setter in its space, Network18 Media and Investments Ltd is one of the largest media conglomerates with diversified but synergistic interests in Television with its bouquet of fifty channels in India and thirteen international channels, besides filmed entertainment, digital content, magazines, digital commerce and allied businesses. Network18 is promoted by Independent Media Trust of which Reliance Industries is the sole beneficiary. <strong><strong>TV18 Broadcast ltd</strong>, a subsidiary of Network18</strong> manages its primary business of broadcasting. TV18 runs the largest news network in India, spanning business news, general news and regional news channels.</p>
				
				<ul class="about18">
					<li class="about18Item">Network18 has built successful strategic alliances with globally reputed media players such as Viacom, CNBC, CNN, A+E Networks and Forbes</li>
					<li class="about18Item">Steered by a professional and experienced team of editors, news tellers and entertainers, Network18 constantly seeds new ideas of programming and triggers thought processes</li>
					<li class="about18Item">At Network18, the focus is on driving the highest standards of creative excellence by fostering a culture of innovation to build new content formats thereby creating strong brands across diverse media</li>
					<li class="about18Item">Through its continued investments in regional and digital platforms, Network18 claims unparalleled reach</li>
				</ul>
				
			</div>
			<div class="pull-left col-md-3 boxContAt mobHide">
				<div class="row box-flex box5 " style="">
					<div class="col-md-3">

						<div class="box">
							<img src="/images/boxes/globalpartner.jpg" alt="" class="corp-img-cont">
							
							<a href="/corporate-main#globPartInt"><div class="boxTextBot">global <br>partners</div></a>
						</div>
						<div class="box">
							<img src="/images/boxes/boardcommittee.jpg" alt="" class="corp-img-cont">
							
							<a href="/corporate-main#brdCmtii"><div class="boxTextBot">board <br>committee</div></a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="inverstorSections mobHide">
			<h1 style=""><a href="/corporate-main#crpPres">Corporate Presentation</a></h1>
		</div>
	</div>
</div>
