<section class="greyBG footerSection">
  <div class="fav-logo-cont"><img lazy-img="images/18.png" alt=""></div>
  <div class="container" style="padding-top: 43px;width: 720px;min-width:unset;max-width: 100%;overflow: hidden;">
    <div class="row clearAfter" style="">
      <div class="foot-link-cont" style="padding-left: 15px;">
        <h3><a href="/corporate">ABOUT US</a></h3>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="/corporate-main" class="subCrumbsLinks">Company History</a>
          </li>
          <li class="list-group-item">
            <a href="/corporate-main#brdDirInt" class="subCrumbsLinks">Board Of Directors</a>
          </li>
          <li class="list-group-item">
            <a href="/corporate-main#mngCont" class="subCrumbsLinks">Management Team</a>
          </li>
          <li class="list-group-item">
            <a href="/corporate-main#globPartInt" class="subCrumbsLinks">International Partners</a>
          </li>
          <li class="list-group-item">
            <a href="/corporate-main#brdCmtii" class="subCrumbsLinks" >Board Comittee</a>
          </li>
          <li class="list-group-item">
            <a href="/corporate-main#crpPres" class="subCrumbsLinks">Corporate Presentation</a>
          </li>
        </ul>
      </div>
      
      <div class="foot-link-cont" style="padding-left: 40px;">
        <h3><a href="/portfolio">PORTFOLIO</a></h3>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="/portfolio-main#portfolioNews" class="subCrumbsLinks">News</a>
          </li>
          <li class="list-group-item">
            <a href="/portfolio-main#portfolioEntertainment" class="subCrumbsLinks">Entertainment</a>
          </li>
          <li class="list-group-item">
            <a href="/portfolio-main#portfolioDistribution" class="subCrumbsLinks">Distribution</a>
          </li>
          <li class="list-group-item">
            <a href="/portfolio-main#portfolioMovies" class="subCrumbsLinks">Motion Pictures</a>
          </li>
          <li class="list-group-item">
            <a href="/portfolio-main#portfolioDigital" class="subCrumbsLinks">Digital</a>
          </li>
          <li class="list-group-item">
            <a href="/portfolio-main#portfolioNews" class="subCrumbsLinks">Publishing</a>
          </li>
        </ul>
      </div>
      <div class="foot-link-cont" style="padding-left: 0px;">
        <h3><a href="/investors">INVESTOR RELATIONS</a></h3>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="/finance"" class="subCrumbsLinks">Financial Statements</a>
          </li>
          <li class="list-group-item">
            <a href="/annualReport"" class="subCrumbsLinks">Annual Reports</a>
          </li>
          <li class="list-group-item">
            <a href="/shareholding"" class="subCrumbsLinks">Shareholding Pattern</a>
          </li>
          <li class="list-group-item">
            <a href="/policy"" class="subCrumbsLinks">Our Policies</a>
          </li>
          <li class="list-group-item">
            <a href="/notice" class="subCrumbsLinks">Notices & Events</a>
          </li>
          <li class="list-group-item">
            <a href="/merger" class="subCrumbsLinks">Scheme of Merger by Absorption</a>
          </li>
        </ul>
      </div>
      <div class="foot-link-cont" style="padding-left: 40px;">
        <h3><a href="/career">CAREERS</a></h3>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="/career#careerMain" class="subCrumbsLinks">Why Network18</a>
          </li>
          <li class="list-group-item">
            <a href="/career#whyCar" class="subCrumbsLinks">Working with Network18</a>
          </li>
          <li class="list-group-item">
            <a href="/career#carJob" class="subCrumbsLinks">Explore Opportunities</a>
          </li>
          <li class="list-group-item">
            <a href="/career#carLife" class="subCrumbsLinks">Life at Network18</a>
          </li>
          <!-- <li class="list-group-item">
            <a href="/career#joinCar" class="subCrumbsLinks">Connect with Network18</a>
          </li> -->
          
        </ul>
        <h3 style="margin: 10px 0 0 0;"><a href="/contact">CONTACT US</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="container-fluid">
        <div>
          <a target="_blank" href="https://www.facebook.com/Network18grp/"><i class="fa fa-facebook"></i></a>
          <a target="_blank" href="https://twitter.com/Network18Group/"><i class="fa fa-twitter"></i></a>
          <a target="_blank" href="https://www.linkedin.com/company/network18/?originalSubdomain=in/"><i class="fa fa-linkedin"></i></a>
        </div>
        <div style="text-transform: uppercase; font-size: 12px;">
          Copyright 2015 Network18. All rights reserved.
        </div>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="container-fluid cont-box-bot" style="font-size: 11px;line-height: 13px;">

        <span style="font-family: 'Glober bold';">REGISTERED OFFICE</span> First Floor, Empire Complex, 414 Bapat Marg, Lower Parel, Mumbai-400013, Maharashtra <br>
        Phone: 011 41506112 41506114 Fax: 011 41506112 41506114 <br>
        
        <br><br>
      </div>
    </div>
  </div>
</section>