
<div class="mainBodyGalleryContainerFull mainBodyPortContainerFull" style="padding: 0; height: auto; padding-top: 75px;">
	<a class="fixed-link-top" ng-if="showGaly" ng-click="updateGallery(0)"><span class="">BACK TO GALLERY</span></a>
	<section class="clearAfter mobOvCrtl gallMainCont" style="">
		<div class="closeGallery" ng-class="showGaly?'actCross':' '" ng-click="updateGallery(0)"><span><img src="/images/cross.png" alt=""></span></div>
		<div class="galleryThumbContMain" ng-class="showGaly?'inactGalTh':' '">
			<div class="container portMainCont galleryThumbCont" style="" ng-class="showGaly?'inactGalTh':' '">

				<div class="gallThumb" ng-click="updateGallery(11)">
					<a href="/awards/11">
						<img src="/images/Gallery/icons/11.jpg" alt="">
						<h1><p>News18 Rising India Summit</p></h1>
					</a>
				</div>

				<div class="gallThumb" ng-click="updateGallery(10)">
					<a href="/awards/10">
						<img src="/images/Gallery/icons/10.jpg" alt="">
						<h1><p>Swasth Immunised India</p></h1>
					</a>
				</div>

				<div class="gallThumb" ng-click="updateGallery(9)">
					<a href="/awards/9">
						<img src="/images/Gallery/icons/9.jpg" alt="">
						<h1><p>Forbes India Leadership Awards</p></h1>
					</a>
				</div>
				<div class="gallThumb" ng-click="updateGallery(8)">
					<a href="/awards/8">
						<img src="/images/Gallery/icons/tycoons.jpg" alt="">
						<h1><p>Tycoons of Tomorrow</p></h1>
					</a>
				</div>
				<div class="gallThumb" ng-click="updateGallery(1)">
					<a href="/awards/1">
						<img src="/images/Gallery/icons/1.png" alt="">
						<h1><p>News18 Rising India Summit</p></h1>
					</a>
				</div>
				<div class="gallThumb" ng-click="updateGallery(2)">
					<a href="/awards/2">
						<img src="/images/Gallery/icons/2.png" alt="">
						<h1><p>CNN-News18 Indian of the Year</p></h1>
					</a>
				</div>
				<div class="gallThumb" ng-click="updateGallery(3)" >
					<a href="/awards/3">
						<img src="/images/Gallery/icons/IBLA.jpg" alt="" >
						<h1><p>CNBC-TV18 Indian Business Leader Awards</p></h1>
					</a>
				</div>
				<div class="gallThumb" ng-click="updateGallery(4)">
					<a href="/awards/4">
						<img src="/images/Gallery/icons/4.png" alt="">
						<h1><p>News18 India Chaupal</p></h1>
					</a>
				</div>
				<div class="gallThumb" ng-click="updateGallery(5)">
					<a href="/awards/5">
						<img src="/images/Gallery/icons/5.png" alt="">
						<h1><p>CNBC-TV18 Budget Verdict</p></h1>
					</a>
				</div>
				<div class="gallThumb" ng-click="updateGallery(6)">
					<a href="/awards/6">
						<img src="/images/Gallery/icons/6.png" alt="">
						<h1><p>CNBC-TV18 Overdrive Awards</p></h1>
					</a>
				</div>
				<div class="gallThumb" ng-click="updateGallery(7)">
					<a href="/awards/7">
						<img src="/images/Gallery/icons/7.png" alt="">
						<h1><p>CNBC Awaaz Real Estate Awards</p></h1>
					</a>
				</div>

			</div>
		</div>
		<div ng-if="showGaly" class="bgP bgP1"></div>
		<div ng-if="showGaly" class="bgP bgP2"></div>
		<div ng-if="showGaly" class="bgP bgP3"></div>
		
	</section>
</div>
<script>
	$(document).ready(function() {
		var maxWidth = 0;

		var windowHeight = $(window).height();
		var windowwidth = $(window).width();
		// $('.mainBodyContainerFull').animate({
		// 	paddingTop: 0+'px',
		// 	},
		// 	1000, function() {

		// });
		$('.gallThumb').css({
			height: ((windowHeight-75)/2)-30+'px',
			maxHeight: ((windowHeight-75)/2)-30+'px',
		});
	});
</script>
