<style>
    .mainBodyContainerFull{padding-top: 100vh;}
</style>
<div class="mainBodyContainerFull">
    <div class="videoContHome" style="background: rgba(255,0,0,0.1);height: 80vh;width: 100vw;"></div>
    <div class="logoSliderHomeCont" style="height: 20vh;width: 100vw;" >

        <slick class="revolvingSlider" settings="slickConfig" style="background: url('/images/base_logos.png');" >
            <!-- <div class="bg" style="background: url('/images/base_logos.png');"></div> -->
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
            <div class="itemHomeSlider"><a class="logoSliderItem" href=""></a></div>
        </slick>
    </div>
    </div>
</div>


    <script>
        $(document).ready(function() {
            
            var windowHeight = $(window).height();
            
            $('.mainBodyContainerFull').animate({
                paddingTop: 0+'px',

                },
                1000, function() {
            });

            var windowWidth = $(window).width();

            // if (windowWidth > 1024 && windowHeight > 768) {
            //     var innerHeight = (windowHeight - 128) / 8;
            //     $('.inner').css({
            //         "height": innerHeight
            //     });
            //     $('.inner.bigContainer').css({
            //         "height": (innerHeight * 2) + 16
            //     });
            //     $('.homeItem').css({
            //         "height": (innerHeight * 2) + 16
            //     });
            // }
        });
    </script>
