<style>
    .mainBodyContainerFull{padding-top: 100vh;}
</style>
<div class="mainBodyContainerFull">
    <div class="row1 rowClass">
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.viacom18.com/colors/" target="_blank">
                    <img src="images/resized/colors.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/IBN-Live.gif" alt="" class="colorImg">

                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks fullWH" href="" target="_blank">
                    <img src="images/ka-aiahei-1.jpg" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.viacom18.com/colors-infinity/" target="_blank">
                    <img src="images/resized/colors-Infinity.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.ibnlokmat.tv/" target="_blank">
                    <img src="images/resized/IBN-Lokmat.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/viacom.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/NEWS18-India.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/CNN-News-18.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.firstpost.com/" target="_blank">
                    <img src="/images/resized/Firstpost.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.news18.com/" target="_blank">
                    <img src="images/resized/CNN-News-18.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
    </div>
    <div class="row2 rowClass">
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="ttp://www.viacom18.com/rishtey/" target="_blank">
                    <img src="images/resized/rishtey.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner bigContainer flip-container">
                <div class="flipper ani-flip d2">
                    <span class=" front frontDisp text-center">
                        <a class="hoverLinks fullWH" href="" target="_blank">
                            <img src="images/screenshots/news18_india.jpg" alt="" class="colorImg">
                        </a>            
                    </span>
                    <span class=" backDisp back text-center">
                        <a href="" class="hoverLinks fullWH">
                            <img src="images/screenshots/news18_india_1.jpg" alt="" class="colorImg">
                        </a>
                    </span>
                    
                </div>
                    
            </div>
        </div>
        <div class="smallCont">

        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/CNBC-TV18.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/CNBC-Awaaz.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/Pradesh18.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks fullWH" href="" target="_blank">
                    <img src="images/hqdefault.jpg" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner bigContainer flip-container">
                <div class="flipper ani-flip d3">
                    <span class=" front frontDisp text-center">
                        <a class="hoverLinks fullWH" href="" target="_blank">
                            <img src="images/screenshots/zakka.jpg" alt="" class="colorImg">
                        </a>            
                    </span>
                    <span class=" backDisp back text-center">
                        <a href="" class="hoverLinks fullWH">
                            <img src="images/screenshots/zakka1.jpg" alt="" class="colorImg">
                        </a>
                    </span>
                    
                </div>
                    
            </div>
        </div>
        <div class="smallCont">

        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/ETV.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.viacom18.com/color_odia" target="_blank">
                    <img src="images/resized/Colors_udiya.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">

        </div>
        <div class="smallCont">

        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/CNBC-Bajaar.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner wideContainer">
                <a class="hoverLinks fullWH" href="" target="_blank">
                    <img src="images/imh1.png" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">

        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.forbesindia.com/" target="_blank">
                    <img src="images/resized/Forbes.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">

        </div>
        <div class="smallCont">

        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/ETV-RJ.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
    </div>
    <div class="row2 rowClass">
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.viacom18.com/colors-bangla-2/" target="_blank">
                    <img src="/images/resized/colors-Bangla.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.viacom18.com/brand/colors-marathi-4/" target="_blank">
                    <img src="/images/resized/colors-Marathi.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.viacom18.com/colors_gujarati" target="_blank">
                    <img src="images/resized/colors-Gujarati.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.viacom18.com/colors-kannada-3/" target="_blank">
                    <img src="images/resized/colors-Kannad.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner bigContainer" style="background: #FFF;">
                <a class="hoverLinks centerIcon maxWH" href="/portfolio" >
                    <span class="badgeCont"><img src="images/aerrow_r.png" alt="" class="arrowAnimate"></span>
                </a>
            </div>
        </div>
        <div class="smallCont">

        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.moneycontrol.com/" target="_blank">
                    <img src="/images/resized/MonetControl.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.viacom18.com/brand/rishtey-cineplex/" target="_blank">
                    <img src="images/resized/Rishtey-CINEPLEX.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks fullWH" href="" target="_blank">
                    <img src="images/mqdefault.jpg" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/ETV-Bihar.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.viacom18.com/vh1/" target="_blank">
                    <img src="images/resized/VH1.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks fullWH" href="" target="_blank">
                    <img src="images/Eric-prydz-vh1-supersonic.jpg" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.viacom18.com/mtv/" target="_blank">
                    <img src="images/resized/MTV.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.viacom18.com/mtv-beats/" target="_blank">
                    <img src="images/resized/MBeats.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">

        </div>
        <div class="smallCont">

        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.viacom18.com/nickleodeon/" target="_blank">
                    <img src="images/resized/nicklodeon.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.viacom18.com/comedy-central/" target="_blank">
                    <img src="images/resized/CC.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.viacom18.com/brand/on-air/hindi-gec/colors-super/" target="_blank">
                    <img src="images/resized/colors-SUPER.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/ETV-MP.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
    </div>
    <div class="row2 rowClass">
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.fyitv18.com/" target="_blank">
                    <img src="images/resized/fyi.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner bigContainer flip-container">
                <div class="flipper ani-flip d1">
                    <span class=" front frontDisp text-center">
                        <a class="hoverLinks fullWH" href="" target="_blank">
                            <img src="images/screenshots/cnbc_1.jpg" alt="" class="colorImg">
                        </a>            
                    </span>
                    <span class=" backDisp back text-center">
                        <a href="" class="hoverLinks fullWH">
                            <img src="images/screenshots/cnbc_2.jpg" alt="" class="colorImg">
                        </a>
                    </span>
                    
                </div>
                    
            </div>
        </div>
        <div class="smallCont">

        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="https://www.historyindia.com/" target="_blank">
                    <img src="images/resized/History-TV.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner wideContainer">
                <a class="hoverLinks fullWH" href="" target="_blank">
                    <img src="images/hqdefault_2.jpg" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">

        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.viacom18.com/sonic/" target="_blank">
                    <img src="/images/resized/sonic.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner bigContainer">
                <div class="teamAgainst pull-left flip-container">
                    <div class="flipper ani-flip">
                        <span class=" front frontDisp text-center">
                            <a class="hoverLinks fullWH" href="" target="_blank">
                                <img src="images/screenshots/big_5.jpeg" alt="" class="colorImg">
                            </a>            
                        </span>
                        <span class=" backDisp back text-center">
                            <a href="" class="hoverLinks fullWH">
                                <img src="images/screenshots/History-TV18.jpg" alt="" class="colorImg">
                            </a>
                        </span>
                        
                    </div>
                </div>
                
            </div>
        </div>
        <div class="smallCont">

        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/ETV-UP.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="https://www.voot.com/" target="_blank">

                    <img src="images/resized/voot.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">

        </div>
        <div class="smallCont">

        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks fullWH" href="" target="_blank">
                    <img src="images/Ancient_aliens.png" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://overdrive.in/" target="_blank">
                    <img src="images/overdrive_icon.png" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/INS.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks fullWH" href="" target="_blank">
                    <img src="images/el_tigre_mzgnh.png" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">

        </div>
        <div class="smallCont">

        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/ETV-Urdu.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
    </div>
    <div class="row1 rowClass">
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/incom.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://betterphotography.in/" target="_blank">
                    <img src="images/resized/BP.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/MTV-Indies.gif" alt="" class="colorImg">

                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="www.indiacast.com/" target="_blank">
                    <img src="images/resized/IndiaCast.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/BP.gif" alt="" class="colorImg">

                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="https://in.bookmyshow.com/" target="_blank">
                    <img src="images/resized/BookMyShow.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/BI.gif" alt="" class="colorImg">
                    
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.viacom18.com/nick-jr/" target="_blank">
                    <img src="/images/resized/Nick-Jr.gif" alt="" class="colorImg">

                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="http://www.homeshop18.com/" target="_blank">
                    <img src="images/resized/HMS.gif" alt="" class="colorImg">
                </a>
            </div>
        </div>
        <div class="smallCont">
            <div class="inner">
                <a class="hoverLinks maxWH" href="" target="_blank">
                    <img src="images/resized/Colosceum.gif" alt="" class="colorImg">

                </a>
            </div>
        </div>
    </div>
</div>


    <script>
        $(document).ready(function() {
            
            var windowHeight = $(window).height();
            
            $('.mainBodyContainerFull').animate({
                paddingTop: 0+'px',

                },
                1000, function() {
            });

            var windowWidth = $(window).width();
            //console.log(windowHeight, windowWidth);
            if (windowWidth > 1024 && windowHeight > 768) {
                var innerHeight = (windowHeight - 128) / 8;
                $('.inner').css({
                    "height": innerHeight
                });
                $('.inner.bigContainer').css({
                    "height": (innerHeight * 2) + 16
                });
                $('.homeItem').css({
                    "height": (innerHeight * 2) + 16
                });
            }
        });
    </script>
