
<div class="mainBodyContainerFull mainBodyContainerHomeFull" style="padding-top: 100vh;position: relative;width: 100vw;height: 100vh;">
    <div class="homeIconCont centerIcon" style="" ng-class="{'active':eventEnd}">
         <a href="/portfolio"><span class="badgeCont"><img src="images/aerrow_r.png" alt="" class="arrowAnimate"></span></a>
    </div>
    <div class="videoContHome" style="background: rgba(255,0,0,0.1);height: 85vh;width: 100vw;">

        <video id="home_vid" width="100%" autoplay ui-event="{ ended : 'callOnEnd()'}">
            <source src="images/home_vid.mp4" type="video/mp4" class="top">
        </video>

    </div>
    <div class="logoSliderHomeCont" style="" ng-class="{'active':eventEnd}">
        <div class="slickContHome">
            <slick class=""  init-onload=true data="data" infinite=false slides-to-show=10 slides-to-scroll=1 speed=1500 autoplay=true autoplay-speed="1000" dots=true>
                <!-- <div class="bg" style="background: url('/images/base_logos.png');"></div> -->
                <div ng-repeat="anc in data track by $index" class="itemHomeSlider"><a href="" class="logoSliderItem"></a></div>
            </slick>
        </div>
    </div>
    </div>
</div>


    <script>
        $(document).ready(function() {
            // $('#home_vid').on('ended', function(){
            //     console.log('ended');
            // });
            document.querySelector('video').playbackRate = 3;

            var windowHeight = $(window).height();
            
            $('.mainBodyContainerFull').animate({
                paddingTop: 0+'px',

                },
                1000, function() {
            });

            var windowWidth = $(window).width();

            // if (windowWidth > 1024 && windowHeight > 768) {
            //     var innerHeight = (windowHeight - 128) / 8;
            //     $('.inner').css({
            //         "height": innerHeight
            //     });
            //     $('.inner.bigContainer').css({
            //         "height": (innerHeight * 2) + 16
            //     });
            //     $('.homeItem').css({
            //         "height": (innerHeight * 2) + 16
            //     });
            // }
        });
    </script>
