<div class="mainBodyContainerFull" style="padding-top: 0vh;height: auto;">
	<div class="headerFiller"></div>
	<a class="fixed-link-top" href="/investors"><span class="">BACK TO INVESTOR</span></span></a>
	<!--  -->
	<!-- <div class="bottomSticky">
		<a href="#">
			<div><i class="fa fa-caret-up"></i></div>
			TOP
		</a>

	</div> -->
	
	<div class="portfolioContainer corpMainCont">
		<div class="newsVideoCont videTextCont bg-parallax" du-parallax opacity="fadeIn"  y="background"  id="portfolioNews">
			<!-- <h2 class="videoOverText">Recent. Relevant. Refreshing</h2> -->
			<div class="video-cont" style="height: 71vh;">
				<div class="vid-bg"></div>
				<video width="100%" autoplay loop>
					<source src="images/investor_relations6724441.mp4" type="video/mp4" class="top">
				</video>
			</div>
		</div>
		<div class="vid-arr">
			<!-- <img src="/images/aerrow_white.png" class="arrowTopAnimate" alt=""> -->
			<span class="arrText">scroll</span>
			<span class="animateHeight"></span>
			<span class="animateHeightBg"></span>
		</div>
		<div class="switchTab">
			<button ng-click="activeSec.nw18Section=!activeSec.nw18Section" class="btn btn-main" ng-class="activeSec.nw18Section?'active':' '">Network18</button>
			<button ng-click="activeSec.nw18Section=!activeSec.nw18Section" class="btn btn-main" ng-class="activeSec.nw18Section?' ':'active'">TV18</button>
		</div>
		<div class="container invBoxMar">
			<div class="row box-flex box5 invbox" id="invox" style="">
				<div class="col-md-3">
					<div class="box " id="QUARTERLY">
						<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
						<a href="/finance#QUARTERLY"><div class="boxTextBot">QUARTERLY <br>FINANCIAL STATEMENTS</div></a>
					</div>
					<div class="box" id="ANNUAL">
						<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
						<a href="/annualReport#ANNUAL"><div class="boxTextBot">ANNUAL <br>REPORTS</div></a>
					</div>
					<div class="box" id="SHARE">
						<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
						<a href="/shareholding#SHARE"><div class="boxTextBot">SHARE HOLDING <br>PATTERN</div></a>
					</div>
					<div class="box" id="NOTICES">
						<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
						<a href="/notice#NOTICES"><div class="boxTextBot">NOTICES &<br>EVENTS</div></a>
					</div>
					<div class="box active" id="OUR">
						<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
						<a href="/policy#OUR"><div class="boxTextBot">OUR <br>POLICIES</div></a>
					</div>
					<div class="box " id="OUR">
						<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
						<a href="/merger#merge"><div class="boxTextBot">SCHEME OF MERGER BY ABSORPTION</div></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container nw18Cont" ng-if="activeSec.nw18Section">
			
			<div class="inverstorSections">
				<h1 style="">Our Policy</h1>
				
				
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foc2==0?'active':' '" ng-if="left_foc2==0">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Dividend Distribution Policy</p>
							<a href="http://www.network18online.com/reports/policies/Dividend Distribution Policy_NW18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Code of Conduct</p>
							<a href="http://www.network18online.com/reports/policies/Code Conduct.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Authorisation for Determining Materiality of an Event or Information</p>
							<a href="http://www.network18online.com/reports/policies/Authorisation_under_Regulation_30_5.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Criteria for Payment to Non- Executive Directors</p>
							<a href="http://www.network18online.com/reports/Notices and Events/Other Notices/Criteria for payment to Non- Executive Directors.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Website Archival Policy</p>
							<a href="http://www.network18online.com/reports/policies/Website_Archival_Policy.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Policy on Determination and Disclosure of Materiality of Events and Information</p>
							<a href="http://www.network18online.com/reports/policies/Policy on Determination and Disclosure of Materiality of Events and Information1.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Policy for Determining Material Subsidiaries</p>
							<a href="http://www.network18online.com/reports/policies/Policy for determining Material Subsidiaries1.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Code of Practices and Procedures for Fair Disclosure of Unpublished Price Sensitive Information</p>
							<a href="http://www.network18online.com/reports/policies/Code of Practice and Procedure for Fair Disclosures of Unpublished Price Sensitive Information.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Network18 - Familiarisation Programmes for Independent Directors.</p>
							<a href="http://www.network18online.com/reports/policies/Familiarization Program for Independent Directors.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Network18 - Policy on Corporate Social Responsibility</p>
							<a href="http://www.network18online.com/reports/policies/Network18 - Policy on Corporate Social Responsibility.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Policy on Whistle Blower Policy/Vigil Mechanism</p>
							<a href="http://www.network18online.com/reports/policies/vigilmechanism_whistleblower_NW18_F.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Policy on Materiality of Related Party Transactions and on Dealing With Related Party Transactions</p>
							<a href="http://www.network18online.com/reports/policies/Policy of Materiality of Related Party Transactions and on Dealing with Related Party Transactions new.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				
			</div>


		</div>
		<div class="container tv18Cont" ng-if="!activeSec.nw18Section">
			
			<div class="inverstorSections">
				<h1 style="">Our Policy</h1>
				
				
				<section class="investor-pdf-links-new clearAfter" ng-class="left_foc2==0?'active':' '" ng-if="left_foc2==0">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">TV18 - Familiarisation Programmes for Independent Directors-2016-17</p>
							<a href="http://www.network18online.com/reportstv18//Policies/Familirisation Programmes for Independent Directors-2016-17.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Dividend Distribution Policy</p>
							<a href="http://www.network18online.com/reportstv18//Notices Events/Other Notices/Dividend Distribution Policy.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Code Conduct</p>
							<a href="http://www.network18online.com/reportstv18//Notices Events/Other Notices/Code Conduct.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Criteria for Payment to Non- Executive Directors</p>
							<a href="http://www.network18online.com/reportstv18//Notices Events/Other Notices/Criteria for payment to NEDs-TV18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Authorisation for Determining Materiality of an Event or Information</p>
							<a href="http://www.network18online.com/reportstv18//Policies/Authorisation for Determining Materiality of an Event or Information1.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Website Archival Policy</p>
							<a href="http://www.network18online.com/reportstv18//Policies/Website Archival Policy1.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Policy on Determination and Disclosure of Materiality of Events and Information</p>
							<a href="http://www.network18online.com/reportstv18//Policies/Policy on Determination and Disclosure of Materiality of Events and Information1.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Policy for determining Material Subsidiaries</p>
							<a href="http://www.network18online.com/reportstv18//Policies/Policy for determining Material Subsidiaries new.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Code of Practices and Procedures for Fair Disclosure of Unpublished Price Sensitive Information</p>
							<a href="http://www.network18online.com/reportstv18//Policies/Code of Practices and Procedures for Fair Disclosure of Unpublished Price Sensitive Information1.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">TV18 - Familiarisation Programmes for Independent Directors</p>
							<a href="http://www.network18online.com/reportstv18//Policies/TV18-Familirisation Programmes for Independent Directors-2015-16.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Corporate Social Responsibility Policy</p>
							<a href="http://www.network18online.com/reportstv18//Policies/Corporate Social Responsibility Policy_1.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Policy on Whistle Blower Policy/Vigil Mechanism</p>
							<a href="http://www.network18online.com/reportstv18//Policies/Policy on Whistle Blower Policy-Vigil Machanism.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Policy on Materiality of Related Party Transactions and on Dealing With Related Party Transactions</p>
							<a href="http://www.network18online.com/reportstv18//Policies/Materiality_partytransactions_policy_TV181.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				
			</div>

		</div>

	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
			//console.log($('body'));
			$('.stickyMove').on('click', function(event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $($(this).attr('href')).offset().top
				},'slow');
				//goToByScroll($(this).attr('href'));
			});
			var maxWidth = 0;

			var windowHeight = $(window).height();
			
	});
</script>