
<div class="mainBodyContainerFull mainBodyContainerFullComp" style="">
	<div class="headerFiller"></div>
	<a class="fixed-link-top" href="/portfolio"><span class="deskShow">BACK TO PORTFOLIO</span><span class="mobShow"><i class="fa fa-arrow-circle-left"></i></span></a>
	<div class="bottomSticky">
		<ul class="list-group">
			<li class="list-group-item"><a class="stickyMove stickyHighlight" ><span id="moveHighlight" class="" style="bottom: {{botVal}}"></span></a></li>
			<li class="list-group-item"><a class="stickyMove num1" num="1" href="#portfolioNews"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove num2" num="2" href="#portfolioEntertainment"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove num3" num="3" href="#portfolioDigital"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove num4" num="4" href="#portfolioPublishing"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove num5" num="5" href="#portfolioMovies"><span class=""></span></a></li>
			<li class="list-group-item"><a class="stickyMove num6" num="6" href="#portfolioDistribution"><span class=""></span></a></li>
		</ul>
	</div>
	
	<div class="portfolioContainer" >
		<div class="newsVideoCont videTextCont bg-parallax divOnFocus" num="1" du-parallax opacity="fadeIn" id="portfolioNews">
			<h2 class="videoOverText">Recent. Relevant. Refreshing</h2>
			<div class="video-cont" style="height: 71vh;">
				<div class="vid-bg"></div>
				<video width="100%" autoplay loop>
					<source src="images/news-22893325.mp4" type="video/mp4" class="top">
				</video>
			</div>
		</div>
		<div class="vid-arr" ng-if="showElt=='News'">
			<!-- <img lazy-img="/images/aerrow_white.png" class="arrowTopAnimate" alt=""> -->
			<span class="arrText">scroll</span>
			<span class="animateHeight"></span>
			<span class="animateHeightBg"></span>
		</div>
		<div class="whiteBgParl divOnFocus" num="1" opacity="fadeIn">
			<div class="container" style="">
				
				<div class="portfolioMainCont portfolioMainContNews" id="">
					<h1  style="padding: 0; padding-left: 9%;" >News</h1>
					<h3 class="aniOri L2R top" du-parallax x="anmtXfrmL" opacity="anmtXfrmLFade">Business News</h3>
					<div du-parallax opacity="fadeIn" class="parallaxOneCont" >
						<div class="para_img_cont o2" du-parallax y="foregroundimg">
							<img lazy-img="/images/screenshots/news-anchor-poster-print.jpg" alt="">
						</div>
						<div class="para_txt_cont o1">
							<div class="para_txt_inner">
								<img lazy-img="/images/resized/CNBC-PRIME-HD2.gif" alt="">
								<p class="moveOnHover">
									CNBC-TV18 is India's No.1 business medium and the undisputed leader in business news. CNBC-TV18 has been an integral part of the Indian economic story, spearheading and mirroring these enterprising times. The channel's benchmark coverage extends from corporate news, financial markets coverage, expert perspective on investing and management to industry verticals and beyond. 
								</p>
							</div>
						</div>
					</div>
					<div du-parallax opacity="fadeIn" class="parallaxOneCont" >

						<div class="para_img_cont o1" du-parallax y="foregroundimg2">
							<!-- <div class="tint  tintr" du-parallax y="foregroundvf" style="width: 100%;height: 130%;"></div> -->
							<img lazy-img="/images/screenshots/Shereen_Bhan.jpg" alt="" class="imgBAndW">
							
						</div>
						<div class="para_txt_cont o2">
							<div class="para_txt_inner">
								<img lazy-img="/images/resized/CNBC-Awaaz.gif" alt="">
								<p class="moveOnHover">
									CNBC-AWAAZ is India’s No. 1 Hindi Business News Channel. It is a growth tool for the saver, the investor and the entrepreneur. It is a platform for pushing the boundaries, for achieving more, for empowering audiences at every stage, right from the ones at the bottom of the pyramid, to upwards.
								</p>
							</div>
						</div>
					</div>

					<div du-parallax opacity="fadeIn" class="parallaxOneCont z2" style="margin-bottom: 5vh;">
						<span class="bgPatch pRed" style="height: 100%;"></span>
						<div class="para_img_cont o2" style="overflow: hidden;">
							<img lazy-img="/images/screenshots/cnbcawaaz.jpg" alt="" class="imgHidePar">
						</div>
						<div class="para_txt_cont o1">
							<div class="para_txt_inner">
								<img lazy-img="/images/resized/CNBC-Bajaar.gif" alt="">
								<p class="moveOnHover" style="">
									CNBC-BAJAR is India’s first Gujarati Business news channel in the language of business. The channel salutes the entrepreneurial spirit of every Gujarati, his business acumen, his hunger for growth, success and prosperity. Since inception the channel has made deep inroads into the minds of the Gujarati viewers.
								</p>
							</div>
						</div>
					</div>
					<div du-parallax opacity="fadeIn" class="parallaxOneCont z2" style="height: 10vh;width: 100%; position: relative;top: -0px;">
						
						<h3 class="aniOri R2L" du-parallax x="anmtXfrmR"  style="">General News</h3>
					</div>
					<div du-parallax opacity="fadeIn" class="parallaxOneCont parallaxOneContBgImg trans0" style="height: 40vh;overflow:hidden;">
						<div class="para_img_cont o1" du-parallax  >
							<img lazy-img="/images/screenshots/cnnews18.jpg" alt="">
							
						</div>
					</div>
					<div du-parallax opacity="fadeIn" y="" class="parallaxOneCont">
						<div class="para_img_cont o1" du-parallax y="foregroundimg3">
							<img lazy-img="/images/screenshots/news_anchor.png" class="smallhg" alt="">
							
						</div>
						<div class="para_txt_cont o2">
							
							<div class="para_txt_inner">
								<img lazy-img="/images/resized/CNN-News-18.gif" alt="" style="transform: translateX(-23px);">
								<p class="moveOnHover">
									CNN-NEWS18 is one of the most respected and trusted source for news and information in the country today. CNN-NEWS18’s team of anchors and journalists uses cutting edge broadcast technology and world class production sensibilities to bring to its viewers news that is unmatched in quality. The channel has been a ‘thought leader’ and has pioneered several path breaking initiatives and formats that include CNN-NEWS18 Indian of the Year, Real Heroes, Citizen Journalist Show & Awards, Young Indian Leaders and India Positive Awards.
								</p>
							</div>
						</div>
					</div>
					<div du-parallax class="parallaxOneCont  parallaxOneCont2brand trans0" style="height: auto;">
						<div class="para_txt_cont o2" style="margin:0;">
							<div class="para_txt_inner">
								<img lazy-img="/images/screenshots/news18india_hindi.png" alt="" class="longImg">
								<img lazy-img="/images/resized/NEWS18-com.gif" alt="">
								<p class="moveOnHover" style="margin-bottom: 42px;">
									News18 is designed to give global audiences a window into India. The channel is present in the US, Canada, UK, Singapore, and the Middle East. News18 is a destination for definitive news for the Indian diaspora, a community of high achievers seeking Indian news & for ethnic conglomerates with business interests in India.
								</p>
							</div>
						</div>
						<div class="para_txt_cont o2">
							<div class="para_txt_inner" >
								<img lazy-img="/images/resized/NEWS18-India.gif" alt="">
								<p class="moveOnHover" style="margin-bottom: 18%;">
									Network18 re-launched its national Hindi General News channel on 9th November 2016. News18 India (erstwhile IBN7) is driven by a commitment to question the status quo. Substantive journalism
								</p>
								
								<img lazy-img="/images/screenshots/anchor_HINDI.jpg" alt="" class="longImg">
								
							</div>
						</div>
					</div>
					<div du-parallax opacity="fadeIn" class="parallaxOneCont  parallaxOneCont2brand trans0" style="height: 20vh;">
						<div class="para_txt_cont o2" style="margin-bottom: 20px;">
							<h3 class="aniOri L2R" du-parallax x="anmtXfrmL" opacity="anmtXfrmLFade">Regional News</h3>
						</div>
					</div>
					<div du-parallax opacity="fadeIn" class="parallaxOneCont parallaxOneContBgImg trans0" style="height: 50vh;overflow:hidden;">
						<div class="para_img_cont o1" du-parallax  style="position: relative;" >
							<img lazy-img="/images/screenshots/etv.jpg" alt="" style="position: absolute;bottom: 0;">
							
						</div>
					</div>
					<div du-parallax opacity="fadeIn" class="parallaxOneCont  parallaxOneCont2brand trans0" style="height: auto;">
						<div class="para_txt_cont o2" du-parallax y="foregroundimgz2m2slow" style="height: 30vh;flex-grow: 2;left: 40px;padding: 40px 25px;z-index: 1;">
							<div class="para_txt_inner right" style="max-width: 100%;background: rgba(249,230,228,0.8);">

								<div class="etvInner">
									<img lazy-img="/images/ETV_news 18 india.png" alt="" style="float: left;margin-right: 25px;width: 132px;margin-bottom: 15px;">
									<p class="moveOnHover" style="max-width: 80%;margin:0;">
										Network18 operates 13 regional news channels (10 branded as ETV and 3 as News18) which makes it India’s largest regional news networks across 26 states. With over 15 years of dominance in most of the markets that it operates in, it is the preferred choice of regional viewers.
									</p>
								</div>
							</div>
						</div>
						<div class="para_txt_cont o2" style="flex-grow: 3; margin-top: 25px;">
							<div class="etvCont" style="">
								<a href=""><img lazy-img="images/resized/ETV-Urdu.gif" alt=""></a>
								<a href=""><img lazy-img="images/resized/ETV-RJ.gif" alt=""></a>
								<a href=""><img lazy-img="images/resized/ETV-Bihar.gif" alt=""></a>
								<a href=""><img lazy-img="images/resized/ETV-MP.gif" alt=""></a>
								<a href=""><img lazy-img="images/resized/ETV-UP.gif" alt=""></a>
							</div>
							<div class="etvCont">
								<a href=""><img lazy-img="images/photo.jpg" alt="" style="margin-left: 28px;max-width: 120%;max-height: 80px;"></a>
								<a href=""><img lazy-img="images/resized/ETV-Bangla.gif" alt=""></a>
								<a href=""><img lazy-img="images/resized/ETV-Kannad.gif" alt=""></a>
								<a href=""><img lazy-img="images/resized/ETV-Gujarati.gif" alt=""></a>
								<a href=""><img lazy-img="images/resized/ETV-Odiya.gif" alt=""></a>
							</div>
						</div>
					</div>
					<div du-parallax opacity="fadeIn" class="parallaxOneCont  parallaxOneContWith2scrn z2 trans0" style="">
						<div class="para_img_cont o1" >
							<img lazy-img="/images/screenshots/lokmat_anchor.png" alt="">
						</div>
						<div class="para_txt_cont o2" style="margin:0;height: 86%;padding-top: 5vh;overflow: hidden;">
							<div class="tint tintr tint2" style="height: 122%; z-index: -1;"></div>
							<div class="para_txt_inner">
								<img lazy-img="/images/screenshots/lokmat.png" alt="">
								<img lazy-img="/images/resized/IBN-Lokmat.gif" alt="">
								<p class="moveOnHover">
									News18-Lokmat is a joint venture of two leading media powerhouses in India - TV18 Broadcast Ltd. and Lokmat Media Pvt Ltd, running Maharashtra’s foremost newspaper. The world class credible news channel in Marathi has positioned itself on top of the ladder in the regional broadcast news space in Maharashtra.
								</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="entVideoCont videTextCont bg-parallax divOnFocus" num="2" du-parallax   id="portfolioEntertainment" >
			<h2 class="videoOverText">Once looked, stay hooked</h2>
			<div class="video-cont" style="height: 71vh;">
		      <div class="vid-bg">

		      </div>
		      <video width="100%" autoplay loop class="bot">
		        <source src="images/entertainment-12203189.mp4" type="video/mp4"  >
		      </video>
		    </div>
		    <div class="vid-arr" ng-if="showElt=='Entertainment'">
				<!-- <img lazy-img="/images/aerrow_white.png" class="arrowTopAnimate" alt=""> -->
				<span class="arrText">scroll</span>
				<span class="animateHeight"></span>
				<span class="animateHeightBg"></span>
			</div>
		</div>
		<div class="whiteBgParl divOnFocus" num="2" >
			<div class="container" style="">
				<div class="portfolioMainCont portfolioMainContEnt" id="port_ent_brand">
					<h1 class="" style="padding: 0;padding-left: 9%;" >Entertainment</h1>
					<h3 class="aniOri L2R top" du-parallax x="anmtXfrmL" opacity="anmtXfrmLFade">General Entertainment</h3>
					<div du-parallax opacity="fadeIn" class="parallaxOneCont" >
						<div class="para_img_cont o2" du-parallax y="foregroundimg">
							<img lazy-img="/images/screenshots/colors.png" alt="" style="max-width: 90%;float: right;">
						</div>
						<div class="para_txt_cont o1">
							<div class="para_txt_inner">
								<img lazy-img="/images/resized/colors.gif" alt="">
								<p class="moveOnHover">
									COLORS is Network18’s flagship brand in the mass entertainment space in India. A combination of ‘emotions’ and ‘variety’, COLORS offers an entire spectrum of emotions to its viewers. From Fiction shows to Format shows to Reality shows to Blockbuster Movies – the basket contains all ‘Jazbaat Ke Rang’. COLORS is dedicated to promoting ‘cohesive viewing’ and partners various events popular in the entertainment space.
								</p>
							</div>
						</div>
					</div>
					<div du-parallax opacity="fadeIn" class="parallaxOneCont" style="background: url('/images/screenshots/rishtey.png') no-repeat center;">
						<div class="para_img_cont o1" du-parallax >
							<!-- <img lazy-img="/images/screenshots/news_anchor.png" class="smallhg" alt=""> -->
							
						</div>
						<div class="para_txt_cont o2" du-parallax y="foregroundimg4">
							<div class="para_txt_inner" style="background: rgba(249,230,228,0.8);padding: 0px 40px 40px 40px;position: relative;top: 300px;">
								<img lazy-img="/images/resized/rishtey.gif" alt="">
								<p class="moveOnHover">
									Rishtey is an extension of Network18’s entertainment bouquet for Indian audiences. First launched in UK as a variety entertainment channel, ‘Rishtey’ in India, features the choicest shows from the COLORS along with its non-fiction and reality offerings and blockbuster Bollywood films.
								</p>
							</div>
						</div>
					</div>
					<div du-parallax opacity="fadeIn" class="parallaxOneCont  parallaxOneCont2brand trans0" style="margin-top: 10vh;">
						<div class="para_txt_cont o2" du-parallax y="foregroundimg">
							<div class="para_txt_inner">
								<img lazy-img="/images/screenshots/lngimg1.jpg" alt="" class="longImg">
								<img lazy-img="/images/resized/MTV.gif" alt="">
								<p class="moveOnHover">
									MTV, world’s premier youth brand, is a dynamic and a vibrant blend of music and pop culture. With a global reach of more than half-billion households, MTV is a cultural home to the millennial generation, music fans and artists.
								</p>
							</div>
						</div>
						<div class="para_txt_cont o2">
							<div class="para_txt_inner" du-parallax y="foregroundimgz2m">
								<img lazy-img="/images/resized/MTV-Indies.gif" alt="">
								<p class="moveOnHover" style="margin-bottom: 42px;">
									MTV BEATS is a music channel with focus on Bollywood and is aimed at 15 – 30 year olds across urban and rural India. MTV BEATS, while catering to all eclectic music tastes, predominantly focuses on Bollywood music. To enhance the musical experience of the audience, MTV BEATS offers playlists curated by some of the biggest names in the industry.
								</p>
								<img lazy-img="/images/screenshots/lngimg2.jpg" alt="" class="longImg">
								
							</div>
						</div>
					</div>

					<div du-parallax opacity="fadeIn" class="parallaxOneCont  parallaxOneContWith2scrn z2 trans0" style="margin-top: 8vh;">
						<div class="para_img_cont o1" du-parallax >
							<img lazy-img="/images/screenshots/vh.png" alt="">
						</div>
						<div class="para_txt_cont o2"  du-parallax y="foregroundimg">
							<div class="tint tintr tint2" style="transform: translateY(-42px);height: 122%;z-index: -1;"></div>
							<div class="para_txt_inner">
								<img lazy-img="/images/screenshots/vh1.png" alt="">
								<img lazy-img="/images/resized/VH1.gif" alt="">
								<p class="moveOnHover">
									Vh1 is India’s only International entertainment channel that provides viewers with their daily dose of International music, Hollywood, Pop culture and Lifestyle. The channel has pioneered the heady combination of programming content and live on ground activities.
								</p>
							</div>
						</div>
					</div>

					<div du-parallax opacity="fadeIn" class="parallaxOneCont" >
						<span class="bgPatch"></span>
						<div class="para_img_cont o2" >
							<img lazy-img="/images/screenshots/infinity.png" alt="" style="width: initial;max-height: 100%;float: right;">
							
						</div>
						<div class="para_txt_cont o1">
							<div class="para_txt_inner">
								<img lazy-img="/images/resized/colors-Infinity.gif" alt="">
								<p class="moveOnHover">
									 Moving towards a new horizon in English Entertainment on Indian Television, COLORS INFINITY has carved a new, disruptive path, ushering in the growing international trend of ‘essential viewing’. COLORS Infinity offers a plethora of disruptive international and homegrown content to its viewers.
								</p>
							</div>
						</div>
					</div>

					<div du-parallax opacity="fadeIn" class="parallaxOneCont" >

						<div class="para_img_cont o1" du-parallax y="foregroundimg3">
							
							<img lazy-img="/images/screenshots/news_anchor.png" class="" alt="" style="max-width: 90%;float: right;">
							
						</div>
						<div class="para_txt_cont o2">
							<div class="para_txt_inner">
								<img lazy-img="/images/resized/CC.gif" alt="">
								<p class="moveOnHover">
									Comedy Central India lines up powerful programming and is the country's first channel dedicated to English language comedy.
								</p>
							</div>
						</div>
					</div>

					<div du-parallax opacity="fadeIn" class="parallaxOneCont  parallaxOneCont2brand trans0">
						<div class="para_txt_cont o2" du-parallax y="foregroundimg">
							<div class="para_txt_inner">
								<img lazy-img="/images/screenshots/nickelodeon.png" alt="" class="longImg">
								<img lazy-img="/images/resized/nicklodeon.gif" alt="" style="margin-left: 35px;">
								<p class="moveOnHover">
									Nickelodeon, India’s leading kids’ entertainment brand boasts of a bouquet of differentiated channels that cater to kids from tots to teens - Nick, Sonic and Nick Jr. and Nick HD+. Nickelodeon has today emerged as the preferred entertainment destination with iconic characters like Motu Patlu, Ninja Hattori and Shiva amongst others.
								</p>
							</div>
						</div>
						<div class="para_txt_cont o2">
							<div class="para_txt_inner" du-parallax y="foregroundimgz2m">
								<img lazy-img="/images/resized/sonic.gif" alt="">
								<p class="moveOnHover" style="margin-bottom: 42px;">
									Sonic provides the best of comedy and action content in India. It is targeted at kids and amounts to an annual viewership of millions. The channel boasts an array of live action and animation shows like Pakdam Pakdai, Shiva, Supa Strikas, Power Rangers and more.
								</p>
								<img lazy-img="/images/screenshots/sonic.png" alt="" class="longImg">
							</div>
						</div>
					</div>
					
					<div du-parallax opacity="fadeIn" class="parallaxOneCont" style="background: url('/images/screenshots/nick_jr.png') no-repeat center;max-width: 90%;margin:15vh auto auto auto;">
						<div class="para_img_cont o1" du-parallax >
							<!-- <img lazy-img="/images/screenshots/news_anchor.png" class="smallhg" alt=""> -->
							
						</div>
						<div class="para_txt_cont o2" du-parallax y="foregroundimg4">
							<div class="para_txt_inner" style="background: rgba(249,230,228,0.8);padding: 0px 40px 40px 40px;position: relative;top: 300px;">
								<img lazy-img="/images/resized/Nick-Jr.gif" alt="">
								<p class="moveOnHover">
									Nick Jr. which is ‘the smart place to play” believes that ‘education’ and ‘entertainment’ go hand-in-hand and is aimed at young parents and pre-schoolers. Internationally acclaimed shows like Dora the Explorer, Bubble Guppies, Wonder Pets, Team Umizoomi and Go Diego Go foster motor, memory, maths and language development in a child. The Nickelodeon channel also caters to teenagers in the latter half of the day with the Teen Nick block which showcases international sitcoms such as ICarly, Victorious and Drake and Josh.
								</p>
							</div>
						</div>
					</div>
					<div du-parallax opacity="fadeIn" class="parallaxOneCont z2" style="height: 15vh;">
						<h3 class="aniOri R2L" du-parallax x="anmtXfrmR"  style="top:108px;">Factual Entertainment</h3>
					</div>
					<div du-parallax opacity="fadeIn" y="" class="parallaxOneCont">
						<span class="bgPatch pRed bgPatch2"></span>
						<div class="para_img_cont o1" du-parallax y="foregroundimg">
							<img lazy-img="/images/screenshots/history.png" class="smallhg" alt="" style="border-bottom: 1px solid rgba(0, 0, 0, 0.3);">
							
						</div>
						<div class="para_txt_cont o2">
							
							<div class="para_txt_inner">
								<img lazy-img="/images/resized/History-TV.gif" alt="" style="">
								<p class="moveOnHover">
									HISTORY TV18 is a factual entertainment channel by AETN18, a joint venture between Network18 and A+E Networks which operates acclaimed global brands like History, Bio, Crime & Investigation Network and Lifetime. HISTORY TV18 is the leading destination for award-winning original non-fiction series and event specials that connect history with viewers in an informative, immersive and entertaining manner across multiple platforms.
								</p>
							</div>
						</div>
					</div>

					<div du-parallax opacity="fadeIn" y="" class="parallaxOneCont">
						
						<div class="para_img_cont o2" du-parallax y="foregroundimg">
							<img lazy-img="/images/screenshots/fyi2.jpg" alt="">
							
						</div>
						<div class="para_txt_cont o1">
							
							<div class="para_txt_inner">
								<img lazy-img="/images/resized/fyi.gif" alt="" style="">
								<p class="moveOnHover">
									FYI TV18 is a sounding board for a generation of millennials who are at the forefront of radical change- upheavals in technology, family dynamics, gender equality, entrepreneurship etc., thus belonging to a genre of its own within the factual umbrella but embracing lifestyle. FYI TV18 makes up for dual viewing with content that is convivial and progressive.
								</p>
							</div>
						</div>
					</div>


					<div du-parallax opacity="fadeIn" class="parallaxOneCont  parallaxOneCont2brand trans0" style="height: 20vh;">
						<div class="para_txt_cont o2" style="margin-bottom: -15px;">
							<h3 class="aniOri L2R" du-parallax x="anmtXfrmL" opacity="anmtXfrmLFade">Regional Entertainment</h3>
						</div>
					</div>
					<div du-parallax opacity="fadeIn" class="parallaxOneCont" style="background: url('/images/screenshots/regional.jpg') no-repeat center;">
						<div class="para_img_cont o1" du-parallax >
							<!-- <img lazy-img="/images/screenshots/news_anchor.png" class="smallhg" alt=""> -->
							
						</div>
						<div class="para_txt_cont o2" du-parallax y="foregroundimg4">
							<div class="para_txt_inner" style="background: rgba(255,255,255,0.9);padding: 0px 40px 40px 40px;position: relative;top: 300px;">
								<img lazy-img="/images/resized/colors-Kannad.gif" alt="">
								<p class="moveOnHover">
									COLORS Kannada is a family entertainment channel that thrives to entertain its viewers through distinctive and differentiated content, matching the heritage of the rich Kannada culture with qualitative and innovative programming.
								</p>
							</div>
						</div>
					</div>
					<!-- <div du-parallax opacity="fadeIn" class="parallaxOneCont" >
						<span class="bgPatch"></span>
						<div class="para_img_cont o2" du-parallax y="foregroundimg" >
							
							<div class="tint tintr"></div>
						</div>
						<div class="para_txt_cont o1">
							<div class="para_txt_inner">
								<img lazy-img="/images/resized/colors-Kannad.gif" alt="">
								<p class="moveOnHover" style="color: #F5F5F6;">
									Moving towards a new horizon in English Entertainment on Indian Television, COLORS INFINITY carves a new, disruptive path, ushering in the growing international trend of ‘essential viewing’. 
								</p>
							</div>
						</div>
					</div> -->
					<div du-parallax opacity="fadeIn" class="parallaxOneCont  parallaxOneCont2brand trans0" style="height: auto;margin-top: 10vh;">
						<div class="para_txt_cont o2" du-parallax y="foregroundimg">
							<div class="para_txt_inner">
								<img lazy-img="/images/screenshots/colors_super.png" alt="" class="longImg">
								<img lazy-img="/images/resized/colors-SUPER.gif" alt="" style="margin-left: 35px;">
								<p class="moveOnHover">
									COLORS Super caters to the growing demand in the Kannada GEC space. Adding to the already innovative content, strong production values and stories that epitomize the rich culture, values and traditions of Kannadigas, COLORS Super aims at creating a complete family viewing experience by offering viewers an exciting mix of stories and genres hitherto unseen on Kannada TV.
								</p>
							</div>
						</div>
						<div class="para_txt_cont o2">
							<div class="para_txt_inner" du-parallax y="foregroundimgz2m">
								<img lazy-img="/images/resized/colors-Marathi.gif" alt="">
								<p class="moveOnHover" style="margin-bottom: 42px;">
									Pioneer of the Marathi General Entertainment Genre, COLORS Marathi is a family entertainment channel that mirrors the cultural ethos and spirit of Maharashtra through a range of unique differentiated content created to redefine the family viewing experience.	
								</p>
								<img lazy-img="/images/screenshots/colors_marathi.jpg" alt="" class="longImg">
							</div>
						</div>
					</div>
					<div du-parallax opacity="fadeIn" class="parallaxOneCont  parallaxOneCont2brand trans0" style="height: auto;padding-top: 5vh;">
						<div class="para_txt_cont o2" du-parallax y="foregroundimg">
							<div class="para_txt_inner">
								<img lazy-img="/images/screenshots/colors_bangla.jpg" alt="" class="longImg">
								<img lazy-img="/images/resized/colors-Bangla.gif" alt="" style="margin-left: 35px;">
								<p class="moveOnHover">
									A family entertainment channel that brought about a revolution in Bangla Television, COLORS Bangla matches the distinctiveness of the rich Bangla culture with qualitative and contemporary programming.  The channel mirrors the cultural ethos and the progressive values of the Bengalis’ through innovative and relevant content. 
								</p>
							</div>
						</div>
						<div class="para_txt_cont o2" style="background: rgba(255,255,255,0.8);">
							<div class="para_txt_inner"  du-parallax >
								<img lazy-img="/images/resized/colors-Gujarati.gif" alt="">
								<p class="moveOnHover" style="margin-bottom: 42px;">
									COLORS Gujarati is the only Gujarati general entertainment channel reflecting the kaleidoscope of distinctive tastes and traditions of the vibrant state of Gujarat through its innovative and differentiated content.
								</p>
								<img lazy-img="/images/screenshots/colors_gujrati.jpg" alt="" class="longImg">
							</div>
						</div>
					</div>

					<div du-parallax opacity="fadeIn" class="parallaxOneCont  parallaxOneContWith2scrn z2 trans0" style="padding-top: 10vh;height: 95vh;">
						<span class="bgPatch" style="height: 90%;"></span>
						<div class="para_img_cont o2" >
							<img lazy-img="/images/screenshots/colors_uria.png" alt="">
						</div>
						<div class="para_txt_cont o1" >
							
							<div class="para_txt_inner">
								<img lazy-img="/images/screenshots/colors_uria1.png" alt="">
								<img lazy-img="/images/resized/Colors_udiya.gif" alt="">
								<p class="moveOnHover">
									COLORS Odia is the first Oriya satellite channel launched with an objective of providing quality entertainment to the people of Orissa. The Channel has enthralled its audience over the years through its engaging shows which are straight out of the inherent rich culture of Odisha. The channel has time and again proved its mettle with the quality of programs, its presentation and widespread reach. COLORS Odia has played a pivotal role in the introduction of new concepts in the Oriya television space like Telefilms and Events.
								</p>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>

		<div class="bg-parallax videTextCont divOnFocus" num="3" du-parallax opacity="fadeIn"   style="position: relative;height: 71vh; overflow: hidden;" id="portfolioDigital">
 			<h2 class="videoOverText">Click. Click. Click.</h2>
 			<div class="video-cont" style="height: 71vh;">
				<div class="vid-bg"></div>
				<video width="100%" autoplay loop id="myVideo4">
					<source src="images/digital_3509804.mp4" type="video/mp4" class="top">
				</video>
			</div>
			<div class="vid-arr" ng-if="showElt=='Digital'">
				<!-- <img lazy-img="/images/aerrow_white.png" class="arrowTopAnimate" alt=""> -->
				<span class="arrText">scroll</span>
				<span class="animateHeight"></span>
				<span class="animateHeightBg"></span>
			</div>
 		</div>
 		<div class="whiteBgParl divOnFocus" num="3" du-parallax opacity="fadeIn" y="foreground">
	 		<div class="container" style="">
	 			<div class="portfolioMainCont" >
		 			<div class="distriThmb" style="margin-bottom: 60px;">
		 				<h1 style="padding-bottom: 20px;">Network18 Digital</h1>
			 			Network18 Digital is the digital arm of Network18. It is among the largest multi-platform destinations for objective breaking news, opinions, financial data and infotainment for the evolved digital news consumer. Network18 Digital houses assets such as moneycontrol, firstpost and news18 and is constantly seeding new ideas to be the dominant force in the digital space. It caters to all sections of society, especially to the successful digital consumer and the millennials and Generation Z users who access and consume content on the go.
						
		 			</div>
		 			<h3 class="aniOri L2R" du-parallax x="anmtXfrmL3" opacity="anmtXfrmLFade">DIGITAL CONTENT</h3>
					<div class="row">
						
						<div class="contTran container-fluid row active" du-parallax opacity="fadeIn">
							<div class="portfolioItem col-lg-4 col-md-4 col-sm-4">
								<div class="thumbnail toLeft">
									
									<div class="imgThmbCont"><img lazy-img="/images/resized/MonetControl.gif" alt="" style=""></div>
									<div class="caption">
										<div class="boxInside">
											<img lazy-img="/images/screenshots/moneycontrol.png" alt="">
										</div>
										<p>Moneycontrol is India’s Largest Finance destination. It offers comprehensive information, news and in- depth analysis across asset classes and pulls in a wide cross section of investors. As India’s leading business and finance platform, it offers investors the latest business news and market updates along with articles, independent analysis of investment options and financial planning.</p>
									</div>
								</div>
							</div>

							<div class="portfolioItem col-lg-4 col-md-4 col-sm-4">
								<div class="thumbnail second noBorder">
									<div class="imgThmbCont"><img lazy-img="/images/resized/Firstpost.gif" alt="" style=""></div>
									<div class="caption">
										<div class="boxInside">
											<img lazy-img="/images/screenshots/fp.png" alt="">
										</div>
										<p>FirstPost is India’s Largest and only Digital Newsroom. With a digital newsroom powered by expert writer-editors across the country and the globe, Firstpost has a competitive edge in breaking views on real-time news. With a strong focus on politics, sport, business, technology and entertainment, it has now transformed its image from a niche portal to a more youthful, social, opinion-led destination, with considerable strength in social and shareable content.</p>
									</div>
								</div>
							</div>

							<div class="portfolioItem col-lg-4 col-md-4 col-sm-4">
								<div class="thumbnail toRight">
									<div class="imgThmbCont"><img lazy-img="/images/resized/NEWS18-com.gif" alt="" style=""></div>
									<div class="caption">
										<div class="boxInside">
											<img lazy-img="/images/screenshots/news18.png" alt="">
										</div>
										<p>NEWS18.com is the digital destination of CNN News18 with hard news as its core offering and interactivity as its key component. Along with a bevy of mobile and multimedia-enabled content, News18.com is a multi-platform offering that, for the first time, provides viewers/users an opportunity to contribute to the news process and interact with editors and reporters.</p>
										
									</div>
								</div>
							</div>
						</div>
						<div class="contTran container-fluid row " style="margin-top: 60px;margin-bottom: 100px;" du-parallax opacity="fadeIn">
							<div class="portfolioItem col-lg-4 col-md-4 col-sm-4">
								<div class="thumbnail toLeft">
									<div class="imgThmbCont"><img lazy-img="/images/resized/NEWS18-India.gif" alt="" style=""></div>
									<div class="caption">
										<div class="boxInside">
											<img lazy-img="/images/screenshots/news18india.png" alt="">
										</div>
										<p>News18india represents our prime Hindi news channel News18 India on digital. It has become the digital destination for not just news and current affairs but in-depth analysis of all that is happening. Hindi net users love to consume the lifestyle, entertainment, sports and astrology content. The blog section is getting good response and has become the preferred choice of Hindi blogging community. With modern day look and feel the user experience...</p>
									</div>
									
								</div>
							</div>

							<div class="portfolioItem col-lg-4 col-md-4 col-sm-4">
								<div class="thumbnail second noBorder">
									
									<div class="imgThmbCont"><img lazy-img="images/screenshots/topper_logo.png" alt="" style="max-width: 65%;"></div>
									<div class="caption">
										<div class="boxInside">
											<img lazy-img="/images/screenshots/toppertv.png" alt="">
										</div>
										<p>Founded in 2007, Topper Learning is part of Greycells 18 Media Ltd, which is the Edtech arm of Network 18. We are a premier K-12 content, delivery & assessment service provider across Broadcast (Topper TV) and Digital (www.topperlearning.com) platforms. Topper Learning aims to solve the problems of Personalization, Access and Quality in the Education space. We seamlessly veer across the edtech and e-learning landscape, in the K12 domain across 2 National and 7 State Boards, JEE, Medical & NDA prep. The scope of our business is defined by our decoding of the ‘E’ of e-learning as ‘Everything, Everyone, Engaging and Easy’.</p>
									</div>
								</div>
							</div>

							<!-- <div class="portfolioItem col-lg-4 col-md-4 col-sm-4">
								<div class="thumbnail toRight">
									<div class="imgThmbCont"><img lazy-img="images/resized/incom.gif" alt="" style=""></div>
									<div class="caption">
										<div class="boxInside">
											<img lazy-img="/images/screenshots/in.png" alt="">
										</div>
										<p>The Portal launched in 2008 is our aggregator platform, showcasing the content strength and providing a good window to all our digital content. The portal averaged more than 5.5 mn unique visitors per month as of May 2015. The Portal launched in 2008 is our aggregator platform, showcasing the content strength and providing a good window to all our digital content. The portal averaged more than 5.5 mn unique visitors per month as of May 2015</p>
									</div>
								</div>
							</div> -->
						</div>
							
					</div>
					<h3 class="aniOri L2R" du-parallax x="anmtXfrmL3" opacity="anmtXfrmLFade">DIGITAL COMMERCE</h3>
					<div class="row contTran" du-parallax opacity="fadeIn">

						<div class="portfolioItem col-lg-4 col-md-4 col-sm-4">
							<div class="thumbnail toLeft">
								
								<div class="imgThmbCont"><img lazy-img="images/resized/HMS.gif" alt="" style="">
								</div>
								<div class="caption">
									<div class="boxInside">
										<img lazy-img="/images/screenshots/homeshop.png" alt="">
									</div>
									<p>HomeShop18 is India's first comprehensive digital commerce player, selling credible brands to customers nationally through not just TV but also internet and mobile. As a pioneer, HomeShop18 changed the way Indians shop by launching India's first 24 hour Home Shopping TV channel.</p>
								</div>
							</div>
						</div>

						<div class="portfolioItem col-lg-4 col-md-4 col-sm-4">
							<div class="thumbnail second noBorder">
								<div class="imgThmbCont"><img lazy-img="images/resized/BookMyShow.gif" alt="" style=""></div>
								<div class="caption">
									<div class="boxInside">
										<img lazy-img="/images/screenshots/bms.png" alt="">
									</div>
									<p>Bookmyshow is the Largest Online Ticketing Platform in India with close to occupying 80% market share. It is currently servicing more than 240 cities & 2800 screens.</p>
								</div>
								
							</div>
						</div>

						<div class="portfolioItem col-lg-4 col-md-4 col-sm-4">
							<!-- <div class="thumbnail toRight">
								<div class="imgThmbCont"><img lazy-img="images/resized/Burp.gif" alt="" style=""></div>
								<div class="caption">
									<div class="boxInside">
										<img lazy-img="/images/screenshots/burrp.png" alt="">
									</div>
									<p>Burrp is a food and restaurant recommendation engine. Burrp is the pioneer in the Indian food discovery space and quite literally introduced consumer technology in food and beverage industry in 2006. With presence across 14 cities in the country and a view to expand to 35 in the next two years, Burrp is gunning not just to occupy a_vacant space in the market, but_also to do what it’s best at - create a new one create a new one create a </p>
								</div>
							</div> -->
						</div>
					</div>
		 		</div>
			</div>
		</div>

		<div class="bg-parallax videTextCont divOnFocus" num="4" du-parallax opacity="fadeIn"   id="portfolioPublishing" style="position: relative;height: 71vh; overflow: hidden;">
			<h2 class="videoOverText">Fine print. Finest print.</h2>
			<div class="video-cont" style="height: 71vh;">
				<div class="vid-bg"></div>
				<video width="100%" autoplay loop id="myVideo1" class="bot">
					<source src="images/publishing-26030585.mp4" type="video/mp4" class="top">
				</video>
			</div>
			<div class="vid-arr" ng-if="showElt=='Publishing'">
				<!-- <img lazy-img="/images/aerrow_white.png" class="arrowTopAnimate" alt=""> -->
				<span class="arrText">scroll</span>
				<span class="animateHeight"></span>
				<span class="animateHeightBg"></span>
			</div>
		</div>
		<div class="whiteBgParl divOnFocus" num="4" du-parallax opacity="fadeIn" y="foreground">
			<div class="container" style="">
				<div class="portfolioMainCont" >
		 			<div class="" style="">
		 				<h1 style="margin-left: 45px;line-height: 90px;padding-top: 60px;">Publishing</h1>
						
						<div du-parallax opacity="fadeIn" class="parallaxOneCont  parallaxOneCont2brand trans0">
							<div class="para_txt_cont o2" du-parallax y="foregroundimg">
								<div class="para_txt_inner">
									<img lazy-img="/images/screenshots/forbes.png" alt="" class="longImg">
									<img lazy-img="/images/resized/Forbes.gif" alt="" style="margin-left: 35px;">
									<p class="moveOnHover">
										Forbes India spearheads the community that upholds 'The Power of Free Enterprise' while investing in the intellectual capital of business minds. It delivers sharp, in-depth and engaging stories, by looking at global and domestic issues from an Indian prism, thereby placing its readers ahead of the curve. Leaping beyond the boundaries of the boardroom, it seamlessly merges the world of business, entrepreneurship, entertainment, technology, culture and luxury with the people who are changing the world for the better.
									</p>
								</div>
							</div>
							<div class="para_txt_cont o2">
								<div class="para_txt_inner" du-parallax y="foregroundimgz2m">
									<img lazy-img="/images/resized/overdrive.gif" alt="">
									<p class="moveOnHover" style="margin-bottom: 42px;">
										OVERDRIVE is India’s largest auto media for bike & car community. It has its presence across print, web, mobile, television & events. Targeted at affluent auto enthusiasts, OVERDRIVE strives to achieve excellence by keeping its reader abreast of every development that occurs in the ever-evolving automobile market.
									</p>
									<img lazy-img="/images/screenshots/overdrive.png" alt="" class="longImg">
								</div>
							</div>
						</div>
						<div du-parallax opacity="fadeIn" class="parallaxOneCont  parallaxOneCont2brand trans0" style="margin-top: 10vh;">
							<div class="para_txt_cont o2"  du-parallax y="foregroundimg">
								<div class="para_txt_inner">
									<img lazy-img="/images/screenshots/better_photography1.png" alt="" class="longImg">
									<img lazy-img="/images/resized/BP.gif" alt="" style="margin-left: 35px;">
									<p class="moveOnHover">
										Better Photography has been the leading photography magazine in India for two decades. With a primary audience that includes serious enthusiasts and amateurs, the magazine covers a wide variety of content from techniques and equipment reviews and interviews. BP, as it is often affectionately called, is a hobbyist magazine whose priority is education in the art and science of photography.
									</p>
								</div>
							</div>
							<div class="para_txt_cont o2" style="background: rgba(255, 255, 255, 0.75);">
								<div class="para_txt_inner" du-parallax y="foregroundimgz2m">
									<img lazy-img="/images/resized/BI.gif" alt="">
									<p class="moveOnHover" style="margin-bottom: 42px;">
										Better Interiors is an established name amongst a multitude of Indian interior design publications in the country. An editorial team that’s in sync with the field of design and décor works towards bringing out thoroughly-researched and unbiased content, aptly supported by spectacular visuals. This includes inputs and regular contributions from several industry experts that sets the publication apart.
									</p>
									<img lazy-img="/images/screenshots/better-interiors.png" alt="" class="longImg">
								</div>
							</div>
						</div>
		 			</div>
		 		</div>
			</div>
		</div>

 		<div class="bg-parallax videTextCont divOnFocus" num="5"  id="portfolioMovies" du-parallax opacity="fadeIn"   style="position: relative;height: 71vh; overflow: hidden;">
 			<h2 class="videoOverText">Best seat. Best house.</h2>
 			<div class="video-cont" style="height: 71vh;">
				<div class="vid-bg"></div>
				<video width="100%" autoplay loop id="myVideo2">
					<source src="images/motion_picture-6956665.mp4" type="video/mp4" class="top">
				</video>
			</div>
			<div class="vid-arr" ng-if="showElt=='Movies'">
				<!-- <img lazy-img="/images/aerrow_white.png" class="arrowTopAnimate" alt=""> -->
				<span class="arrText">scroll</span>
				<span class="animateHeight"></span>
				<span class="animateHeightBg"></span>
			</div>
 		</div>
 		<div class="whiteBgParl divOnFocus" num="5" du-parallax opacity="fadeIn" y="foreground" style="padding-bottom: 100px;">
	 		<div class="container" style="">
	 			<div class="portfolioMainCont"  style="">
	 				<h1 style="line-height: 120px;padding-top: 60px;margin-left: -5px;padding-bottom: 20px;">Motion Pictures</h1>
	 				<div><img lazy-img="images/viacom_logo.png" alt="" style="margin-top: 0px;height: 40px;"></div>
	 				<div class="distriThmb">
	 					<h3 class="text-left" style="margin-top: 20px;margin-bottom: 8px;">Viacom18 Motion Pictures</h3>
	 					<p>Viacom18 Motion Pictures is India's finest fully integrated motion pictures studio that has emerged as a force to reckon with by delivering a stream of critically and commercially successful films. Offering differentiated and meaningful cinema, some of its iconic releases have been Drishyam, Gabbar is Back, Margarita with a Straw, Manjhi The Mountain Man, Mary Kom, Queen, Bhaag Milkha Bhaag, Madras Café, Special 26 and Kahaani to name a few. Viacom18 Motion Pictures is also one of the few studios to have successfully ventured into regional films across languages like Bengali, Marathi, Punjabi and from the South.</p>
	 				</div>
	 				<div class="row" style="margin-top: 35px;">
	 					<div class="col-md-2 moviePosterCOnt"><img lazy-img="images/gangs-of-wasseypur-05.jpg" alt=""></div>
		 				<div class="col-md-2 moviePosterCOnt"><img lazy-img="images/MaryKomPoster.jpg" alt=""></div>
		 				<div class="col-md-2 moviePosterCOnt"><img lazy-img="images/vidya-balan-kahaani-movie-poster.jpg" alt=""></div>
		 				<div class="col-md-2 moviePosterCOnt"><img lazy-img="images/02-queen.jpg" alt=""></div>
		 				<div class="col-md-2 moviePosterCOnt"><img lazy-img="images/Bhaag_Milkha_Bhaag_poster.jpg" alt=""></div>
		 				<div class="col-md-2 moviePosterCOnt"><img lazy-img="images/Force2.jpg" alt=""></div>
	 				</div>
	 			</div>
	 		</div>
	 	</div>
 		
 		
		
		<div class="bg-parallax videTextCont divOnFocus" num="6" du-parallax opacity="fadeIn"   style="position: relative;height: 71vh; overflow: hidden;z-index: 3;" id="portfolioDistribution">
			<h2 class="videoOverText">We reach. Others breach.</h2>
			<div class="video-cont" style="height: 71vh;">
				<div class="vid-bg"></div>
				<video width="100%" autoplay loop id="myVideo3" >
					<source src="images/ditribution-28066303.mp4" type="video/mp4" >
				</video>
			</div>
			<div class="vid-arr" ng-if="showElt=='Distribution'">
				<!-- <img lazy-img="/images/aerrow_white.png" class="arrowTopAnimate" alt=""> -->
				<span class="arrText">scroll</span>
				<span class="animateHeight"></span>
				<span class="animateHeightBg"></span>
			</div>
		</div>
		<div class="whiteBgParl divOnFocus" num="6" du-parallax opacity="fadeIn" style="height: 75vh;">
			<div class="container" style="margin-top: 0;">
	 			<div class="portfolioMainCont" >
	 				<h1 style="line-height: 120px;padding-top: 60px;margin-left: -5px;padding-bottom: 20px;">Distribution</h1>
	 				<div class="row distriTextCont" style="margin:7px -14px 25px;display: flex;">
	 					<div class="pull-left text-center"><img lazy-img="images/indiacast_logo.jpg" alt="" height="72px"></div>
	 					<div class="pull-left distriText borderLeft" style="margin: auto;flex:1;">
	 						<h3>IndiaCast Media Distribution Company Limited</h3>
	 						<p style="margin: 0;">IndiaCast manages content monetisation with three clear mandates: domestic, international and digital. It ensures best-in-class availability and reach of all channels by strategically managing key aspects of carriage and placement. With a rich content library of 16,000 hours across genres, IndiaCast syndicates content from the group in more than 145 countries in over 25 languages. IndiaCast also manages digital initiatives of the group and also both linear and non-linear channel distribution and distributes channels to online sites, OTT platforms, and value added services (VAS) players for mobile consumption.</p>
	 					</div>
	 				</div>
	 				<!-- <div class="row portfolioItem" style="margin-left: -100px;margin-right: -100px;">
	 					<div class="col-md-4 thumbnail distriThmb">
	 						<h3>DOMESTIC</h3>
	 						<p>IndiaCast manages domestic distribution of the channels from Viacom18, TV18, and other broadcaster across various platforms such as Cable (digital and analog), DTH, HITS and IPTV.It also ensures best-in-class availability and reach of all</p>
	 					</div>
	 					<div class="col-md-4 thumbnail distriThmb second">
	 						<h3>INTERNATIONAL</h3>
	 						<p>IndiaCast monetises content/programmes for TV18, Viacom18 and other broadcasters, across territories and platforms. IndiaCast reaches the Indian diaspora across spanning 87 countries with its premier offering – Colors</p>
	 					</div>
	 					<div class="col-md-4 thumbnail distriThmb">
	 						<h3>DIGITAL</h3>
	 						<p>IndiaCast also manages digital initiatives of the group and also both linear and non-linear channel distribution and distributes channels to online sites, OTT platforms, and value added services (VAS) players for mobile consumption.</p>
	 					</div>
	 				</div> -->
	 			</div>
	 		</div>
	 	</div>
	</div>
	<section class="greyBG footerSection">
		<div class="fav-logo-cont"><img lazy-img="images/18.png" alt=""></div>
		<div class="container" style="padding-top: 43px;width: 720px;min-width:unset;max-width: 100%;overflow: hidden;">
			<div class="row clearAfter" style="">
				<div class="foot-link-cont" style="padding-left: 15px;">
					<h3>ABOUT US</h3>
					<ul class="list-group">
						<li class="list-group-item">
							<a href="/corporate-main" class="subCrumbsLinks">Company History</a>
						</li>
						<li class="list-group-item">
							<a href="/corporate-main#brdDirInt" class="subCrumbsLinks">Board Of Directors</a>
						</li>
						<li class="list-group-item">
							<a href="/corporate-main#globPartInt" class="subCrumbsLinks">International Partners</a>
						</li>
						<li class="list-group-item">
							<a href="/corporate-main#brdCmtii" class="subCrumbsLinks" >Board Comittee</a>
						</li>
						<li class="list-group-item">
							<a href="/corporate-main#csrID" class="subCrumbsLinks">Corporate Social Responsibility</a>
						</li>
						<li class="list-group-item">
							<a href="/corporate-main#" class="subCrumbsLinks">Our  Investment</a>
						</li>
					</ul>
				</div>
				
				<div class="foot-link-cont" style="padding-left: 40px;">
					<h3>PORTFOLIO</h3>
					<ul class="list-group">
						<li class="list-group-item">
							<a href="/portfolio-main#portfolioNews" class="subCrumbsLinks">News</a>
						</li>
						<li class="list-group-item">
							<a href="/portfolio-main#portfolioEntertainment" class="subCrumbsLinks">Entertainment</a>
						</li>
						<li class="list-group-item">
							<a href="/portfolio-main#portfolioDistribution" class="subCrumbsLinks">Distribution</a>
						</li>
						<li class="list-group-item">
							<a href="/portfolio-main#portfolioMovies" class="subCrumbsLinks">Movies</a>
						</li>
						<li class="list-group-item">
							<a href="/portfolio-main#portfolioDigital" class="subCrumbsLinks">Network18 Digital</a>
						</li>
						<li class="list-group-item">
							<a href="/portfolio-main#portfolioNews" class="subCrumbsLinks">Publishing</a>
						</li>
					</ul>
				</div>
				<div class="foot-link-cont" style="padding-left: 0px;">
					<h3>INVESTOR RELATIONS</h3>
					<ul class="list-group">
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Quarterly Financial Statement</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Annual Reports</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Investor Presentation</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Financial And Stock Information</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Share Holding Pattern</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Our Policies</a>
						</li>
					</ul>
				</div>
				<div class="foot-link-cont" style="padding-left: 40px;">
					<h3>CAREERS</h3>
					<ul class="list-group">
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Life At Network18</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Employee Value Proposition</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Explore Opportunities</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Register Yourself</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks">Employee Speak  And Testimonials</a>
						</li>
						<li class="list-group-item">
							<a href="" class="subCrumbsLinks"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="container-fluid">
					<div>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-youtube-play"></i></a>
						<a href=""><i class="fa fa-linkedin"></i></a>
					</div>
					<div style="text-transform: uppercase; font-size: 12px;">
						Copyright 2015 Network18. All rights reserved.
					</div>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="container-fluid cont-box-bot" style="font-size: 11px;line-height: 13px;">

					<span style="font-family: 'Glober bold';">REGISTERED OFFICE</span> First Floor, Empire Complex, 414 Bapat Marg, Lower Parel, Mumbai-400013, Maharashtra <br>
					Phone: 011 41506112 41506114 Fax: 011 41506112 41506114 <br>
					<br>

					<span style="font-family: 'Glober bold';">CORPORATE OFFICE</span>
					FExpress Trade Towers. Plot No. 15 & 16, Sector 16A,
					Noida, Uttar Pradesh 201301. India <br>
					Phone 0120 4341818, 120 3987777 Fax: 01203053860
					<br><br>
				</div>
			</div>
		</div>
	</section>
</div>
	<script>
		//$('.headerPrimaryCont.container-fluid.text-center').show();
		$(document).ready(function() {
			var iScrollPos = 0;
			var timeout = null;
			var $window = $(window),
			win_height_padded = $window.height() * 1.1;
			
			// function reveal() {
			//      var scrolled = $window.scrollTop();
			//      $(":not(.animated)").each(function () {
			//        var $this = $(this),
			//            offsetTop = $this.offset().top;
			 
			//        if (scrolled + win_height_padded > offsetTop) {
			//          if ($this.data('timeout')) {
			//            window.setTimeout(function(){
			//              $this.addClass('animated ' + $this.data('animation'));
			//            }, parseInt($this.data('timeout'),10));
			//          } else {
			//            $this.addClass('animated ' + $this.data('animation'));
			//          }
			//        }
			//      });
			// };
			// $window.on('scroll',reveal);
			//$(window).scroll(function () {

				// $('.moveOnHover').each(function() {
					
				// 	// $(this).stop().animate({
				// 	// 	lineHeight : 20,
				// 	// 	paddingTop: 0
				// 	// },1000, function() {
						
				// 	// });
				// });
				
				// var iCurScrollPos = $(this).scrollTop();
				// if (!timeout) {
			 //        timeout = setTimeout(function () {
			 //            clearTimeout(timeout);
			 //            timeout = null;
			 //            if (iCurScrollPos > iScrollPos) {
			 //            	$('.moveOnHover').each(function() {
			 //            		// $(this).stop().animate({
			 //            		// 	lineHeight : 24,
			 //            		// 	paddingTop: 20
			 //            		// },1000, function() {
			            			
			 //            		// });
			 //            	});
				// 		} else {
				// 			$('.moveOnHover').each(function() {
				// 				// $(this).stop().animate({
				// 				// 	lineHeight : 24,
				// 				// 	paddingTop: -20
				// 				// },1000, function() {
									
				// 				// });
				// 			});
				// 		}
				// 		iScrollPos = iCurScrollPos;
			 //        }, 400);
			 //    }
				
			//});


			var vid1 = document.getElementById("myVideo1");
			vid1.playbackRate = 0.5;
			var vid2 = document.getElementById("myVideo2");
			vid2.playbackRate = 0.5;
			var vid3 = document.getElementById("myVideo3");
			vid3.playbackRate = 0.5;
			var vid4 = document.getElementById("myVideo4");
			vid4.playbackRate = 0.5;
			

			var currMove = 1;
			function moveToThis(num){
				//console.log(num);
				$(".num"+num).css({
					'z-index' : 0,
				});
				$('#moveHighlight').addClass('move');
				setTimeout(function () {
					// $('#moveHighlight').css({
					// 	transition: "all 0.3s cubic-bezier(.23,1,.32,1)",
					// 	'transform': 'translateY(50px)'
					// });

					var bot_val=0;
					if(num == 1){
						bot_val = 96; 
					}else if (num == 2) {
						bot_val = 73;
					}else if (num == 3) {
						bot_val = 50;
					}else if (num == 4) {
						bot_val = 27;
					}else if (num == 5) {
						bot_val = 4;
					}else if (num == 6) {
						bot_val = -19;
					}
					$('#moveHighlight').animate({
						bottom: bot_val,
					},450, function() {
						$('#moveHighlight').removeClass('move');
					});
					
				},20);
			}

			$('.stickyMove').on('click', function(event) {
				event.preventDefault();
				moveToThis($(this).attr("num"));
				$('html,body').animate({
					scrollTop: $($(this).attr('href')).offset().top
				},'slow');
			});
			
			var maxWidth = 0;

			var windowHeight = $(window).height();
			// $('.mainBodyContainerFull').animate({
				
			// 	opacity:1
			// 	},
			// 	1000, function() {

			// });
			$('.divOnFocus').on('mouseenter', function(event) {
				moveToThis($(this).attr('num'));
			});
			var timeout = null;
			// $(window).scroll(function () {
			//     if (!timeout) {
			//         timeout = setTimeout(function () {
			//             clearTimeout(timeout);
			//             timeout = null;
			            
			//         }, 50);
			//     }
			// });
			// $('.revolvingSlider').slick({
			// 	centerMode: true,
			// 	slidesToShow: 1,
			// 	dots: true,
			// 	responsive: [
			// 	    {
			// 	      breakpoint: 768,
			// 	      settings: {
			// 	        arrows: false,
			// 	        centerMode: true,
			// 	        centerPadding: '40px',
			// 	        slidesToShow: 1
			// 	      }
			// 	    },
			// 	    {
			// 	      breakpoint: 480,
			// 	      settings: {
			// 	        arrows: false,
			// 	        centerMode: true,
			// 	        centerPadding: '40px',
			// 	        slidesToShow: 1
			// 	      }
			// 	    }
			// 	]
			// });

		});
	</script>
