<div class="mainBodyContainerFull" style="padding-top: 0vh;height: auto;">
	<div class="headerFiller"></div>
	<a class="fixed-link-top" href="/investors"><span class="">BACK TO INVESTOR</span></span></a>
	<!--  -->
	<!-- <div class="bottomSticky">
		<a href="#">
			<div><i class="fa fa-caret-up"></i></div>
			TOP
		</a>

	</div> -->
	
	<div class="portfolioContainer corpMainCont">
		<div class="newsVideoCont videTextCont bg-parallax" du-parallax opacity="fadeIn"  y="background"  id="portfolioNews">
			<!-- <h2 class="videoOverText">Recent. Relevant. Refreshing</h2> -->
			<div class="video-cont" style="height: 71vh;">
				<div class="vid-bg"></div>
				<video width="100%" autoplay loop>
					<source src="images/investor_relations6724441.mp4" type="video/mp4" class="top">
				</video>
			</div>
		</div>
		<div class="vid-arr">
			<!-- <img src="/images/aerrow_white.png" class="arrowTopAnimate" alt=""> -->
			<span class="arrText">scroll</span>
			<span class="animateHeight"></span>
			<span class="animateHeightBg"></span>
		</div>
		<div class="switchTab">
			<button ng-click="activeSec.nw18Section=!activeSec.nw18Section" class="btn btn-main" ng-class="activeSec.nw18Section?'active':' '">Network18</button>
			<button ng-click="activeSec.nw18Section=!activeSec.nw18Section" class="btn btn-main" ng-class="activeSec.nw18Section?' ':'active'">TV18</button>
		</div>
		<div class="container invBoxMar">
			<div class="row box-flex box5 invbox" id="invox" style="">
				<div class="col-md-3">
					<div class="box" id="QUARTERLY">
						<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
						<a href="/finance#QUARTERLY"><div class="boxTextBot">QUARTERLY <br>FINANCIAL STATEMENTS</div></a>
					</div>
					<div class="box" id="ANNUAL">
						<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
						<a href="/annualReport#ANNUAL"><div class="boxTextBot">ANNUAL <br>REPORTS</div></a>
					</div>
					<div class="box active" id="SHARE">
						<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
						<a href="/shareholding#SHARE"><div class="boxTextBot">SHARE HOLDING <br>PATTERN</div></a>
					</div>
					<div class="box" id="NOTICES">
						<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
						<a href="/notice#NOTICES"><div class="boxTextBot">NOTICES &<br>EVENTS</div></a>
					</div>
					<div class="box" id="OUR">
						<img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
						<a href="/policy#OUR"><div class="boxTextBot">OUR <br>POLICIES</div></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container nw18Cont" ng-if="activeSec.nw18Section">
			
			<div class="inverstorSections">
				<h1 style="">Shareholding Pattern</h1>
				<div class="sld_foc_cont"><span class="sliding_focus" style="left: {{left_foc2}}0%;"></span></div>
				<div active="activeJustified" id="tab2" justified="true" class="">
					<ul class="nav nav-tabs nav-justified" >
						<li class="uib-tab nav-item" ng-click="changeFoc2(0)" ng-class="left_foc2==0?'active':' '" index="0" heading="2016-17">
							<a class="nav-link ">2017-18</a>
						</li>
						<li class="uib-tab nav-item " ng-click="changeFoc2(1)" ng-class="left_foc2==1?'active':' '" index="1" heading="2015-16">
							<a class="nav-link ">2016-17</a>
						</li>
						<li class="uib-tab nav-item " ng-click="changeFoc2(2)" ng-class="left_foc2==2?'active':' '" index="2" heading="2014-15">
							<a class="nav-link ">2015-16</a>
						</li>
						<li class="uib-tab nav-item " ng-click="changeFoc2(3)" ng-class="left_foc2==3?'active':' '" index="3" heading="2013-14">
							<a class="nav-link ">2014-15</a>
						</li>
						<li class="uib-tab nav-item " ng-click="changeFoc2(4)" ng-class="left_foc2==4?'active':' '" index="4" heading="2012-13">
							<a class="nav-link ">2013-14</a>
						</li>
						<li class="uib-tab nav-item " ng-click="changeFoc2(5)" ng-class="left_foc2==5?'active':' '" index="5" heading="2011-12">
							<a class="nav-link ">2012-13</a>
						</li>
						<li class="uib-tab nav-item " ng-click="changeFoc2(6)" ng-class="left_foc2==6?'active':' '" index="6" heading="2010-11">
							<a class="nav-link ">2011-12</a>
						</li>
						<li class="uib-tab nav-item " ng-click="changeFoc2(7)" ng-class="left_foc2==7?'active':' '" index="7" heading="2009-10">
							<a class="nav-link ">2010-11</a>
						</li>
						<li class="uib-tab nav-item " ng-click="changeFoc2(8)" ng-class="left_foc2==8?'active':' '" index="8" heading="2008-09">
							<a class="nav-link ">2009-10</a>
						</li>
						<li class="uib-tab nav-item " ng-click="changeFoc2(9)" ng-class="left_foc2==9?'active':' '" index="9" heading="2007-08">
							<a class="nav-link ">2008-09</a>
						</li>
					</ul>
				</div>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foc2==0">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended March 31, 2018</p>
							<a href="http://www.network18online.com/reportstv18/Shareholding%20Pattern/2016-17/TV18_Shareholding%20Pattern_31.03.2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended December 31, 2017</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2016-17/Network18-Shareholding Pattern-31-12-2017.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended September 30, 2017</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2016-17/Network18-SRPT-Regulation 31-New Format-30-09-2017.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended June 30, 2017</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2016-17/Network18-SRPT-Regulation 31-New Format-30-06-2017_Website.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foc2==1">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern as on March 31, 2017</p>
							<a href="http://www.network18online.com/reports/Shareholding%20Patterns/2016-17/Network18_Shareholding%20Pattern_31-03-2017_Website%20.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern as on December 31, 2016</p>
							<a href="http://www.network18online.com/reports/Shareholding%20Patterns/2016-17/NW18%20Shareholding%20Pattern_31-12-2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern as on September 30, 2016</p>
							<a href="http://www.network18online.com/reports/Shareholding%20Patterns/2016-17/Shareholding%20Pattern_Network18-30-09-2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern as on June 30, 2016</p>
							<a href="http://www.network18online.com/reports/Shareholding%20Patterns/2016-17/Shareholding%20Pattern%20for%20NW18%20website.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foc2==2">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern as on March 31, 2016</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2015-16/Network18 Shareholding Pattern_March 31 2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern as on December 31, 2015</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2015-16/Shareholding Pattern As on 31 12 2015-Network18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern as on Sept 30, 2015</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2015-16/Shareholding_Pattern_30092015Network18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern as on June 30, 2015</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2015-16/Shareholding Pattern_Network18_30.06.2015 .pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foc2==3">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.03.2015</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2014-15/Shareholding Pattern_Network18_31_03_2015.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.12.2014</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2014-15/ShareholdingPattern_N18_31_12_2014.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern as on September 30, 2014</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2014-15/Shareholding Pattern_Network18_30 09 2014.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern  as on June 30, 2014</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2014-15/Share_Holding_Pattern_June 30-2014.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foc2==4">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.03.2014</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2013-14/Shareholding-Pattern-as-on-31st-March-2014.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.12.2013</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2013-14/ShareholdingPatten31122013.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.09.2013</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2013-14/ShareholdingPattern30092013.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.06.2013</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2013-14/ShareholdingPattern30062013.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foc2==5">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.03.2013-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2012-13/Shareholding Pattern- March 2013- Preference.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.03.2013-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2012-13/Shareholding Pattern- March 2013 - Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.12.2012-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2012-13/Shareholding Pattern 31.12.2012-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.12.2012-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2012-13/Shareholding Pattern 31.12.2012-equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.09.2012-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2012-13/Shareholding Pattern 30.09.2012-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.09.2012-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2012-13/Shareholding Pattern 30.09.2012-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.06.2012-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2012-13/Shareholding Pattern 30.06.2012-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.06.2012-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2012-13/Shareholding Pattern 30.06.2012-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foc2==6">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.03.2012-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2011-12/Shareholding Pattern 31.03.2012-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.03.2012-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2011-12/Shareholding Pattern 31.03.2012-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.12.2011-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2011-12/Shareholding Pattern 31.12.2011-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.12.2011-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2011-12/Shareholding Pattern 31.12.2011-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.09.2011-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2011-12/Shareholding Pattern 30.09.2011-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.09.2011-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2011-12/Shareholding Pattern 30.09.2011-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.06.2011-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2011-12/Shareholding Pattern 30.06.2011-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.06.2011-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2011-12/Shareholding Pattern 30.06.2011-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foc2==7">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.03.2012-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2011-12/Shareholding Pattern 31.03.2012-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.03.2012-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2011-12/Shareholding Pattern 31.03.2012-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.12.2011-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2011-12/Shareholding Pattern 31.12.2011-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.12.2011-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2011-12/Shareholding Pattern 31.12.2011-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.09.2011-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2011-12/Shareholding Pattern 30.09.2011-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.09.2011-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2011-12/Shareholding Pattern 30.09.2011-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.06.2011-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2011-12/Shareholding Pattern 30.06.2011-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.06.2011-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2011-12/Shareholding Pattern 30.06.2011-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foc2==8">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.03.2011-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2010-11/Shareholding Pattern 31.03.2011-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.03.2011-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2010-11/Shareholding Pattern 31.03.2011-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.12.2010-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2010-11/Shareholding Pattern 31.12.2010-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.12.2010-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2010-11/Shareholding Pattern 31.12.2010-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.09.2010-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2010-11/Shareholding Pattern 30.09.2010-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.09.2010-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2010-11/Shareholding Pattern 30.09.2010-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.06.2010-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2010-11/Shareholding Pattern 30.06.2010-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.06.2010-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2010-11/Shareholding Pattern 30.06.2010-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foc2==9">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.03.2010-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2009-10/Shareholding Pattern 31.03.2010-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.03.2010-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2009-10/Shareholding Pattern 31.03.2010-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.12.2009-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2009-10/Shareholding Pattern 31.12.2009-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.12.2009-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2009-10/Shareholding Pattern 31.12.2009-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.09.2009-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2009-10/Shareholding Pattern 30.09.2009-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.09.2009-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2009-10/Shareholding Pattern 30.09.2009-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.06.2009-Equity</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2009-10/Shareholding Pattern 30.06.2009-Equity.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.06.2009-Pref</p>
							<a href="http://www.network18online.com/reports/Shareholding Patterns/2009-10/Shareholding Pattern 30.06.2009-Pref.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>
				</section>
			</div>


		</div>
		<div class="container tv18Cont" ng-if="!activeSec.nw18Section">

			<div class="inverstorSections">
				<h1 style="margin-left: 5px;">shareholding pattern</h1>
				
				<div class="sld_foc_cont"><span class="sliding_focus" style="left: {{left_foctv3}}0%;"></span></div>
				<div active="activeJustified" id="tab1" justified="true" class="">
					<ul class="nav nav-tabs nav-justified" >
						<li class="uib-tab nav-item " ng-class="left_foctv3==0?'active':' '" ng-click="changeFocTV3(0)" index="0" heading="2017-18">
							<a ng-click="" class="nav-link"">2017-18</a>
						</li>
						<li class="uib-tab nav-item " ng-class="left_foctv3==1?'active':' '" ng-click="changeFocTV3(1)" index="1" heading="2016-17">
							<a ng-click="" class="nav-link"">2016-17</a>
						</li>
						<li class="uib-tab nav-item " ng-class="left_foctv3==2?'active':' '" ng-click="changeFocTV3(2)" index="2" heading="2015-16">
							<a ng-click="" class="nav-link"">2015-16</a>
						</li>
						<li class="uib-tab nav-item " ng-class="left_foctv3==3?'active':' '" ng-click="changeFocTV3(3)" index="3" heading="2014-15">
							<a ng-click="" class="nav-link"">2014-15</a>
						</li>
						<li class="uib-tab nav-item " ng-class="left_foctv3==4?'active':' '" ng-click="changeFocTV3(4)" index="4" heading="2013-14">
							<a ng-click="" class="nav-link"">2013-14</a>
						</li>
						<li class="uib-tab nav-item " ng-class="left_foctv3==5?'active':' '" ng-click="changeFocTV3(5)" index="5" heading="2012-13">
							<a ng-click="" class="nav-link"">2012-13</a>
						</li>
						<li class="uib-tab nav-item " ng-class="left_foctv3==6?'active':' '" ng-click="changeFocTV3(6)" index="6" heading="2011-12">
							<a ng-click="" class="nav-link"">2011-12</a>
						</li>
						<li class="uib-tab nav-item " ng-class="left_foctv3==7?'active':' '" ng-click="changeFocTV3(7)" index="7" heading="2010-11">
							<a ng-click="" class="nav-link"">2010-11</a>
						</li>
						<li class="uib-tab nav-item " ng-class="left_foctv3==8?'active':' '" ng-click="changeFocTV3(8)" index="8" heading="2009-10">
							<a ng-click="" class="nav-link"">2009-10</a>
						</li>
						<li class="uib-tab nav-item " ng-class="left_foctv3==9?'active':' '" ng-click="changeFocTV3(9)" index="9" heading="2008-09">
							<a ng-click="" class="nav-link"">2008-09</a>
						</li>
					</ul>
				</div>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foctv3==0">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended March 31, 2018</p>
							<a href="http://www.network18online.com/reportstv18/Shareholding%20Pattern/2016-17/TV18_Shareholding%20Pattern_31.03.2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended December 31, 2017</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2016-17/TV18Shareholdingpattern31122017.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended September 30, 2017</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2016-17/TV-18-SRPT-Regulation 31-New Format-30-09-2017.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended June 30, 2017</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2016-17/TV18Shareholdingpattern30062017.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foctv3==1">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended March 31, 2017</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2016-17/TV18Shareholding pattern for the quarter ended March 31 2017.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended December 31, 2016</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2016-17/TV18 Shareholding Pattern for the quarter ended December 312c 2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended September 30, 2016</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2016-17/Shareholding Pattern for the quarter ended September 302c 2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended June 30, 2016</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2016-17/Shareholding Pattern for the quarter ended June 30 2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foctv3==2">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended March 31, 2016</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2014-15/TV18 Shareholding Pattern_ 31.03.2016 _ .pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended December 31, 2015</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2014-15/Shareholding Pattern for the quarter ended 31.12.2015.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended 30.09.2015</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2014-15/ShareholdingPatternforthequarterended30092015.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended 30.06.2015</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2014-15/Shareholding-Pattern-30.06.2015-TV18-Broadcast-Limited.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foctv3==3">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended December 31, 2014</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2014-15/Shareholding_Pattern_for_the_quarter_ended_31.12.2014.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended 30.09.2014</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2014-15/Clause35-1.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended 30.06.2014</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2014-15/Shareholding-Pattern-for-the-quarter-ended-30.06.2014.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended 31.03.2015</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2014-15/shareholdingpatternforthequarterended31032015--.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foctv3==4">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended 31.03.2014</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2013-14/tv18_shareholding_pattern_for_the_quarter_ended_31.03.2014.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended 31.12.2013</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2013-14/tv18_shareholding_pattern_for_the_quarter_ended_31.12.2013.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended 30.09.2013</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2013-14/cl-35 30.09.2013.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern for the quarter ended 30.06.2013</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2013-14/ShareholdingPattern_30.06.2013.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foctv3==5">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.03.2013</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2012-13/Shareholding Pattern for the qtr ended 31.03.2013.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.12.2012</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2012-13/Shareholding Pattern for the qtr ended 31.12.2012.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.09.2012</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2012-13/Shareholding Pattern for the qtr ended 30.09.2012.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.06.2012</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2012-13/Shareholding Pattern for the qtr ended 30.06.2012.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foctv3==6">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.03.2012</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2011-12/Shareholding_Pattern_for_the_qtr_ended31032012.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.12.2011</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2011-12/Shareholding Pattern for the qtr ended 31.12.2011.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.09.2011</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2011-12/Shareholding Pattern for the Quarter Ended 30.09.2011.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.06.2011</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2011-12/Shareholding Pattern for the quarter ended 30.06.2011.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foctv3==7">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31 03 2011</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2010-11/Shareholding Pattern for the qtr ended 31 03 2011.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.12.2010</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2010-11/Shareholding Pattern for the qtr ended  31.12.2010.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.09.2010</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2010-11/shareholding pattern for the qtr ended 30.09.2010.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.06.2010</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2010-11/Share holding Pattern for the qtr ended 30.06.2010.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foctv3==8">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.03.10</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2009-10/Shareholding Pattern for the qtr ended 31.03.10.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.12.09</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2009-10/Shareholding Pattern for the qtr ended 311209.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.09.09</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2009-10/Shareholding Pattern for the qtr ended 300909.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.06.09</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2009-10/Shareholding Pattern for the qtr ended 30.06.09.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
				<section class="investor-pdf-links-new clearAfter" ng-if="left_foctv3==9">
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.03.2009</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2008-09/Shareholding Pattern for the qtr ended 31 03 09.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 31.12.2008</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2008-09/Shareholding Pattern for the qtr ended 31-12-08.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.09.2008</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2008-09/Shareholding Pattern for the qtr ended 30-09-08.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Shareholding Pattern 30.06.2008</p>
							<a href="http://www.network18online.com/reportstv18//Shareholding Pattern/2008-09/Shareholding Pattern for the qtr ended 30-06-08.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>	
						</li>
					</ol>
				</section>
			</div>
		</div>

	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
			//console.log($('body'));
			$('.stickyMove').on('click', function(event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $($(this).attr('href')).offset().top
				},'slow');
				//goToByScroll($(this).attr('href'));
			});
			var maxWidth = 0;

			var windowHeight = $(window).height();
			
	});
</script>