
<div class="mainBodyContainerFull" style="padding: 0; height: 100vh; padding-top: 75px;">
	<section class="clearAfter" style="height:100%;">
		<div class="container-fluid" style="height:100%; overflow:hidden;padding: 0;">
			<section class="dispContRow">
				<div class="contentTypeDiv ani_to_top div1 col-md-4">
					<a href="/portfolio-main#portfolioNews">
					<img src="images/Untitled-5.png" alt="">
					<p class="front">News</p>
					<div class="back">
						<div class="back-text-cont"> 
							<h3>News</h3>
							<p>Lorem ipsum dolor sit amet, ea habemus democritum rationibus vix. Qui perpetua corrumpit urbanitas no. Pri in verear sententiae, cu eripuit graecis vim.Lorem ipsum dolor sit amet</p>
						</div>
					</div>
					</a>
				</div>
				<div class="contentTypeDiv ani_to_top div2 col-md-4">
					<a href="/portfolio-main#portfolioEntertainment">
					<img src="images/Untitled-1.png" alt="">
					<p class="front">Entertainment</p>
					<div class="back">
						<div class="back-text-cont"> 
							<h3>Entertainment</h3>
							<p>Lorem ipsum dolor sit amet, ea habemus democritum rationibus vix. Qui perpetua corrumpit urbanitas no. Pri in verear sententiae, cu eripuit graecis vim.Lorem ipsum dolor sit amet</p>
						</div>
					</div>
					</a>
				</div>
				<div class="contentTypeDiv ani_to_top div3 col-md-4">
					<a href="/portfolio-main#portfolioMovies">
					<img src="images/Untitled-2.png" alt="">
					<p class="front">Motion Pictures</p>
					<div class="back">
						<div class="back-text-cont">
							<h3>Motion Pictures</h3>
							<p>Lorem ipsum dolor sit amet, ea habemus democritum rationibus vix. Qui perpetua corrumpit urbanitas no. Pri in verear sententiae, cu eripuit graecis vim.Lorem ipsum dolor sit amet</p>
						</div>
					</div>
					</a>
				</div>	
			</section>
			<section class="dispContRow">
				<div class="contentTypeDiv ani_to_top div4 col-md-4">
					<a href="/portfolio-main#portfolioDigital">
					<img src="images/Untitled-4.png" alt="">
					<p class="front">Network18 Digital</p>
					<div class="back">
						<div class="back-text-cont">
							<h3>Network18 Digital</h3>
							<p>Lorem ipsum dolor sit amet, ea habemus democritum rationibus vix. Qui perpetua corrumpit urbanitas no. Pri in verear sententiae, cu eripuit graecis vim.Lorem ipsum dolor sit amet</p>
						</div>
					</div>
					</a>
				</div>
				<div class="contentTypeDiv ani_to_top div5 col-md-4">
					<a href="/portfolio-main#portfolioPublishing">
					<img src="images/Untitled-7.png" alt="">
					<p class="front">Publishing</p>
					<div class="back">
						<div class="back-text-cont"> 
							<h3>Publishing</h3>
							<p>Lorem ipsum dolor sit amet, ea habemus democritum rationibus vix. Qui perpetua corrumpit urbanitas no. Pri in verear sententiae, cu eripuit graecis vim.Lorem ipsum dolor sit amet</p>
						</div>
					</div>
					</a>
				</div>
				<div class="contentTypeDiv ani_to_top div6 col-md-4">
					<a href="/portfolio-main#portfolioDistribution">
					<img src="images/Untitled-6.png" alt="">
					<p class="front">Distribution</p>
					<div class="back">
						<div class="back-text-cont"> 
							<h3>Distribution</h3>
							<p>Lorem ipsum dolor sit amet, ea habemus democritum rationibus vix. Qui perpetua corrumpit urbanitas no. Pri in verear sententiae, cu eripuit graecis vim.Lorem ipsum dolor sit amet</p>
						</div>
					</div>
					</a>
				</div>
			</section>
		</div>

	</section>
</div>
<script>
	$(document).ready(function() {
		var maxWidth = 0;

		var windowHeight = $(window).height();
		// $('.mainBodyContainerFull').animate({
		// 	paddingTop: 0+'px',
		// 	},
		// 	1000, function() {

		// });
		$('.contentTypeDiv').css({
			height: ((windowHeight-75)/2)-30+'px',
			maxHeight: ((windowHeight-75)/2)-30+'px',
		});
	});
</script>
