
<div class="mainBodyContainerFull mainBodyPortContainerFull" style="padding: 0; height: 100vh; padding-top: 75px;">
	<section class="clearAfter" style="height:100%;">
		<div class="container-fluid portMainCont" style="">
			<section class="dispContRow ">
				<div class="contentTypeDiv ani_to_top div1 col-md-4">
					<a href="/portfolio-main#portfolioNews">
					<img src="images/Untitled-5.png" alt="">
					<p class="front">News</p>
					<div class="back">
						<div class="back-text-cont"> 
							<h3>News</h3>
							<p>Delivering latest and most accurate news across regions through our 20+ news channels. Creating new touch-points to connect with audiences in their language</p>
						</div>
					</div>
					</a>
				</div>
				<div class="contentTypeDiv ani_to_top div2 col-md-4">
					<a href="/portfolio-main#portfolioEntertainment">
					<img src="images/Untitled-1.png" alt="">
					<p class="front">Entertainment</p>
					<div class="back">
						<div class="back-text-cont"> 
							<h3>Entertainment</h3>
							<p>Curating experiences through a host of entertainment channels using innovative programming</p>
						</div>
					</div>
					</a>
				</div>
				
				<div class="contentTypeDiv ani_to_top div4 col-md-4">
					<a href="/portfolio-main#portfolioDigital">
					<img src="images/Untitled-4.png" alt="">
					<p class="front">Network18 Digital</p>
					<div class="back">
						<div class="back-text-cont">
							<h3>Network18 Digital</h3>
							<p>Empowering digitally to align ourselves to new age aspirations of consumers</p>
						</div>
					</div>
					</a>
				</div>	
			</section>
			<section class="dispContRow ">
				
				<div class="contentTypeDiv ani_to_top div5 col-md-4">
					<a href="/portfolio-main#portfolioPublishing">
					<img src="images/Untitled-7.png" alt="">
					<p class="front">Publishing</p>
					<div class="back">
						<div class="back-text-cont"> 
							<h3>Publishing</h3>
							<p>Offering varied content across different genres</p>
						</div>
					</div>
					</a>
				</div>
				<div class="contentTypeDiv ani_to_top div3 col-md-4">
					<a href="/portfolio-main#portfolioMovies">
					<img src="images/Untitled-2.png" alt="">
					<p class="front">Motion Pictures</p>
					<div class="back">
						<div class="back-text-cont">
							<h3>Motion Pictures</h3>
							<p>Shaping the new Indian film industry through differentiated and concept driven cinema</p>
						</div>
					</div>
					</a>
				</div>
				<div class="contentTypeDiv ani_to_top div6 col-md-4">
					<a href="/portfolio-main#portfolioDistribution">
					<img src="images/Untitled-6.png" alt="">
					<p class="front">Distribution</p>
					<div class="back">
						<div class="back-text-cont"> 
							<h3>Distribution</h3>
							<p>Spreading our wings across India and the globe</p>
						</div>
					</div>
					</a>
				</div>

			</section>
			<section class="dispContRow mobVr">
				<div class="contentTypeDiv div1 col-md-4">
					<a href="/portfolio-main#portfolioNews">
					<img src="images/Untitled-5.png" alt="">
					<p class="front">News</p>
					<div class="back">
						<div class="back-text-cont"> 
							<h3>News</h3>
							<p>Delivering latest and most accurate news across regions through our 20+ news channels. Creating new touch-points to connect with audiences in their language</p>
						</div>
					</div>
					</a>
				</div>
				<div class="contentTypeDiv div2 col-md-4">
					<a href="/portfolio-main#portfolioEntertainment">
					<img src="images/Untitled-1.png" alt="">
					<p class="front">Entertainment</p>
					<div class="back">
						<div class="back-text-cont"> 
							<h3>Entertainment</h3>
							<p>Curating experiences through a host of entertainment channels using innovative programming</p>
						</div>
					</div>
					</a>
				</div>
				
				<div class="contentTypeDiv div4 col-md-4">
					<a href="/portfolio-main#portfolioDigital">
					<img src="images/Untitled-4.png" alt="">
					<p class="front">Network18 Digital</p>
					<div class="back">
						<div class="back-text-cont">
							<h3>Network18 Digital</h3>
							<p>Empowering digitally to align ourselves to new age aspirations of consumers</p>
						</div>
					</div>
					</a>
				</div>	
			
				
				<div class="contentTypeDiv div5 col-md-4">
					<a href="/portfolio-main#portfolioPublishing">
					<img src="images/Untitled-7.png" alt="">
					<p class="front">Publishing</p>
					<div class="back">
						<div class="back-text-cont"> 
							<h3>Publishing</h3>
							<p>Offering varied content across different genres</p>
						</div>
					</div>
					</a>
				</div>
				<div class="contentTypeDiv div3 col-md-4">
					<a href="/portfolio-main#portfolioMovies">
					<img src="images/Untitled-2.png" alt="">
					<p class="front">Motion Pictures</p>
					<div class="back">
						<div class="back-text-cont">
							<h3>Motion Pictures</h3>
							<p>Shaping the new Indian film industry through differentiated and concept driven cinema</p>
						</div>
					</div>
					</a>
				</div>
				<div class="contentTypeDiv div6 col-md-4">
					<a href="/portfolio-main#portfolioDistribution">
					<img src="images/Untitled-6.png" alt="">
					<p class="front">Distribution</p>
					<div class="back">
						<div class="back-text-cont"> 
							<h3>Distribution</h3>
							<p>Spreading our wings across India and the globe</p>
						</div>
					</div>
					</a>
				</div>

			</section>
		</div>

	</section>
</div>
<script>
	$(document).ready(function() {
		var maxWidth = 0;

		var windowHeight = $(window).height();
		var windowwidth = $(window).width();
		// $('.mainBodyContainerFull').animate({
		// 	paddingTop: 0+'px',
		// 	},
		// 	1000, function() {

		// });
		$('.contentTypeDiv').css({
			height: ((windowHeight-75)/2)-30+'px',
			maxHeight: ((windowHeight-75)/2)-30+'px',
		});
	});
</script>
