
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Press Release 29.06.2009</p>
							<a href="/reports/reportstv18/Notices Events/Press Release/2008-2009/IBN18_Press Release_29.06.2009.doc.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Press Release 28.01.2009</p>
							<a href="/reports/reportstv18/Notices Events/Press Release/2008-2009/ibn18_PressRelease_28.01.2009.doc.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Press Release 31.10.2008</p>
							<a href="/reports/reportstv18/Notices Events/Press Release/2008-2009/ibn18_ Press Release_31.10.2008.doc.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Press Release 28.07.2008</p>
							<a href="/reports/reportstv18/Notices Events/Press Release/2008-2009/ibn18_ Press Release_28.07.2008.doc.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>