<ol class="list-group">
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Appointment of Additional Director (Independent)</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18AppointmentofDirector16072019.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Related Party Transactions for the half year ended March 31, 2019</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18RPTDisclosure31032019.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Scheme of Merger by Absorption approved by NCLT, Mumbai bench</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18SchemeofMerger.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Appointment of Director and Managing Director</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18appointmentofDirectorandManagingDirector.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Change in email id of the Company</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18Intimationforchangeinemailid.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Appointment of Director and Resignation of Manager</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18Intimation.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Resignation of Director</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18_Resignation of Director.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Scheme of Merger by Absorption</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18StockExchangeIntimationScheme.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Completion of purchase of 1% Equity Shares and Control of Viacom18 Media Private Limited</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18_Stockexchange intimation-Viacom18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Acquisition of Equity Shares and Control of Viacom18 Media Private limited</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18_Disclosure of information.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Terms and Conditions of Appointment of Independent Directors</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/Terms and Conditions of appointment of Independent Directors.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Change in Directors</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18AppointmentofDirectors.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>

	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Scheme of Amalgamation</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18StockExchangeIntimationSchemeofAmalgamation.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Intimation for Shifting of the Registered Office of the Company</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18SEIntimationShiftingofRegisteredoffice.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Director's Resignation</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/Directors Resignation1.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>

	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Information in accordance with SEBI Circular 17.01.2013</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/Information in accordence with SEBI Circular dated January 17,2013 -Stock Scheme.pdf.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Split of Cost acquisition of shares in TV18 India Ltd 10.06.2011</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/Notice of Split of Cost acquisition of shares in TV18 India Ltd_10.06.2011.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Call Money Notice 28.06.2010</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/Call Money Notice_28.06.2010.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice to shareholders for forfeiture of partly paid up shares issued under Right Issue</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/Notice to shareholders for forfeiture of partly paid up shares issued under Right Issue.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>

</ol>