<ol class="list-group">
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Letter of Offer - Rights Issue 31.08.2012</p>
		<a href="/reports/reportstv18/Notices Events/Offer Documents/Letter of Offer - Rights Issue  2012.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Letter of Offer - Rights Issue 19.02.2010</p>
		<a href="/reports/reportstv18/Notices Events/Offer Documents/Letter of Offer - Rights Issue - 2010.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">IPO Prospectus 22.01.2007</p>
		<a href="/reports/reportstv18/Notices Events/Offer Documents/IPO Prospectus.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
</ol>