
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Credit Rating-India Ratings (a Fitch Group Company) – September 16, 2019</p>
							<a href="/reports/reportstv18/Notices Events/Other Notices/TV18CreditRatingLetter16092019.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Revised Credit Rating_ICRA – January 28, 2019</p>
							<a href="/reports/reportstv18/Notices Events/Other Notices/TV18ICRACreditRating.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Revised Credit Rating- February 14,2018</p>
							<a href="/reports/reportstv18/Notices Events/Other Notices/TV18_Revised Credit Rating_14.02.2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Revised Credit Rating- February 12, 2018</p>
							<a href="/reports/reportstv18/Notices Events/Other Notices/TV18Carecreditrating_12.02.2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Revised Credit Rating- October18,2017</p>
							<a href="/reports/reportstv18/Notices Events/Other Notices/TV18Carecreditrating_18.10.2017.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Intimation for Credit Rating</p>
							<a href="/reports/reportstv18/Notices Events/Other Notices/Intimation for Credit Rating.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Credit Rating</p>
							<a href="/reports/reportstv18/Notices Events/Other Notices/TV18_Credit Rating Intimation .pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Update on Credit Rating for Fixed Deposit Program</p>
							<a href="/reports/reportstv18/Notices Events/Other Notices/Update on Credit Rating for Fixed Deposit Programm and Bank.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>