
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Media Release - TV18 &amp; CNN Renew Partnership - Plans for refreshed CNNIBN</p>
							<a href="/reports/reportstv18/Notices Events/Press Release/2015-2016/TV18-Media Release.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">MEDIA STATEMENT FROM TV 18 AND CNN</p>
							<a href="/reports/reportstv18/Notices Events/Press Release/2015-2016/MEDIA STATEMENT FROM TV 18 AND CNN.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>