
					<ol class="list-group">
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Business Responsibility Report – 2018-19</p>
							<a href="/reports/reportstv18/Notices%20Events/business/TV18_BRR_2018-19.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Business Responsibility Report – 2017-18</p>
							<a href="/reports/reportstv18/Notices Events/business/TV18-BRR.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
						<li class="list-group-item transUp" du-parallax y="transY">
							<p class="investor_title_text">Business Responsibility Report – 2016-17</p>
							<a href="/reports/reportstv18/Notices Events/business/TV18_BRR_2016-17.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
						</li>
					</ol>