<ol class="list-group">
	<li class="list-group-item list-group-itemFull transUp" du-parallax y="transY">
		<p class="investor_title_text">Access Download to claim refund from IEPF Authority <sub>[to be used by shareholders/claimants whose shares and/or dividend/other amounts have been transferred by the Company to Investor Education and Protection Fund]</sub></p>
		<a href="http://www.iepf.gov.in/IEPF/refund.html" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
</ol>
<ol class="list-group list-group-alt">
	<li class="list-group-item transUp flexVer" du-parallax y="transY">
		<p class="investor_title_text">UNCLAIMED INTEREST ON MATURED FIXED DEPOSITS</p>
		<div class="input-control">
			<input type="text" class="form-control" ng-model="inputData.tv18iepfUI" placeholder="Enter your DP ID Client ID / Folio No.">
			<button class="btn bordDwlBtn active" ng-click="UNPAIDINTEREST()">SUBMIT</button>

		</div>
	</li>
</ol>
<div class="col-md-12" ng-if="memberInfoUI">

	<table class="table table-striped table-bordered">
		<thead>
			<tr class="danger">
				<th>Full Name</th>
				<th>Portfolio Number</th>
				<th>Address</th>
				<th>AMOUNT DUE</th>
			</tr>
		</thead>
		<tbody>
			<tr class="">
				<td>{{memberInfoUI.Investor_First_Name}} {{memberInfoUI.Investor_Middle_Name}} {{memberInfoUI.Investor_Last_Name}}</td>
				<td>{{memberInfoUI.Folio_Number}}</td>
				<td>{{memberInfoUI.Address}}</td>
				<td>{{memberInfoUI.Amount_Due}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="col-md-12" ng-if="!memberInfoUI && memberInfoUINull">
	<p class="text-danger">{{memberInfoUINull}}</p>
</div>
<ol class="list-group list-group-alt">
	<li class="list-group-item transUp flexVer" du-parallax y="transY">
		<p class="investor_title_text">UNCLAIMED AMOUNT OF MATURED FIXED DEPOSITS</p>
		<div class="input-control">
			<input type="text" class="form-control" ng-model="inputData.tv18iepfUA" placeholder="Enter your DP ID Client ID / Folio No.">
			<button class="btn bordDwlBtn active" ng-click="UNPAIDAMOUNT()">SUBMIT</button>

		</div>
	</li>
</ol>
<div class="col-md-12" ng-if="memberInfoUA">

	<table class="table table-striped table-bordered">
		<thead>
			<tr class="danger">
				<th>Full Name</th>
				<th>Portfolio Number</th>
				<th>Address</th>
				<th>AMOUNT DUE</th>
			</tr>
		</thead>
		<tbody>
			<tr class="">
				<td>{{memberInfoUA.Investor_First_Name}} {{memberInfoUA.Investor_Middle_Name}} {{memberInfoUA.Investor_Last_Name}}</td>
				<td>{{memberInfoUA.Folio_Number}}</td>
				<td>{{memberInfoUA.Address}}</td>
				<td>{{memberInfoUA.Amount_Due}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="col-md-12" ng-if="!memberInfoUA && memberInfoUANull">
	<p class="text-danger">{{memberInfoUANull}}</p>
</div>