<ol class="list-group">
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of 14th Annual General Meeting, Cut-Off date and E-voting published in English Newspaper – Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-AGMNotice-FinancialExpress.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of 14th Annual General Meeting, Cut-Off date and E-voting published in Marathi Newspaper – Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-AGMNotice-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter ended June 30, 2019 published in English Newspaper Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Financials-30.06.2019-FE.PDF"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter ended June 30, 2019 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Financials-30.06.2019-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on July 16, 2019 published in English Newspaper – Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-BMNotice-FE.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on July 16, 2019  published in Marathi Newspaper – Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-BMNotice-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Audited Financial Results for the quarter and year ended March 31, 2019 published in English Newspaper Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Financials_31032019-FE.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Audited Financial Results for the quarter and year ended March 31, 2019 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Financials_31032019_Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on April 15, 2019 published in English Newspaper – Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18_Notice_FE_09042019.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on April 15, 2019  published in Marathi Newspaper – Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18_Notice_Navshakti_09042019.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and nine months ended December 31, 2018 published in English Newspaper Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Results-31.12.2018-FE.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and nine months ended December 31, 2018 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Results-31.12.2018-Navshakti.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on January 15, 2019 published in English Newspaper – Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Board Meeting Notice-FE_01_15_2019.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on January 15, 2019  published in Marathi Newspaper – Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Board Meeting Notice-Navshakti_01_15_2019.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and half year ended September 30, 2018 published in English Newspaper Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Financials-FE-15.10.2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and half year ended September 30, 2018 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Financials-Navshakti-15.102018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on October 15, 2018 published in English Newspaper – Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV8-BM Notice-FE-15 10 2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on October 15, 2018 published in Marathi Newspaper – Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-BM Notice-Navshakti-15 10 2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Revised Date of 13th Annual General Meeting published in in English Newspaper - THE TIMES OF INDIA</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-New date for AGM-TOI-18.08.2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Revised Date of 13th Annual General Meeting  published in Marathi Newspaper - Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-New date for AGM-Navshakti-18.08.2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Postponement of 13th Annual General Meeting  published in English Newspaper - THE TIMES OF INDIA </p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Postponment of AGM-TOI-17.08.2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Postponement of 13th Annual General Meeting  published in Marathi Newspaper - Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Postponment of AGM-Navshakti-17.08.2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter ended June 30, 2018 published in English Newspaper Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Financial Results-FE.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter ended June 30, 2018 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Financial Results-Navshakti.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of 13th Annual General Meeting, Book Closure and E-voting published in English Newspaper – Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-AGM Notice-FE.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of 13th  Annual General Meeting, Book Closure and E-voting published in Marathi Newspaper – Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-AGM Notice-Navshakti.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on July 24, 2018 published in English Newspaper-Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-BM Notice-FE.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on July 24, 2018 published in Marathi Newspaper-Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-BM Notice-Navshaktii.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Audited Financial Results for the quarter and year ended March 31, 2018 published in English Newspaper Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18 Results-31.03.2018-FE.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Audited Financial Results for the quarter and year ended March 31, 2018 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18 Results-31.03.2018-Navshakti.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on April 24, 2018 published in English Newspaper-Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/FE-TV18 Broadcast.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on April 24, 2018 published in Marathi Newspaper-Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/Navshakti-TV18 Broadcast.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and nine months ended December 31, 2017 published in English Newspaper Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-FE.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and nine months ended December 31, 2017 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Navshakti.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on January 16, 2018 published in English Newspaper-Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-BM Notice-FE.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on January 16, 2018 published in Marathi Newspaper-Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-BM Notice-Navshakti.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and half year ended September 30, 2017 published in English Newspaper Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Financials-FE.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and half year ended September 30, 2017 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Financials-Navshakti.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on October 11, 2017 published in English Newspaper-Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/Notice of Board Meeting Scheduled on October 11, 2017 published in English Newspaper-Financial Express.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on October 11, 2017 published in Marathi Newspaper-Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/Notice of Board Meeting Scheduled on October 11, 2017 published in Marathi Newspaper-Navshakti.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Postal Ballot published in Marathi Newspaper – Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18 Broadcast-Postal Ballot Notice-Navshakti.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Postal Ballot published in English Newspaper – Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18 Broadcast-Postal Ballot Notice-FE.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of 12th Annual General Meeting, Book Closure and E-voting published in Marathi Newspaper – Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18 Broadcast-AGM Notice-Navshakti.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of 12th Annual General Meeting, Book Closure and E-voting published in English Newspaper – Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18 Broadcast-AGM Notice-FE.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter ended June 30, 2017 published in English Newspaper Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18 Results FE.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter ended June 30, 2017 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18 Results-NavshaktI.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on July 18, 2017 published in English Newspaper-Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-BM Newspaper ad-Financial Express.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on July 18, 2017 published in Marathi Newspaper-Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-BM Newspaper ad-Navshakti.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Audited Financial Results for the quarter and year ended March 31, 2017 published in English Newspaper Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18 Results-FE.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Audited Financial Results for the quarter and year ended March 31, 2017 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18 Results-Navshakti.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice Board Meeting Scheduled on April 19, 2017 published in English Newspaper-Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-FE.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice Board Meeting Scheduled on April 19, 2017 published in Marathi Newspaper-Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/Navshakti-TV18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and nine months ended December 31, 2016 published in English Newspaper Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18 December Results 2016-FE.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and nine months ended December 31, 2016 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18 December Results 2016-Navshakti.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice Board Meeting Scheduled on January 14, 2017 published in English Newspaper-Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Board Meeting Notice-English.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice Board Meeting Scheduled on January 14, 2017 published in Marathi Newspaper-Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18-Board Meeting Notice-Marathi.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and half year ended September 30, 2016 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/Navshakti-TV18-September Results-2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text"> Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and half year ended September 30, 2016 published in English Newspaper Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/FE-TV18 September Results-2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text"> TV18 Intimation of Board Meeting 14.10.2016</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18_ Intimation of Board Meeting_14.10.2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text"> Extract of Standalone &amp; Consolidated Unaudited Financial  Results for the quarter ended June 30, 2016 published in English Newspaper Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18 Results_30.06.2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone &amp; Consolidated Unaudited Financial Results for the quarter ended June 30, 2016 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/Results 30.06.2016_in Navshakti.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18 Intimation of Board Meeting 13.07.2016</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18 Intimation of Board Meeting 13.07.2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Audited Results for the quarter and year ended March 31,2016 published in Hindi News Paper –Jansatta</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18FinancialResultsforthequarterandyearended31032016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Audited Results for the quarter and year ended March 31,2016 published in English News Paper –Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18FinancialResultsforthequarterandyearended31032016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18_Change of RTA_Published in English Newspaper-Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18_Change of RTA.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18_Notice of Board Meeting Scheduled on April 20, 2016_Published in English Newspaper-Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18_BM Notice News Paper Advertisement.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18_Notice of Board Meeting Scheduled on April 20, 2016_Published in Hindi Newspaper-Jansatta</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18_BM Notice News Paper Advertisement.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18_Extract of Standalone &amp; Consolidated UFR for the quarter &amp; Nine months ended December 31 2015 published in English Newspaper_Financial Expr</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18_Extract of Standalone &amp; Consolidated UFR for the quarter &amp; Nine months ended December 31 2015 published in English Newspaper_Financial Expr.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18_Extract of Standalone &amp; Consolidated UFR for the quarter &amp; Nine months ended December 31 2015 published in Hindi Newspaper_Jansatta</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18_Extract of Standalone &amp; Consolidated UFR for the quarter &amp; Nine months ended December 31 2015 published in Hindi Newspaper_Jansatta.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18_Notice of Board Meeting Scheduled on  January 15, 2016_Published in English Newspaper-Financial Express</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18_Notice of Board Meeting Scheduled on  January 15, 2016_Published in English Newspaper-Financial Express -.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18_Notice of Board Meeting Scheduled on  January 15, 2016_Published in Hindi Newspaper-Jansatta</p>
		<a href="/reports/reportstv18/Newspaper Advertisement/TV18_Notice of Board Meeting Scheduled on  January 15, 2016_Published in Hindi Newspaper-Jansatta_.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
</ol>