<ol class="list-group">
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18-AGM Scrutinizer Report 2019</p>
		<a href="/reports/reportstv18/Notices Events/TV18_AGMScrutinizerReport-201913092019.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18-Gist of Proceedings-2019</p>
		<a href="/reports/reportstv18/Notices Events/TV18_GistofProceedings_201913092019.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18-AGM Voting Results 2019</p>
		<a href="/reports/reportstv18/Notices Events/TV18-AGMVotingResults-201913092019.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice under Section 160 of the Companies Act, 2013</p>
		<a href="/reports/reportstv18/Notices Events/TV18Notice-160upd.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">14th AGM Notice and E-voting instructions 2019</p>
		<a href="/reports/reportstv18/Notices Events/TV18-AGMNotice201924.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Annual Return 2018-19</p>
		<a href="/reports/reportstv18/Notices Events/ExtractofAnnualReturn-2018-19.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Annual Return 2017-18</p>
		<a href="/reports/reportstv18/Notices Events/ExtractofAnnualReturn-2017-18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Book Closure Notice for 12th Annual General Meeting</p>
		<a href="/reports/reportstv18/Notices Events/Book Closure Notice for 12th Annual General Meeting.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice under section 160-11th AGM</p>
		<a href="/reports/reportstv18/Notices Events/Notice under section 160-11th AGM.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Book Closure Notice for 13th  Annual General Meeting</p>
		<a href="/reports/reportstv18/Notices Events/TV18_Intimaiton_AGM Book Clsoure.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18-Gist of Proceedings-2018</p>
		<a href="/reports/reportstv18/Notices Events/TV18-Gist of Proceedings-2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18-AGM Voting Results-2018</p>
		<a href="/reports/reportstv18/Notices Events/TV18-AGM Voting Results-2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18-AGM Scrutinizer Report-2018</p>
		<a href="/reports/reportstv18/Notices Events/TV18-AGM Scrutinizer Report-2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Revised date of 13th Annual General Meeting</p>
		<a href="/reports/reportstv18/Notices Events/Revised_AGMdate_TV18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Postponement of 13th Annual General Meeting</p>
		<a href="/reports/reportstv18/Notices Events/Notice_of_Postponement_of_13th_Annual_General_Meeting.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice under section 160 of the Companies Act, 2013_TV18</p>
		<a href="/reports/reportstv18/Notices Events/TV18_160 Letter.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18-13th AGM-e voting instructions-2018</p>
		<a href="/reports/reportstv18/Notices Events/TV18-13th AGM-e-voting_Instructions-2018.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18 Gist of AGM Proceedings</p>
		<a href="/reports/reportstv18/Notices Events/TV18-Gist of AGM Proceedings.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18 Consolidated Scrutinizer Report</p>
		<a href="/reports/reportstv18/Notices Events/TV18-Consolidated Scrutinizer Report.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18 AGM Voting Results</p>
		<a href="/reports/reportstv18/Notices Events/TV18 AGM Voting Results.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice under section 160 of the Companies Act, 2013</p>
		<a href="/reports/reportstv18/Notices Events/TV18_160_ App of Directors KRRaja &amp; PMS Prasad.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18 12th AGM Notice</p>
		<a href="/reports/reportstv18/Notices Events/TV1812thAGMNotice1.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18_ Voting Results _2016</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18-AGM2016-Voting results.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18_Consolidated Scrutinizer Report_AGM 2016</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18_Consolidated Scrutinizer Report_AGM 2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18_11th_AGM_Notice_&amp;_e-voting_Instruction_2016</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18_11th_AGM_Notice_&amp;_e-voting_Instruction_2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">ESOP Disclosure_2016</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/ESOP Dislosures TV18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Newspaper Ad-Notice of 11th AGM_e-voting_Book Closure-2016</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/Newspaper Ad-Notice of 11th AGM_e-voting_Book Closure-2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">AGM-September 24, 2015-Results of E-Voting</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18-10th-AGM-Voting-results.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">AGM-September 24, 2015-Scrutinizer Report (Combined)E-Voting and Poll</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18-Consolidated Scrutinizer Report-Voting10th AGM.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">E Voting Notice Book Closure Postal Ballot Notice TV18</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/Paper_Ad_on_E_voting_Notice_Book_Closure_Postal_Ballot_Notice_TV18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Book Closure Notice TV18 </p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/Book Closure Notice TV18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice Under Section 160 of the Companies Act, 2013 TV18 </p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/Notice  Under Section 160 of the Companies Act, 2013.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">ESOP Dislosures TV18 </p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/Disclosure-as-on-March312015.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Voting through electronic means</p>
		<a href="/reports/reportstv18/Notices Events/Other Notices/TV18_10th_AGM_e_voting_Notice_05_08_2015.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Annual General Meeting - September 30, 2014 - Scrutinizer's Report on E-Voting</p>
		<a href="/reports/reportstv18/2014/Annual General Meeting - September 30, 2014 - Scrutinizer's Report on E-Voting.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Annual General Meeting - September 30, 2014 - Scrutinizer's Report (Combined) E-Voting and Poll</p>
		<a href="/reports/reportstv18/2014/Annual General Meeting - September 30, 2014  - Scrutinizer's Report (Combined) E-Voting and Poll.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Voting through Electronic means</p>
		<a href="/reports/reportstv18/2014/evoting_notice.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Book Closure Notice - TV18</p>
		<a href="/reports/reportstv18/2014/Book Closure Notice - TV18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice Under Section 160 of CA 2013</p>
		<a href="/reports/reportstv18/2014/Notice under Section 160 of CA2013.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
</ol>