<ol class="list-group">
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18 Postal Ballot Results 2017</p>
		<a href="/reports/reportstv18/Postal Ballot Notice/TV18PostalBallotResults.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18 Scrutinizer Report Postal Ballot 2017</p>
		<a href="/reports/reportstv18/Postal Ballot Notice/TV18_Scrutinizer Report_Postal Ballot 2017 (1).pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18 Postal Ballot Notice and Form dated 28.08.2017</p>
		<a href="/reports/reportstv18/Postal Ballot Notice/TV18 Postal Ballot Notice and Form dated August 28 2017.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Postal Ballot Results dated 30.09.2015</p>
		<a href="/reports/reportstv18/Postal Ballot Notice/Postal Ballot Result-TV18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Scrutinizer Report dated 30.09.2015</p>
		<a href="/reports/reportstv18/Postal Ballot Notice/Scrutnizer Report_Postal Ballot_TV18 Broadcast Limited.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Postal Ballot Notice dated 05.08.2015</p>
		<a href="/reports/reportstv18/Postal Ballot Notice/TV18_Postal_Ballot_Notice_05_08_2015.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Postal Ballot Results dated 06.07.2013</p>
		<a href="/reports/reportstv18/Financial Results/2013-2014/Postal Ballot Results dated 06.07.2013.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Postal Ballot Notice dated 13.05.2013</p>
		<a href="/reports/reportstv18/Financial Results/2012-2013/PostalBallotNoticedated13.05.2013.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18 Broadcast Postal Ballot Notice May 24 2012</p>
		<a href="/reports/reportstv18/Postal Ballot Notice/TV18 Broadcast Postal Ballot Notice May 24 2012.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18 Broadcast Postal Ballot Notice Jan 2012</p>
		<a href="/reports/reportstv18/Postal Ballot Notice/TV18 Broadcast Postal Ballot Notice Jan 2012.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
</ol>