<ol class="list-group">
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Homeshop18 &amp; Shop CJ combine to form India’s largest TV Home Shopping Platform</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Shopcjnew.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Press Release regarding Mr. Parigi, Group CEO, Network18, moving to a new advisory role – dated September 25, 2015 </p>
		<a href="/reports/reports/Notices and Events/Press Release/N18-Press-Release-mr-parigi-advisory-role.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Network18 Profitably Divests Yellow Pages and AskMe Businesses</p>
		<a href="/reports/reports/Notices and Events/Press Release/Press-release-YP-and-Askme.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">SAIF Partners, Accel Partners and Network18 invest in BookMyShow, value Bigtree Entertainment Pvt. Ltd.(BookMyShow) at over Rs. 1,000 crore.</p>
		<a href="/reports/reports/Notices and Events/Press Release/press-release-book-my-show.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Press Release dated October 23, 2013: GS Home Shopping Leads Funding Round in HomeShop18 Company Raises USD 14 Million of Growth Capital</p>
		<a href="/reports/reports/Notices and Events/Press Release/23 Oct 2013 HS18- Press Release Final.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Press Release 16-July-2013 Bookmyshow.com Enters Into a Strategic Partnership with PVR Cinemas</p>
		<a href="/reports/reports/16-July-2013-BMS-PVR-Press-Release.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Press Release 23-May-2013 Network18 Monetises its Investment in Webchutney</p>
		<a href="/reports/reports/Network18PressReleaseOnWebchutneyDivestment_23052013.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Press Release 03-Jan-2012</p>
		<a href="/reports/reports/Notices and Events/Press Release/Press Release 03-Jan-2012.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Press Release 7-July7-2010</p>
		<a href="/reports/reports/Notices and Events/Press Release/Press Release - July7, 2010.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Press Release 13-Nov-2009</p>
		<a href="/reports/reports/Notices and Events/Press Release/Press Release 13-Nov-2009.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Press Release 2-Mar-2009</p>
		<a href="/reports/reports/Notices and Events/Press Release/Press Release 2-Mar-2009.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Press Release 22-May-2007</p>
		<a href="/reports/reports/Notices and Events/Press Release/Press Release - May-22-2007.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
</ol>