<ol class="list-group">
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Network18-AGM Scrutinizer Report 2019</p>
		<a href="/reports/reports/Notices and Events/N18_scrutinizerreport13092019.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Network18-Gist of AGM Proceedings 2019</p>
		<a href="/reports/reports/Notices and Events/Network18proceedings13092019.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Network18-AGM Voting Results 2019</p>
		<a href="/reports/reports/Notices and Events/NW18VotingResults1109201913092019.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice under Section 160 of the Companies Act, 2013</p>
		<a href="/reports/reports/Notices and Events/NW18Notice-160upd.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">24th AGM Notice and E-voting instructions 2019</p>
		<a href="/reports/reports/Notices and Events/NW18-AGMNotice201924.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Annual Return 2018-19</p>
		<a href="/reports/reports/Notices and Events/ExtractofAnnualReturn-2018-19.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Annual Return 2017-18</p>
		<a href="/reports/reports/Notices and Events/ExtractofAnnualReturn-2017-18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Network18-Gist of Proceedings-2018</p>
		<a href="/reports/reports/Notices and Events/Network18-Gist of Proceedings-2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Network18-AGM Voting Results-2018</p>
		<a href="/reports/reports/Notices and Events/Network18-AGM Voting Results-2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Network18-AGM Scrutinizer Report-2018</p>
		<a href="/reports/reports/Notices and Events/Network18-AGM Scrutinizer Report-2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Revised date of 23rd Annual General Meeting</p>
		<a href="/reports/reports/Notices and Events/Revised_AGMdate_Network18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Postponement of 23rd Annual General Meeting</p>
		<a href="/reports/reports/Notices and Events/Network18-Postponement of AGM.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice under section 160 of the Companies Act, 2013_Network18</p>
		<a href="/reports/reports/Notices and Events/NW18 - letter 160.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Book Closure Notice for 23rd Annual General Meeting</p>
		<a href="/reports/reports/Notices and Events/NW18Stockexchangeletter.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Network18-23rd AGM Notice  & e-voting_Instructions-2018</p>
		<a href="/reports/reports/Notices and Events/Network 18-23rd AGM-e voting_Instructions-2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Network18-Gist of AGM Proceedings</p>
		<a href="/reports/reports/Notices and Events/Network18-Gist of AGM Proceedings.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Network18-AGM Scrutinizer Report</p>
		<a href="/reports/reports/Notices and Events/Network18-AGM Scrutinizer Report.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Network18 voting result</p>
		<a href="/reports/reports/Notices and Events/Network18votingresult.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice under section 160 of the Companies Act , 2013_Network18</p>
		<a href="/reports/reports/Notices and Events/SCPL Letters Section 160 - June 2017.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Network18 22nd AGM Notice</p>
		<a href="/reports/reports/Notices and Events/Network18 22nd AGM Notice_1.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Network18_Voting Results</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Network18_Voting Results.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Network18_Consolidated Scrutinizer Report_AGM 2016</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Network18_Consolidated Scrutinizer Report_AGM 2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Network18 21st AGM Notice &amp; e-voting Instruction_2016</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Network18_21st_AGM_Notice_&amp;_e-voting_Instruction_2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice under section 160 of the Companies Act, 2013_Network18</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Letter under Section_160_2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">ESOP Disclosure March 31 2016</p>
		<a href="/reports/reports/Notices and Events/Other Notices/ESOP Disclosure_Network18_March 312c 2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">AGM-September 24, 2015-Results of E-Voting</p>
		<a href="/reports/reports/Notices and Events/Other Notices/eVoting Results_Network18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">AGM-September 24, 2015-Scrutinizer Report (Combined)E-Voting and Poll</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Consolidated Scrutinizer report-Network18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">E Voting Notice Book Closure Postal Ballot Notice Network18</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Paper Advt _Book Closure_Evoting_Postal Ballot Notice.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Book Closure Notice Network18</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Book Closure Notice_N18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice under section 160 of the Companies Act, 2013 Network18</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Notice_Sec_160_of_the_CA_2013_N18_2015.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">ESOP Disclosure March 31 2015</p>
		<a href="/reports/reports/Notices and Events/Other Notices/disclosure.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Voting through electronic means</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Network18_20th_AGM_e_voting_Notice_05_08_2015.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice under section 160 of CA 2013</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Notice-under-section-160-of-CA-2013.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Annual General Meeting - September 30, 2014 - Scrutinizer's Report on E-Voting</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Annual General Meeting - September 30, 2014 - Scrutinizer's Report on E-Voting.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Annual General Meeting - September 30, 2014  - Scrutinizer's Report (Combined) E-Voting and Poll</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Annual General Meeting - September 30, 2014  - Scrutinizer's Report (Combined) E-Voting and Poll.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">AGM 30-09-2014, Book Closure and e-voting</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Stock-Exchange-and-NSDL-CDSL-intimation.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Articles of Association proposed to be adopted at AGM Scheduled on September 30, 2014</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Proposed_AOA _Network18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
</ol>