<ol class="list-group">
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">e-voting communication for 23rd AGM</p>
		<a href="/reports/reports/Notices and Events/evoting/Network 18-23rd AGM-e voting_Instructions-2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">e-voting communication for 22nd AGM</p>
		<a href="/reports/reports/Notices and Events/evoting/Network18-AGM E-Voting Instructions_2017.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">e-voting communication for 21st AGM</p>
		<a href="/reports/reports/Notices and Events/evoting/Network18_21st_AGM_Notice_&_e-voting_Instruction_2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">e-voting communication for 20th AGM</p>
		<a href="/reports/reports/Notices and Events/evoting/evoting Notice_Network18 - 2015.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
</ol>