<ol class="list-group">
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of 24th Annual General Meeting, Cut-Off date and E-voting published in English Newspaper – Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-AGMNotice-FinancialExpress.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of 24th Annual General Meeting, Cut-Off date and E-voting published in Marathi Newspaper – Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-AGMNotice-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter ended June 30, 2019 published in English Newspaper Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-Financials-30.06.2019-FE.PDF"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter ended June 30, 2019 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-Financials-30.06.2019-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on July 16, 2019 published in English Newspaper – Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-BMNotice-FE.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on July 16, 2019  published in Marathi Newspaper – Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-BMNotice-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Audited Financial Results for the quarter and year ended March 31, 2019 published in English Newspaper Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18_Financials31032019_FE.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Audited Financial Results for the quarter and year ended March 31, 2019 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18_Financials31032019_Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on April 15, 2019 published in English Newspaper – Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18_Results_FE09042019.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on April 15, 2019  published in Marathi Newspaper – Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18_Results_Navshakti09042019.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>

	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and nine months ended December 31, 2018 published in English Newspaper Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18 Results-31.12.2018-FE.PDF"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and nine months ended December 31, 2018 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-Results-31.12.2018-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on January 15, 2019 published in English Newspaper – Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-Board Meeting Notice-FE_01_15_2019.PDF"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on January 15, 2019  published in Marathi Newspaper – Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-Board Meeting Notice-Navshakti_01_15_2019.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and half year ended September 30, 2018 published in English Newspaper Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-Financials-FE-15.102018.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and half year ended September 30, 2018 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-Financials-Navshakti-15.102018.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on October 15, 2018 published in English Newspaper – Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-BMNotice-FE-15102018.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on October 15, 2018 published in Marathi Newspaper – Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-BMNoticeNavshakti-15102018.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Revised Date of 23rd Annual General Meeting published in English Newspaper - THE TIMES OF INDIA</p>
		<a href="/reports/reports/Notices and Events/Network18-New date for AGM-TOI-18.08.2018.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Revised Date of 23rd Annual General Meeting published in Marathi Newspaper - Navshakti</p>
		<a href="/reports/reports/Notices and Events/Network18-New date for AGM-Navshakti-18.08.2018.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Postponement of 23rd Annual General Meeting  published in English Newspaper - THE TIMES OF INDIA</p>
		<a href="/reports/reports/Notices and Events/Network18-Postponment of AGM-TOI-17.08.2018.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Postponement of 23rd Annual General Meeting  published in Marathi Newspaper - Navshakti</p>
		<a href="/reports/reports/Notices and Events/Network18-Postponment of AGM-Navshakti-17.08.2018.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of 23rd Annual General Meeting, Book Closure and E-voting published in English Newspaper – Financial Express</p>
		<a href="/reports/reports/Notices and Events/Network18-AGM Notice-FE.PDF"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of 23rd Annual General Meeting, Book Closure and E-voting published in Marathi Newspaper – Navshakti</p>
		<a href="/reports/reports/Notices and Events/Network18-AGM Notice-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter ended June 30, 2018 published in English Newspaper Financial Express</p>
		<a href="/reports/reports/Notices and Events/Network18-Financial Results-FE.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter ended June 30, 2018 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reports/Notices and Events/Network18-Financial Results-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on July 24, 2018 published in English Newspaper-Financial Express</p>
		<a href="/reports/reports/Notices and Events/Network-BM Notice-FE.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on July 24, 2018 published in Marathi Newspaper-Navshakti</p>
		<a href="/reports/reports/Notices and Events/Network18-BM Notice-Navshaktii.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Audited Financial Results for the quarter and year ended March 31, 2018 published in English Newspaper Financial Express</p>
		<a href="/reports/reports/Notices and Events/NW18 Results-31.03.2018-FE.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Audited Financial Results for the quarter and year ended March 31, 2018 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reports/Notices and Events/NW18 Results-31.03.2018-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of 23rd Annual General Meeting, Book Closure and E-voting published in English Newspaper – Financial Express</p>
		<a href="/reports/reports/Notices and Events/Network18-AGM Notice-FE.PDF"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of 23rd Annual General Meeting, Book Closure and E-voting published in Marathi Newspaper – Navshakti</p>
		<a href="/reports/reports/Notices and Events/Network18-AGM Notice-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter ended June 30, 2018 published in English Newspaper Financial Express</p>
		<a href="/reports/reports/Notices and Events/Network18-Financial Results-FE.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter ended June 30, 2018 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reports/Notices and Events/Network18-Financial Results-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on July 24, 2018 published in English Newspaper-Financial Express</p>
		<a href="/reports/reports/Notices and Events/Network-BM Notice-FE.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on July 24, 2018 published in Marathi Newspaper-Navshakti</p>
		<a href="/reports/reports/Notices and Events/Network18-BM Notice-Navshaktii.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Audited Financial Results for the quarter and year ended March 31, 2018 published in English Newspaper Financial Express</p>
		<a href="/reports/reports/Notices and Events/NW18 Results-31.03.2018-FE.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Audited Financial Results for the quarter and year ended March 31, 2018 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reports/Notices and Events/NW18 Results-31.03.2018-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on April 24, 2018 published in English Newspaper-Financial Express</p>
		<a href="/reports/reports/Notices and Events/FE-Network18.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on April 24, 2018 published in Marathi Newspaper-Navshakti</p>
		<a href="/reports/reports/Notices and Events/Navshakti-Network18.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and nine months ended December 31, 2017 published in English Newspaper Financial Express</p>
		<a href="/reports/reports/Notices and Events/Network18-FE.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and nine months ended December 31, 2017 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reports/Notices and Events/Network18-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on January 16, 2018 published in English Newspaper-Financial Express</p>
		<a href="/reports/reports/Notices and Events/Network18-BM Notice-FE.PDF"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on January 16, 2018 published in Marathi Newspaper-Navshakti</p>
		<a href="/reports/reports/Notices and Events/Network18-BM Notice-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and half year ended September 30, 2017 published in English Newspaper Financial Express</p>
		<a href="/reports/reports/Notices and Events/Network18-Financials-FE.PDF"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and half year ended September 30, 2017 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reports/Notices and Events/Network18-Financials-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on October 11, 2017 published in English Newspaper-Financial Express</p>
		<a href="/reports/reports/Notices and Events/Notice of Board Meeting Scheduled on October 11, 2017 published in English Newspaper-Financial Express.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on October 11, 2017 published in Marathi Newspaper-Navshakti</p>
		<a href="/reports/reports/Notices and Events/Notice of Board Meeting Scheduled on October 11, 2017 published in Marathi Newspaper-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of 22nd Annual General Meeting, Book Closure and E-voting published in Marathi Newspaper – Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-AGM Notice-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of 22nd  Annual General Meeting, Book Closure and E-voting published in English  Newspaper – Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-AGM Notice-FE.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on July 18, 2017 published in English Newspaper-Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-BM Newspaper ad-Financial Express.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice of Board Meeting Scheduled on July 18, 2017 published in Marathi Newspaper-Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-BM Newspaper ad-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice Board Meeting Scheduled on April 19, 2017 published in English Newspaper-Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-FE.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice Board Meeting Scheduled on April 19, 2017 published in Marathi Newspaper-Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter ended June 30, 2017 published in English Newspaper Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18 Results FE.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter ended June 30, 2017 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-Results Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Audited Financial Results for the quarter and year ended March 31, 2017 published in English Newspaper Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/NW18 _ Publish Results - 31 03 2017 - English.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Audited Financial Results for the quarter and year ended March 31, 2017 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/NW18 _ Publish Results - 31 03 2017-Marathi.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and nine months ended December 31, 2016 published in English Newspaper Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18 December Results 2016-FE.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Financial Results for the quarter and nine months ended December 31, 2016 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18 December Results 2016-Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice Board Meeting Scheduled on January 14, 2017 published in English Newspaper-Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-Board Meeting Notice-English.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice Board Meeting Scheduled on January 14, 2017 published in Marathi Newspaper-Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18-Board Meeting Notice-Marathi.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice Published in Financial Express (English) and Indian Express (English) for the attention of equity shareholders of the Company in respect of transfer of equity shares</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Notice published in the Financial Express (English) for the attention of equity shareholders of the Company in respect of transfer of equity sha.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice published in the Navbharat Times (Hindi) for the attention of equity shareholders of the Company in respect of transfer of equity shares</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Notice published in the Navbharat Times (Hindi) for the attention of equity shareholders of the Company in respect of transfer of equity shares .pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice published in the Navshakti (Marathi) for the attention of equity shareholders of the Company in respect of transfer of equity shares</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Notice published in the Navshakti (Marathi) for the attention of equity shareholders of the Company in respect of transfer of equity shares of t.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Results for the quarter and half year ended September 30, 2016 published in English Newspaper Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/FE-Network18 Sept Results-2016.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone and Consolidated Unaudited Results for the quarter and half year ended September 30, 2016 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Navshakti-Network18-Sept Results-2016.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notices of 21st Annual General Meeting and E-voting published in Newspaper – Marathi</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/AGM notice_Navshakti_Network18.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notices of 21st Annual General Meeting and E-voting published in Newspaper – English</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/AGM notice_FE_Network18.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of standalone &amp; consolidated Unaudited Results for the quarter ended June 30, 2016 published in Marathi Newspaper Navshakti</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Paper Advt.Q1 Results_Navshakti.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of standalone &amp; consolidated Unaudited Results for the quarter ended June 30, 2016 published in English Newspaper Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18_Q1Results_Advt.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Network18 Intimation of Board Meeting 13.07.2016</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18 Intimation of Board Meeting 13.07.2016.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of standalone &amp; consolidated Audited Results for the quarter and year ended March 31, 2016 published in English Newspaper Jansatta</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Extract of standalone &amp; consolidated Audited_Results for the quarter and year_ended March 31, 2016 published in English Newspaper_Jansatta.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of standalone &amp; consolidated Audited Results for the quarter and year_ended March 31, 2016 published in English Newspaper Financial Expr</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Extract of standalone &amp; consolidated Audited_Results for the quarter and year_ended March 31, 2016 published in English Newspaper_Financial Expr.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice Board Meeting Scheduled on April 20, 2016 published in English Newspaper-Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18 Board Meeting_Notice_Financial Express.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice Board Meeting Scheduled on April 20, 2016 published in Hindi Newspaper-Jansatta</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Network18 Board Meeting_Notice_Jansatta.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone &amp; Consolidated UFR for the quarter and nine months ended December 31, 2015 published in English Newspapers</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Extract of Standalone &amp; Consolidated UFR for the quarter and nine months ended December 31, 2015 published in English Newspapers-Financial Expre.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Extract of Standalone &amp; Consolidated UFR for the quarter and nine months ended December 31, 2015 published in Hindi Newspapers-Jansatta</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Extract of Standalone &amp; Consolidated UFR for the quarter and nine months ended December 31, 2015 published in Hindi Newspapers-Jansatta.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice Board Meeting Scheduled on January 15, 2016 published in English Newspaper-Financial Express</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Notice Board Meeting Scheduled on January 15, 2016 published in English Newspaper-Financial Express.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Notice Board Meeting Scheduled on January 15, 2016 published in Hindi Newspaper-Jansatta</p>
		<a href="/reports/reports/Notices and Events/Newspaper Advertisement/Notice Board Meeting Scheduled on January 15, 2016 published in Hindi Newspaper-Jansatta.pdf"  class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>

</ol>