<ol class="list-group">
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Credit Rating-India Ratings (a Fitch Group Company) – September 16, 2019</p>
		<a href="/reports/reports/Notices and Events/Other Notices/NW18creditrating16092019.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Revised Credit Rating_CARE – January 31, 2019</p>
		<a href="/reports/reports/Notices and Events/Other Notices/NW18creditratingCARE.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Revised Credit Rating_ICRA – January 28, 2019</p>
		<a href="/reports/reports/Notices and Events/Other Notices/NW18CreditRatingJan2019.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Revised Credit Rating_ICRA – February 14, 2018</p>
		<a href="/reports/reports/Notices and Events/Other Notices/NW18Carecreditrating_14.02.2018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Revised Credit Rating_CARE – February 12, 2018</p>
		<a href="/reports/reports/Notices and Events/Other Notices/NW18creditratingCARECP1500cr.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Revised Credit Rating - May 29,2017</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Intimation for Credit Rating_n18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Revised Credit Rating - Jan 11,2017</p>
		<a href="/reports/reports/Notices and Events/Other Notices/SEintimationNW18CreditRating.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Network18 Credit Rating Intimation-January 2016</p>
		<a href="/reports/reports/Notices and Events/Other Notices/N18_Credit Rating Intimation_January 2016.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Revised Credit Rating- June 16, 2014</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Credit-Rating-June-16-2014.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Revised Credit Rating- June 9, 2014</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Credit-Rating_June-9-2014.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
</ol>