<ol class="list-group">
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Sale of Investments in Television Home Shopping Network Limited</p>
		<a href="/reports/reports/Notices and Events/Other Notices/NW18Saleofinvestments.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Intimation about Cessation of Homeshop18 as Associate of the Company</p>
		<a href="/reports/reports/Notices and Events/Other Notices/NW18MediaRelease06062019.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Related Party Transactions for the half year ended March 31, 2019</p>
		<a href="/reports/reports/Notices and Events/Other Notices/NW18RPTdisclosure31032019.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Appointment of Additional Director (Independent)</p>
		<a href="/reports/reports/Notices and Events/Other Notices/NW18DIRAppointment.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Resignation of Mr. Deepak Shantilal Parekh</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Update_ResignationDeepakSParekh.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Scheme of Merger by Absorption approved by NCLT, Mumbai bench</p>
		<a href="/reports/reports/Notices and Events/Other Notices/NW18DisclosurRegulation30NCLT.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Proposed Terms and conditions of re-appointment of Independent Directors</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Proposed Terms and conditions of re-appointment of Independent Directors_NW18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Authorised KMP for determining the materiality of an event for making disclosure to Stock Exchanges</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Regulation30materialityNW1812072018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Appointment of Director and Managing Director and Resignation of Manager</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Appointment of MD and Resignation of Manager.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Resignation of Ms. Nirupama Rao</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Cessation_Nirupama_NW18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Increase in shareholding in a subsidiary of the Company</p>
		<a href="/reports/reports/Notices and Events/IncreaseinshareholdinginGreycells18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Change in Director</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Network18outcome.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Scheme of Merger by Absorption</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Network18Scheme.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">TV18 Home Shopping Network Limited and NW18 HSN Holdings Plc ceased to be subsidiaries of the Company</p>
		<a href="/reports/reports/Notices and Events/Other Notices/SHOPCJMediaRelease15022018.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>


	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Homeshop18 &amp; Shop CJ combine to form India’s largest TV Home Shopping Platform</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Shopcjnew.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Restructuring of Burrp</p>
		<a href="/reports/reports/Notices and Events/Other Notices/SEDisclosuresBurrprestructuing.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>

	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Scheme of Amalgamation</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Scheme of Amalgamation.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Change in Director &amp; CFO</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Change in Director &amp; CFO.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>

	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Intimation for Shifting of the Registered Office of the Company</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Shifting of Regd Office SE Intimation NW18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Summary of resignation of directors</p>
		<a href="/reports/reports/Notices and Events/Other Notices/SummaryofResignationofDirectors_NW18-01.04.2019.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Intimation regarding appointment of independent director</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Intimation_Appointment.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>

	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Intimation reg Appointment of Editor-in-Chief at Network18 Group</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Intimation_stockexchange.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Terms and Conditions of Independent Directors</p>
		<a href="/reports/reports/Notices and Events/Terms and Conditions of Independent Directors.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Recommendation of Committee of Independent Directors on the Open Offer</p>
		<a href="/reports/reports/Notices and Events/Other Notices/SE_Letter_IDC_N18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Change in Directors and Promoters</p>
		<a href="/reports/reports/Notices and Events/Other Notices/stock-exchange-communication.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>

	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Information in accordance with the SEBI Circular dated January 17, 2013- Stock Scheme</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Information in accordance with the SEBI Circular dated January 17, 2013- Stock Scheme.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Split Cost of Shares -Regarding the Scheme of Arrangement ("Scheme") between Network18 Media &amp; Investments Limited and Infomedia Press Limited (formerly known as Infomedia18 Limited)</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Split Cost of Shares Infomedia18 Limited.PDF" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">CALL MONEY NOTICE August 2008</p>
		<a href="/reports/reports/Notices and Events/Other Notices/CALL MONEY NOTICE August 2008.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Directors Resignation letter Network18</p>
		<a href="/reports/reports/Notices and Events/Other Notices/Directors _Resignation letter_Network18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
</ol>