<ol class="list-group">
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Corporate Governance Report September 30, 2015</p>
		<a href="/reports/reports/Notices and Events/corporate-governance/Corporate Governance Report_Sept 2015_NW18.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Corporate Governance Report June 30, 2015</p>
		<a href="/reports/reports/Notices and Events/corporate-governance/Corporate_Governance_Report_June-30-2015.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Corporate Governance Report March 31, 2015</p>
		<a href="/reports/reports/Notices and Events/corporate-governance/Corporate_Governance_Report_March-31-2015.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Corporate Governance Report Dec 31, 2014</p>
		<a href="/reports/reports/Notices and Events/corporate-governance/Corporate_Governance_Report_Dec 31-2014.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Corporate Governance Report Sept 30, 2014</p>
		<a href="/reports/reports/Notices and Events/corporate-governance/Corporate_Governance_Report_Sept-30-2014.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
	<li class="list-group-item transUp" du-parallax y="transY">
		<p class="investor_title_text">Corporate Governance Report June 30, 2014</p>
		<a href="/reports/reports/Notices and Events/corporate-governance/Corporate_Governance_Report_June-30-2014.pdf" class="btn btn-lg bordDwlBtn" target="_blank"><i style="" class="fa fa-file-pdf-o"></i> Download</a>
	</li>
</ol>