<div class="headerFiller"></div>
<div class="portfolioContainer">
  <div class="row">
    <div class="video-cont">
      <div class="vid-bg">

      </div>
      <video width="100%" autoplay loop class="top">
        <source src="images/about_us.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="container" style="">
    
    <div class="">
      <h2 class="text-center corp-head" style="">History <span style="">|</span> Vision <span style="">|</span> Values</h2>
      <div class="row box-flex">
        <div class="col-md-3">
          <div class="box">
            <img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
            <div class="boxTextBot">
              <a href="/corporate-main">company <br> history</a>
            </div>
          </div>
          <div class="box">
            <img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
            <div class="boxTextBot">
              <a href="/Corporate-main#brdDirInt">board of <br> directors</a>
            </div>
          </div>
          <div class="box">
            <img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
            <div class="boxTextBot">
              <a href="/corporate-main#globPartInt">global <br>partners</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 centerCoverText">
          <h3>About NETWORK18</h3>
          <p>Network18 Media & Investments Limited (the Company) is one of India’s most diverse and leading Media and Entertainment conglomerates with interests in television, internet, filmed entertainment, e-commerce marketplace and properties, magazines, mobile content and allied businesses. Network18 reaches out to more than 550 million television viewers and attracts more than 27 million unique visitors on its digital properties.</p>
          <p>Network18’s bouquet of 35 television channels offers a unique mix of national and regional programming, catering to diverse languages and genres. Network18’s digital content and commerce segment includes a diversified portfolio of brands catering to a wide range of interests and services, including news and entertainment, markets and finance, online shopping and ticketing, and mobile phone services and applications.</p>
          <p>Network18’s bouquet of 35 television channels offers a unique mix of national and regional programming, catering to diverse languages and genres. Network18’s digital content and commerce segment includes a diversified portfolio of brands catering to a wide range of interests and services, including news and entertainment, markets and finance, online shopping and ticketing, and online shopping and ticketing, and mobile phone services and applications. online shopping and ticketing, and mobile phone services and applications. </p>
        </div>
        <div class="col-md-3">
          <div class="box">
            <img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
            <div class="boxTextBot">
              <a href="/corporate-main#brdCmtii">board <br>committee</a>
            </div>
          </div>
          <div class="box">
            <img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
            <div class="boxTextBot">
              <a href="/corporate-main#csrID">corporate <br>social <br>responsibility</a>
            </div>
          </div>
          <div class="box">
            <img src="/images/watch_grey.jpg" alt="" class="corp-img-cont">
            <div class="boxTextBot">
              <a href="/corporate-main#">our <br>investment</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
